[2016-05-23 21:13] annahaensch commented on #748
I think perhaps a more interesting thing would be to add lattices in the same genus (these would be the ones given by "genus representatives") as friends of any given lattice. Or perhaps design it so you can click on any of the genus representatives to arrive at that lattice's homepage.

[2016-05-23 21:20] AndrewVSutherland commented on #1444
This would be an awesome addition.  I'd definitely be keen to work on this for v2.0.   I'll communicate with the Dokchitser's directly.

[2016-05-24 00:43] jvoight commented on #1442
OK, thanks for sorting this as appropriate--I wasn't sure if it was included in the sweeping net of other issues.  Is someone keeping a track in the test files of any one of these that is reported, to make sure in the corrected version that they are correct?

[2016-05-24 00:57] jwbober commented on #1248
I just posted a list of the first 50 traces for everything I've got at http://www.maths.bris.ac.uk/~jb12407/newform-fields/NEWFORM_TRACES. (I don't know why I chose 50 instead of 100...) Actually, nope, I did for(k = 1; k < 50; k++), so there are 49 traces...

The format is a newform [orbit] per line. On each line there is a list of labels, level.weight.character.number, then a semicolon, then a l

[2016-05-24 01:02] AndrewVSutherland commented on #1442
I have a test script that runs through every space in the database that
checks basic consistency and that all the pages load without errors, I
am going to update it to check that the Galois conjugates listed for
each Hecke orbit all give consistent information (i.e. display a page
with the correct dimension or say they are conjugate to one that does).

This test script is rerun every time there is

[2016-05-24 01:06] AndrewVSutherland commented on #1248
@jwbober Wonderful, thank you.  I have done similar computations using Magma for all the spaces that fall with the extent we currently list on http://beta.lmfdb.org/knowledge/show/mf.elliptic.extent.  Tomorrow I will start working on matching all 3 lists (mine, yours, and what is currently in the LMFDB).

[2016-05-24 01:13] sehlen commented on #1248
Please wait matching with the LMFDB.
I screwed up a few spaces on Saturday when I started to "fix" them but was
traveling for the last two days. I will take care of them tomorrow (the
problem I caused has to do with the Galois conjugates) and maybe we should
start doing the matching after the fixing is done (by replacing old
records).

On Mon, May 23, 2016 at 9:06 PM Andrew Sutherland <notificatio

[2016-05-24 01:20] AndrewVSutherland commented on #1248
@sehlen, no problem, I'll focus on matching with @jwbober's list first
(but presumably it is ok to check the newforms in the LMFDB with trivial
character, we believe these are all now correct, right?)

On 2016-05-23 21:13, Stephan Ehlen wrote:

[2016-05-24 01:24] jwbober commented on #1248
I just started a computation for all characters in (k, N) in [13,30] x
[1,30]. I expect it will finish in a few hours, or at least by tomorrow
evening. But I won't have time to look at the results until tomorrow
evening anyway.

(In the next few weeks I'll clean up my code and get more organized, and
then start these computations over "for real". I was just looking at the
precision where I've comp

[2016-05-24 08:30] JohnCremona commented on #1248
Thanks to all three of you (at least) for doing this so systematically.  When we (you) are done I think we should document in the appropriate data quality knowl that this data has been independently computed in Sage, Magma and JB's C code and checked for consistency, both internally and between the three sets of computations.  I wish we could have such good independent checks for all the data we h

[2016-05-24 12:43] JohnCremona opened #1447 "sort number fields on download"
On lmfdb-support, Alex Bartel pointed out

"If I download a file containing a list of number fields, then the entries are sorted in a weird way. The concrete example that I caught occurs if you press the MAGMA button on this page: http://beta.lmfdb.org/NumberField/?degree=4&signature=&discriminant=&galois_group=C4&ur_primes=&ram_quantifier=some&ram_primes=&class_number=&class_group=&count=20&searc

[2016-05-24 15:03] AndrewVSutherland commented on #1431
Just to follow up on this, according to "https://github.com/LMFDB/lmfdb-inventory/blob/master/db-Lfunction.md" we should be able to delete the Lfunction database (everything is in Lfunctions).

Any objections?

[2016-05-24 15:43] JohnCremona commented on #1431
Not from me.  Two of the collectios are *Test anyway, so if we are sure about the 438 items in LemurellMaassHighDegree then fine.

[2016-05-24 15:52] AndrewVSutherland commented on #1431
@JohnCremona I am not sure, and in fact I notice that this collection *is* referenced in the code, see https://github.com/LMFDB/lmfdb/search?utf8=%E2%9C%93&q=LemurellMaassHighDegree.

Maybe it would be a good idea to copy this collection into the Lfunctions database?  Or at least ask @davidfarmer about it?

[2016-05-24 16:04] AndrewVSutherland commented on #1431
And in fact the two "test" collections are also referenced in https://github.com/LMFDB/lmfdb/blob/master/lmfdb/lfunctions/LfunctionDatabase.py

[2016-05-24 16:14] JohnCremona commented on #1431
OK let's leave them.  L-functions are in a transitional stage so we cannot expect the set of collections to be 100% tidy right now.

[2016-05-24 17:02] #1447 closed

[2016-05-24 19:01] JohnCremona commented on #1361
Number fields only offer downloads if there are <= 100,000 results.  Your example (run locally) produces a 50mb file.  Even if the server could produce the file to download quickly the download time could be too great (depending on the users's connection).
I will put in a limit of 100,000 and see how that looks.

[2016-05-24 19:16] edgarcosta commented on #1431
Should I merge #1373 into this issue?
Most of the databases have those two collections that I believe to be relics of mongodb 2.4.

[2016-05-24 19:36] sehlen commented on #1248
@AndrewVSutherland The issue reported by @jvoight https://github.com/LMFDB/lmfdb/issues/1442#issue-156183423 was actually caused by my fix of pages like /5/4/4/ ending up being empty in my pull request last week. I'm sorry... I saw the issue this weekend myself but didn't have much time so I just put it quickly on my personal todo list - it is fixed now in https://github.com/LMFDB/lmfdb/pull/1453

[2016-05-24 19:42] jenpaulhus commented on #1431
From Drew's list a couple days ago:

curve_automorphisms is "mine". I'm still a bit fuzzy about the cloud vs beta/development, but pages like
http://www.lmfdb.org/HigherGenus/C/aut/3.96-64.0.2-3-8
use that database.  There is no link on the sidebar yet, even in beta (I want to make sure a couple of other features are in place before then.)

Making a page for it on lmfdb-inventory is on my to do li

[2016-05-24 19:50] JohnCremona commented on #1373
No idea.  @haraldschilly , @jwbober ?

[2016-05-24 20:34] haraldschilly commented on #1373
I don't really know. This could be the storage for the account data for just the knowl and user database. Or are these credentials stored somewhere else now?

[2016-05-24 20:48] jwbober commented on #1373
Yes, the system.users collection does look old.

The system.profile collection seems to have something to do with mongodb
profiling. I've never used that, but perhaps someone else has.

On Tue, May 24, 2016 at 9:30 PM, John Cremona <notifications@github.com>
wrote:

[2016-05-24 21:35] AndrewVSutherland commented on #1431
@jenpaulhus Thanks for the confirmation.  Given that the pages are accessible (but hidden) on www.lmfdb.org, I think it makes sense to leave these on the "cloud server", by which I mean the mongo db hosted by ms.lmfdb.xyz, which serves data to the web servers hosting www.lmfdb.org (and running the LMFDB application code), all of which are instances in Google's Compute Engine (aka "the cloud"); thi

[2016-05-24 21:40] AndrewVSutherland commented on #1248
@sehlen, great, I'll take a look at the new pull request either tonight
or tomorrow morning.

On 2016-05-24 16:09, Stephan Ehlen wrote:

[2016-05-24 21:41] AndrewVSutherland commented on #1431
@edgarcosta Yes I think it makes sense to merge #1373 into this one.  So far we have been focusing on the database level, but the next step is to drill down to collections.

[2016-05-25 01:42] AndrewVSutherland opened #1454 "Classical modular form page won't load"
The page http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/6/2/ times out and produces a 502 error (also on beta).

[2016-05-25 01:46] AndrewVSutherland commented on #1248
@sehlen, I'm testing PR #1453 but I keep bumping into other problems (so far none obviously related to changes in the PR so I am reporting them elsewhere).  I get a problem with Hecke orbits in the database error message for http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/32/2/21/ (and also on beta).

[2016-05-25 01:56] sehlen commented on #1248
Well, of course since the data is not fixed. There will be many more. I'm
still preparing fixing all of the data but keep running into smaller
issues.

I'm commenting on the first one you reported at
https://github.com/LMFDB/lmfdb/issues/1454 and this one here is something
I'm currently on to. I saw that the dimension_table collection sometimes
contains multiple entries when it should really just

[2016-05-25 01:57] jwbober commented on #1248
I've just updated http://www.maths.bris.ac.uk/~jb12407/newform-fields/ with
all (k, N) in [2,30] x [2,30], and the NEWFORM_TRACES file now contains
first 99 traces. Also, the file is actually sorted now.

oops. I meant to do 100 this time, and I'm running it again just to do 100
instead of 99, but it takes a few hours because it's I/O bound. (Every
newform is stored in a different file, so it has

[2016-05-25 02:19] sehlen commented on #1454
This is caused by a large record (the file in gridfs is 50MB).
Issues like this are all over the place but are solved by creating a smaller record which I'll do systematically when updating all of the data.

However, what is strange is that when I just created a much smaller record for 23.6.2.a, it still times out on beta and loads but takes quite a while if I run it locally. Could this have to do

[2016-05-25 02:28] sehlen commented on #1454
But there are certainly also some other issues here because for this particular form (the number field has degree 90 over Q), the function determining if the q-expansion should be hidden or not takes 10s ;-)
So we have to save that in the db! I will include this into the list of things I need to prepare before we recompute/fix the data.

[2016-05-25 02:47] AndrewVSutherland commented on #1248
@sehlen I understand (and expected) that the problems are likely due to outstanding issues in the data (although I'm surprised by the behavior in https://github.com/LMFDB/lmfdb/issues/1454, which just appears to hang), I'm reporting them in case it is helpful to you.

@jwbober You are a madman (but one after my own heart).   There is certainly no need to go to 100 rather than 99, but proceed as yo

[2016-05-25 02:59] AndrewVSutherland commented on #1454
@sehlen -- The advice I gave to others was to rewrite all the records to a new collection (with no indexes on it) and to then create the indexes, and I provided a utility function to do this (see https://github.com/LMFDB/lmfdb/blob/master/data_mgt/utilities/rewrite.py).  When this has completed you can rename the collections to replace the old one with the new one (this takes no time).

Regarding

[2016-05-25 07:38] JohnCremona commented on #1373
We could try dropping them and restarting mongo;  if something stopped working, restore them.  That would mean being certain that we could restore them. Perhaps just renaming them might be safer.

[2016-05-25 08:36] lemurell commented on #1431
It is safe to delete the Lfunction database. Everything of value is now in Lfunctions. The code that references the collections is obsolete

/Stefan

From: Andrew Sutherland [mailto:notifications@github.com]
Sent: den 24 maj 2016 17:52
To: LMFDB/lmfdb <lmfdb@noreply.github.com>
Subject: Re: [LMFDB/lmfdb] Remove obsolete/empty databases from mongo db (#1431)

@JohnCremona<https://github.com/JohnCre

[2016-05-25 08:47] JohnCremona commented on #1431
Thanks Stefan.   It would then be helpful to remove the obsolete code, could you do that?   Nothing g is ever really lost it git anyway.

[2016-05-25 09:53] fredstro commented on #1454
@sehlen I assume that  setting the space_orbit_label to be unique means
that we will only store one space per galois orbit.
And make sure that you are recreateing it everywhere to avoid confusion
since it used to be defined as  N.k.j with j being the index of the galois
orbit of the character in the list of all galois orbits.

On Wed, 25 May 2016 03:59 Andrew Sutherland, <notifications@github.com>

[2016-05-25 10:06] AndrewVSutherland opened #1456 "Remove obsolete L-function code"
As noted in https://github.com/LMFDB/lmfdb/issues/1431#issuecomment-221508874, there is some obsolete L-function code that uses the mongo db database Lfunction which we would like to remove (it has been superseded by Lfunctions).

The purpose of this issue is to remove the obsolete code and perform any other associated cleanup/reorganization of the L-function code that is appropriate.  @lemurell h

[2016-05-25 10:23] JohnCremona commented on #1358
I think this will be closed at the same time as #1318 which I am working on.

[2016-05-25 10:25] JohnCremona commented on #1361
#1452 fixes this and has been merged to master, not yet to beta/prod.

[2016-05-25 10:29] JohnCremona commented on #1318
Any objection to closing this since #1439 fixes it and the new collection (curves2) has been copied to the cloud?  (Aside: how can I check the last assertion?)
The next stages will be (1) rename curves -> oldcurves in Warwick (then the rename will be replicated).  No effect on servers since the code uses curves2 when it exists;  (2) rename curves2 -> curves similarly; (3) change the code (one smal

[2016-05-25 10:36] sehlen commented on #1454
On Wed, May 25, 2016, 05:53 Fredrik Strömberg <notifications@github.com>
wrote:

@Fredstro

I think I argued for having all of them at some point but now it seems just
like a waste of space since the records get so large so easily.

And make sure that you are recreateing it everywhere to avoid confusion

Are you sure? I stopped the process yesterday and I guess I might have
misunderstood it and ha

[2016-05-25 10:36] JohnCremona commented on #1179
@edgarcosta Any objection to closing this?

[2016-05-25 10:45] fredstro commented on #1454
@sehlen I see now, you are probably right. It seems that I was thinking of the  ‘space_orbit_label’.
I don’t know how the duplicates came about in the dimension table. In the ‘WebModFormSpace_computing.update_dimension_table()’
routine we always check for an existing ‘space_label’ first.
But of course, since we haven’t used indexing it could happen that this table has been updated from a separate

[2016-05-25 10:52] sehlen commented on #1454
@Fredstro: making this check is not enough given the current template(s).
You'll end up with different spaces having the same galois orbit entry but
possibly even in a different order (it's a sequence and it is not being
sorted). They show up several times on the page for Gamma1 (and in that way
it's a duplicate), possibly in different orderings. That's why I wanted the
space_orbit_label (you repe

[2016-05-25 11:01] fredstro commented on #1454
@sehlen:
I see, I was confused since I was obviously correct  in that ‘space_orbit_label’ denotes the number of the orbit in the list of all orbits I assumed that
you were referring to something else…
in the class we are  defining it in terms of the function
conrey_character_number_to_conrey_galois_orbit_number
and it seems that you haven’t changed this definition in web_modform_space_computing.py

[2016-05-25 11:08] sehlen commented on #1454
@fredstro: ok, my bad. I'm not sure how it should be but I'll take a look
in a bit.

On Wed, May 25, 2016, 07:02 Fredrik Strömberg <notifications@github.com>
wrote:

[2016-05-25 13:16] AndrewVSutherland commented on #1318
I think this can be closed, I want to run a few more tests on beta and
then push to prod.

On 2016-05-25 06:29, John Cremona wrote:

Look at the elliptic_curves database in http://www.lmfdb.org/api/

[2016-05-25 13:17] #1318 closed

[2016-05-25 13:58] JohnCremona commented on #1318
@AndrewVSutherland -- of course, thanks to Harald for the api!
Incidentally, what tests are you doing?

[2016-05-25 14:25] fredstro commented on #1454
@sehlen: well I was confusing things from the beginning…
I hope that if I leave you alone with this for a while all records will be consistent :)
And I really appreciate that you are cleaning it up, just make sure that all these properties are documented (something which I have probably been very bad with)

[2016-05-25 21:12] edgarcosta commented on #1179
@JohnCremona It is totally up to you

[2016-05-25 21:16] AndrewVSutherland commented on #1179
I don't think the bot will object to closing, and there are a lot of other issues to deal with so I vote close (in fact I will :))

[2016-05-25 21:16] #1179 closed

[2016-05-26 01:10] edgarcosta commented on #1373
systems.users is no longer used by mongodb
and system.profile is an empty collection...

One of the spare servers, that Drew and I have been using to run some tests, already doesn't have those two collections.
[code]
this server: www-central3.lmfdb.xyz is reading from that spare mongodb server, and I didn't notice anything weird with the knowls (apart from being outdated)

[2016-05-26 01:15] edgarcosta commented on #1247
I talked briefly with Sarunas and he confirmed that we would need to put a http server (eg nginx/apache) in front of gunicorn.

I can add that to my todo list, but not a priority at the moment for me.

[2016-05-26 01:41] AndrewVSutherland commented on #1247
I just added a bash script tcurl.sh to the new directory LMFDB/lmfdb/perfmon that can be helpful to monitor and test performance (I plan to add more later).  It reads from standard input and expects a
list of URLs (which can be piped from a file).  Below is a condensed version of the output from
./tcurl.sh 5 <NFpages.txt where I just show the total time (my connect times to www.lmfdb.org are consi

[2016-05-26 01:43] AndrewVSutherland commented on #1247
@edgarcosta Agreed, not a priority (the savings will be measure in milliseconds, not seconds, which is what we are after at the moment).

[2016-05-26 01:44] edgarcosta commented on #1247
The timeout is still at 30s.
https://github.com/edgarcosta/lmfdb-gce/blob/master/config/gunicorn-config-prod

[2016-05-26 01:47] AndrewVSutherland commented on #1247
@edgarcosta It's strange that I was able to get a timing of 60 seconds earlier then.

[2016-05-26 02:02] edgarcosta commented on #1247
Strange indeed, as it means that two things failed. The gunicorn timeout setting and the  load balancer timeout setting.

[2016-05-26 02:02] AndrewVSutherland commented on #1247
Here is a similar set of baseline timings for the elliptic curves over Q pages (again each is median of 5 and the timings were taken before the most recent push to prod):

http://www.lmfdb.org/EllipticCurve/Q/11/a/ : Total time: 0.562
http://www.lmfdb.org/EllipticCurve/Q/11/a/1 : Total time: 0.686
http://www.lmfdb.org/EllipticCurve/Q/389/a/ : Total time: 0.337
http://www.lmfdb.org/EllipticCurve/Q/

[2016-05-26 02:03] AndrewVSutherland commented on #1247
@edgarcosta try curling this URL "http://www.lmfdb.org/EllipticCurve/Q/?surj_primes=2,3,5,7,11,13,17"  I'd be curious to know what times you get, I occasionally see 60 seconds (even now).

[2016-05-26 02:08] edgarcosta commented on #1247
I'm very confused, I was just playing around with http://lmfdb.org/EllipticCurve/6.6.371293.1/79.1/c/4
and also got some weird timings, precisely TTFB of 31.5s and 33s...

I'm curling "http://www.lmfdb.org/EllipticCurve/Q/?surj_primes=2,3,5,7,11,13,17" on an infinite loop and keep getting no more than 4s.

[2016-05-26 02:11] AndrewVSutherland commented on #1247
Yeah, there is definitely weirdness here that I would like to figure out; there are many layers where caching could be happening, and also potential one-time costs (e.g. starting a new worker).  Its only anecdotal, but I will say that I often find that if I just go to the LMFDB out of the blue, the first page request for something completely new (not the top page) is often very slow (20-30s).    I

[2016-05-26 02:41] edgarcosta commented on #1247
I got some weird ones for the ramified primes: 8s, 28s and 32s

Other day

Caching at the moment should only happen at the DB level (and browser)

I also think it is very unlikely that you will ever notice the cost of starting a new worker (unless we just restarted gunicorn due to code changes).
1- It is very unlikely there are 18 workers serving lmfdb.org
2 -I don't think gunicorn would send a re

[2016-05-26 03:24] jwj61 commented on #1247
Thanks for all the work on optimizing.  It is making lots of the site much faster.

I noticed that some of the slow number field searchers are things I think would be relatively uncommon for people doing research.  I think most number field searches will have degree as one of the parameters.  That is why we have many multiple indices starting with degree.  On the JR number field database, I pre-fi

[2016-05-26 08:23] JohnCremona commented on #1247
Just acknowledging the query about why random ec is now slower.  Two ideas for improving that -- though neither has changed with the new collection & code:
 - random_object_from_collection() returns the whole object, picks out its label and then goes all round the houses before getting to actually render the page.  I think I can improve that.
 - it uses 'label' rather than 'lmfdb_label' but the co

[2016-05-26 08:35] AndrewVSutherland commented on #1247
On 2016-05-25 22:41, edgarcosta wrote:

Good to know, I wasn't sure whether we were also caching at the
webserver level.

I agree that creating a forked process should be very quick (a few
milliseconds if that).  Just to make sure I understand 1, are you saying
there should always be 18 workers up and running at any given point in
time (I think this is what should be true)?  If so I agree this sho

[2016-05-26 08:39] AndrewVSutherland commented on #1247
@JohnCremona What is puzzling to me is that the random E/Q search is much slower than it was before (whereas everything else is pretty much the same or slightly faster).  I did check that curves2 has all the indexes that curves does, and it does appear to.  Still scratching my head...

[2016-05-26 09:02] JohnCremona commented on #1247
Please try out PR #1463 and see if that helps.

[2016-05-26 09:04] haraldschilly commented on #1247
On Thu, May 26, 2016 at 4:11 AM, Andrew Sutherland <notifications@github.com

​Do you know if this is maybe related to a longer lookup time of the DNS
(maybe your dns server is a bit slow?) or is it the time it takes for
establishing the initial connection​?

Also, does this happen only with lmfdb or also other websites? There are
many reasons why the initial connection isn't working as as fast as

[2016-05-26 09:18] AndrewVSutherland commented on #1247
@haraldschilly I don't think it is the DNS lookup, it is specific to the LMFDB and curl reports fast connect times but very long TTFBs, and generally this happens only for pages that involve a database lookup.  For example if you type in the URL http://www.lmfdb.org/nothingthere you will always get a response back very quickly with an LMFDB formatted page saying it could not find the URL you were

[2016-05-26 09:51] AndrewVSutherland commented on #1247
@JohnCremona, @jwj61, @edgarcosta So now something even stranger is happening.  Using the script https://github.com/LMFDB/lmfdb/blob/master/perfmon/random_timings.sh I just ran

./random_timings.sh 3

on my desktop at home, computer at MIT, and on atkin.  I see essentially the same thing in all three cases, which is that now http://www.lmfdb.org//EllipticCurve/Q/random is quite fast, but http://ww

[2016-05-26 09:55] AndrewVSutherland commented on #1247
Just to clarify, PR #1463 (which looks like a good idea but shouldn't make a huge difference) has not been merged yet.  I have to run now but I will leave the tests running

[2016-05-26 12:02] edgarcosta commented on #1247
@AndrewVSutherland  there are 9 workers up and running on any given point on each machine.

[2016-05-26 12:14] haraldschilly commented on #1247
If this is really related to the workers, such that they have to compute something or query the DB before serving requests, we should try to figure this out. However, I don't know all the details of gunicorn, but I suspect that there could be a possibility to hook into a callback after a new worker has been for forked. Then, in that callback function, a few "warm up" requests could be issued to th

[2016-05-26 12:17] haraldschilly commented on #1247
maybe http://docs.gunicorn.org/en/stable/settings.html#post-worker-init but I don't even know how to actually write such a function and hook it up.

[2016-05-26 12:52] AndrewVSutherland commented on #1247
@haraldschilly Thanks, that could be very useful.  But I think we probably first need to get a better understanding of what is going on.

In other news, I left the random object queries I mentioned above running in a loop for the past few hours on three different machines, and now both the EllipticCurve and NumberField random object queries seem to be taking about the same time (5-7 seconds, slow

[2016-05-26 13:04] JohnCremona commented on #1247
So the aggregate feature seems to be a very slow way of getting one item from a large collection.
With the old way (for which the code must be vivible with the right git command) we counted the collection, say n items, computed a rnadom integer from 0 to n-1 and indexed the result of a find() with that.
It might be worth trying to change the random_object_from_collection function to do that to see

[2016-05-26 13:09] edgarcosta commented on #1247
I still think that aggregate is the right way.

Here some other more inneficient ways:
http://stackoverflow.com/questions/2824157/random-record-from-mongodb

On 26 May 2016 at 09:04, John Cremona <notifications@github.com> wrote:

[2016-05-26 13:17] edgarcosta commented on #1247
@AndrewVSutherland What about we try to run those timings on the server
directly? i.e., start a worker and run all the tests on the same worker.
This way we avoid the many layers of stuff that we don't yet fully
understand.

On 26 May 2016 at 09:09, Edgar Costa <edgarcosta@math.dartmouth.edu> wrote:

[2016-05-26 14:19] AndrewVSutherland commented on #1247
On 2016-05-26 09:17, edgarcosta wrote:

I agree this is a good idea.  As far as the random object queries go, I
think we know what the problem is; .aggregate is slow -- I have verified
this directly in mongo on ms (so no webserver, no sage no pymongo,
straight to the db).  But for the more general issue of why sometimes
the first page request is slow and subsequent requests are fast, this
would be

[2016-05-28 21:51] AndrewVSutherland opened #1472 "Problems with elliptic curve bread crumbs"
If you go to the page http://www.lmfdb.org/EllipticCurve/Q/11/ (which you can reach via http://www.lmfdb.org/EllipticCurve/Q/11/a/1 and clicking on the breakcrumb for 11) and then click the "refine or change search" button you will get a server error (regardless of any search criteria you specify and even if you don't specify any)

The analogous problem does not occur for the ecnf pages, but now t

[2016-05-29 19:21] AndrewVSutherland commented on #1431
With help from @sehlen and @fredstro I was able to remove what I believe are all unnecessary collections from the modularforms2 database in the cloud; only the following collections remain:

dimension_table
webmodformspace webmodformspace.chunks webmodformspace.files
webnewforms webnewforms.chunks webnewforms.files
webeigenvalues.chunks webeigenvalues.files
webchar webchar.chunks webchar.files

Mo

[2016-05-29 21:50] edgarcosta commented on #1373
Closing and moving it to #1431

[2016-05-29 21:50] #1373 closed

[2016-05-29 22:07] edgarcosta commented on #1431
@AndrewVSutherland I don't follow what you mean by this:

The disk? and what server are you talking about?

Regarding

I believe that Sarunas is done testing the different storage engines, see the *png files in:
https://github.com/edgarcosta/lmfdb-gce/tree/master/ab/ms-bench_n1hcpu4_storage
Thus we are close to just push a new snapshot of the DB to ms.lmfdb.xyz.

[2016-05-29 22:17] AndrewVSutherland commented on #1431
In mongo on ms.lmfdb.xyz do db.stats and look at the free list size.

On May 29, 2016 6:07:35 PM EDT, edgarcosta <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-05-29 22:45] edgarcosta commented on #1431
I see.
When we switch the engine in non-human effort way, mongo will take care of all that. We will do this soon.

[2016-05-30 09:05] AndrewVSutherland commented on #1361
Now fixed on beta/prod.

[2016-05-30 09:05] #1361 closed

[2016-05-30 10:29] AndrewVSutherland commented on #1431
@edgarcosta Sounds good.  I just copied over a new set of modular forms data so that there is currently two copies of evey collection in modularforms2 and there is still 460GB free.

[2016-05-30 12:53] AndrewVSutherland commented on #1247
PR #1477 which optimized random object lookup along the lines suggested above (does not use aggregate, instead uses a separate collection indexed by num to get the object ids) is now live on www.lmfdb.org and has improved performance substantially for random object looks in large collections (more than 50 times faster in some cases).  All the random object lookups now have TTFBs under 300 millisec

[2016-05-30 12:56] AndrewVSutherland commented on #1454
The fix is now live on www.lmfdb.org, the page http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/6/2/ loads now.

[2016-05-30 12:56] #1454 closed

[2016-05-30 12:59] #1334 closed

[2016-05-30 13:04] AndrewVSutherland commented on #1237
I think the immediate issue here has been resolved by the series of recent PRs for classical modular forms (we now simply suppress the display of q-expansions that are too unwieldly to fit on the screen in a reasonable way).  Certainly we need to think about how to handle this issue more generally, especially in cases where we might have only numerical approximations for the q-expansions (per rema

[2016-05-30 13:04] #1237 closed

[2016-05-30 13:07] AndrewVSutherland commented on #1434
You can now access random modular forms via http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/random.  Once issue #1248 has been addressed we can link this to a button on the main page for classical modular forms (I'll leave the issue open until that happens).

[2016-05-30 13:09] AndrewVSutherland commented on #510
This is fixed as of PR #1465 (possibly earlier), closing.

[2016-05-30 13:09] #510 closed

[2016-05-30 13:11] AndrewVSutherland commented on #1233
The page in question (http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/9/22/a/) now loads correctly.

[2016-05-30 13:11] #1233 closed

[2016-05-30 13:15] AndrewVSutherland commented on #958
A basic implementation of this is now up (for sage, and on the space pages, magma).

[2016-05-30 13:17] #958 closed

[2016-05-30 13:40] AndrewVSutherland commented on #463
source and extent knowls are now present on http://www.lmfdb.org/Character/Dirichlet/

[2016-05-30 13:40] #463 closed

[2016-05-30 13:50] AndrewVSutherland commented on #449
I plan to implement a simple web crawler that will attempt to load any and every page it can (anything with a static URL) starting from a given entry point (this includes pages .../random, so it can reach pages that might otherwise require data entry);  the goal would simply be to detect pages that won't load at all due to timeouts (502s),  "Internal server errors", or other fatal errors.  It will

[2016-05-30 14:07] AndrewVSutherland opened #1481 "Add genus 2 curve search filter for simple Jacobians"
When browsing/searching genus 2 curves it is naturally to want to distinguish curves whose Jacobians are simple or geometrically simple.  This would make it easy to search for curves with RM, QM, or CM, all of which are difficult to do at present.

This would be easy to support, but to do so efficiently we will want to copy the "is_simple_base" and "is_simple_geom" attributes currently stored in t

[2016-05-30 15:52] edgarcosta commented on #1247
@AndrewVSutherland I believe that something got broken before your fix.
As I recall after switching to aggregate that
"EllipticCurve/Q/random" and "ModularForm/GL2/TotallyReal/random"
were quite fast.
Those two, were my main motivations for the switch.

[2016-05-30 15:53] edgarcosta commented on #449
@AndrewVSutherland why not wget -r ? and then use the logs?

[2016-05-30 16:57] AndrewVSutherland commented on #1247
@edgarcosta I have seen EllipticCurve/Q/random fast, and I have seen NumberField/random fast, but never both at the same time (see the logs in some of the comments above).  I believe this has to do with some sort of memory/caching constraint.  ModularForm/GL2/TottallyReal/random has always been reasonable (a few seconds).

In any case, everything is fast with the new implementation and it requires

[2016-05-30 22:49] AndrewVSutherland commented on #449
@edgarcosta Not a bad idea, although I want to also measure load times and look for error messages in the returned data, but it might be worth seeing if I can figure out how to to this with wget first.

[2016-05-30 23:23] edgarcosta commented on #449
Hmm, I don't think wget will give you loading times, only download times.

I would try to find some script based on curl and tweak it to your needs, or build your own with libcurl.
https://curl.haxx.se/docs/faq.html#Can_I_do_recursive_fetches_with

[2016-05-30 23:28] AndrewVSutherland commented on #449
libcurl is what I was planning to use (probably via pycurl
http://pycurl.io/), but I might be able to do what I want just using
urllib2

On 2016-05-30 19:23, edgarcosta wrote:

[2016-06-01 09:22] AurelPage opened #1483 "EC/ECNF: search by size of isogeny class"
**_1 Upvote**_ It would be nice to be able to search elliptic curves by size of the isogeny class (<=, ==, >=). This should be possible with the existing data using the fact that the elliptic curves in an isogeny class are labelled 1, ... , size of isogeny class.

[2016-06-01 09:39] AndrewVSutherland commented on #1483
+1 I would like to have this feature too, and I agree that an search would be very easy to implement (just query on the "number" attribute).

Doing an interval search would require a little more thought (you would want to project down to one record per isogeny class).  The non-trivial part of this would be implementing browse/search pages for isogney classes, which do not currently exist.  On the

[2016-06-01 11:36] JohnCremona commented on #1483
I think there may be a small misunderstanding here: the 'number' field is the index of a curve in its class, so searching for {'number':5} will find a curve in every class whose size it at least 5, not exactly 5.  To avoide awkward code we could store the size ofthe isogeny class with every curve, or with one curve per class.  So far we have managed to avoid having a separate collection for isogen

[2016-06-01 11:47] AndrewVSutherland commented on #1483
@JohnCremona You are right of course, I responded to quickly.

[2016-06-01 13:19] sanni85 opened #1484 "ECNF: sort summary pages"
Once on http://lmfdb.org/EllipticCurve/browse/ if you click on any of the options, for example
http://lmfdb.org/EllipticCurve/browse/2/%282%2C0%29/
you get a list of results, indexed by number fields. Should the number fields be ordered also by discriminant?
This is done for Hilbert modular forms e.g. http://lmfdb.org/ModularForm/GL2/TotallyReal/browse/2/

[2016-06-01 13:42] JohnCremona commented on #1484
Yes of course, and this has been on my list for months.  The imaginary quadratics look even more stupid:  see http://lmfdb.org/EllipticCurve/browse/2/

[2016-06-01 15:19] edgarcosta commented on #1431
@AndrewVSutherland will you also cleanup modularforms2 at warwick?

[2016-06-01 15:37] AndrewVSutherland commented on #1431
@edgarcosta I think this should be done by @sehlen and @fredstro, there may be collections there that they are using to compute (or recompute) modular forms data and I don't want to risk removing something that they need.  But I know it would free up a lot of space (both in Warwick and on the cloud replicas), so I would certainly encourage them to do so!

[2016-06-01 15:39] sehlen commented on #1431
@AndrewVSutherland @edgarcosta

For warwick, different rules have to apply as some more collections are used.
After I had a closer look at all of them and consulted with @fredstro, I can delete what is not needed anymore next week or so.
We can also migrate the collections we use for computing modular forms somewhere else;
possibly another mongo database that’s not replicated if you don’t want it

[2016-06-01 17:30] edgarcosta commented on #1431
There is no need to move them.
However, would be very helpful to have each collection documented here:
https://github.com/LMFDB/lmfdb-inventory/blob/master/db-modularforms2.md
and at the top be clear which collections are needed for the website.

[2016-06-01 17:41] sehlen commented on #1431
I started this a few days ago and will continue soon.

[2016-06-02 00:33] AndrewVSutherland commented on #1481
Addressed by PR #1482

[2016-06-02 00:33] #1481 closed

[2016-06-02 01:41] AndrewVSutherland opened #1491 "Maass form plot overlaps footer"
See http://www.lmfdb.org/ModularForm/GL2/Q/Maass/4cb8503a58bca91458000034, for example (scroll to bottom of page).

[2016-06-02 10:15] AndrewVSutherland opened #1492 "Server error on EC page that occurs on beta.lmfdb.org but not www.lmfdb.org"
See http://beta.lmfdb.org/EllipticCurve/Q/download_all/102.c (reached by going to the home page of isogeny class 102.c and clicking the "download store data for all curves" option in the download box.

What is odd is that this works on www.lmfdb.org, and the software there should be identical to that on beta.lmfdb.org (as of now), so this suggests a difference in the data.

[2016-06-02 10:20] AndrewVSutherland opened #1493 "Sever error on local field 2.10.10.1"
Go to page http://www.lmfdb.org/LocalNumberField/2.10.10.1 to reproduce (or just type the label 2.10.10.1 into the search box).  Traceback:

  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/f

[2016-06-02 10:25] AndrewVSutherland commented on #1493
Similar errors occur on for labels 2.10.10.n for n=2,3,4,5,6,8,9

[2016-06-02 10:28] AndrewVSutherland opened #1494 "Server error on Galois group 10T2"
To reproduce go to http://www.lmfdb.org/GaloisGroup/10T2.  Produces traceback:

  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1477, in full_dispatch_request
    rv = se

[2016-06-02 10:31] AndrewVSutherland commented on #1492
Traceback:

Traceback (most recent call last):
  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1477, in full_dispatch_request
    rv = self.handle_user_exception(e)
  Fil

[2016-06-02 10:36] AndrewVSutherland opened #1495 "Server error on symmetric power L-functions for CM elliptic curves"
To reproduce http://www.lmfdb.org/L/SymmetricPower/2/EllipticCurve/Q/27.a/
or go to http://www.lmfdb.org/L/EllipticCurve/Q/27.a/ and click symmetric square L-function in the related objects box.  It appears to be trying to display a not-implemented error message.  Traceback:

Traceback (most recent call last):
  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/

[2016-06-02 10:40] AndrewVSutherland opened #1496 "Server error on two Maass form pages"
See http://www.lmfdb.org/ModularForm/GL2/Q/Maass/4f4bf90788aece438d000014.
and http://www/lmfdb.org/ModularForm/GL2/Q/Maass/4f4bf90788aece438d000016

Traceback:

Traceback (most recent call last):
  File "/usr/local/sage/sage-1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/sage/sage-1/lo

[2016-06-02 10:48] AndrewVSutherland commented on #449
Following up on @edgarcosta's suggestion, just doing:

wget -r -e robots=off 127.0.0.1:37777/StartingPoint

will recursively attempt to load every page that can be reached from /StartingPoint.

I ran this last night on Atkin starting from the LMFDB home page and discovered issues #1492, #1493, #1494, #1495, and #1496. (it took about 5-6 hours).

I am working on extracting timing information as wel

[2016-06-02 10:59] JohnCremona commented on #1492
'anlist' is a key which was introduced in the new curves2 collection which is the same on both servers. That data field only exists for one curve in each isogeny class (the one with {'number':1}).

I confess that I never use the download_all capability (and did not write it) so had not tested that it still worked properly with the new collection.

It is possibly *chance* which makes this work on o

[2016-06-02 11:03] JohnCremona commented on #1492
This could be fixed by adding the 'aplist' and 'anlist' fields to every curve; I did not do that just to save space in the database, but perhaps that was unnecessary.  When they do exict, 'anlist' is a list of a_n for n<20 and 'aplist' a list of a_p for p<100, total 20+25=45 small integers.
However I'll first change the code.

[2016-06-02 14:08] #1492 closed

[2016-06-02 14:10] #1484 closed

[2016-06-02 14:16] edgarcosta commented on #449
@AndrewVSutherland, if you want other pages that break down you could look into the flasklog + accesslog of the webservers, as search engine crawlers also trigger a bunch of other broken pages.
However, sometimes is hard to figure out how the bot got there...

[2016-06-02 14:21] AndrewVSutherland commented on #449
Yeah, I like using a local log because it shows only the pages my wget
is hitting, in order (so I can see the path to get there), and I know
exactly what version of the software I am using.

But I agree that it is useful to periodically check the webserver logs.
Google bot is a good tester!

On 2016-06-02 10:16, edgarcosta wrote:

[2016-06-02 14:25] AndrewVSutherland commented on #449
I'm going to go ahead and close this issue, because I think we have a simple solution that works -- we just need to remind people who are submitting or reviewing PRs that it exists and to use it.

I will make a separate post to issue #1247 about problematic page load times once I have gathered this information.

[2016-06-02 14:25] #449 closed

[2016-06-02 16:29] jwj61 commented on #1493
Should be fixed by by pull request #1501

[2016-06-02 17:42] jwj61 commented on #1494
This was due to a field missing in the database.  I added the missing entry on warwick, so it should now work on beta, and will work else where once transitivegroups.groups is updated.

[2016-06-02 17:49] AndrewVSutherland commented on #1494
@jwj61 Which collections need to be copied to the cloud in order to make sure this works on www.lmfdb.org?

[2016-06-02 17:52] jwj61 commented on #1494
Just transitivegroups.groups, i.e., groups in the database transitivegroups

[2016-06-02 17:52] AndrewVSutherland commented on #1493
Looks good.

[2016-06-02 17:54] #1493 closed

[2016-06-02 18:01] AndrewVSutherland commented on #1494
I copied transitivegroups.groups to ms.lmfdb.xyz and that fixed the problem, closing.

[2016-06-02 18:01] #1494 closed

[2016-06-02 22:31] AndrewVSutherland opened #1505 "Attempt to render classical modular form page gets stuck in an infinite loop (sage bug?)"
Go to the elliptic curve isogeny class http://www.lmfdb.org/EllipticCurve/Q/234446/a/ and click on the modular form link http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/234446/2/1/a/.

This should result in a message saying the form is not in the database, but instead the page hangs and eventually times out with a 502 server error.  Similar behavior occurs for several other (but by no means all

[2016-06-02 22:35] sehlen commented on #1505
I'll look into it.

On Thu, Jun 2, 2016 at 6:31 PM Andrew Sutherland <notifications@github.com>
wrote:

[2016-06-02 22:42] sehlen commented on #1505
I probably even know what’s going on which is 90% solved in a branch I haven’t made a pull request for and something that I didn’t even think would affect the website currently. The WebChar class computes way too much unused (currently, on the website) stuff on the fly - something I’ve seen when looking into your question if the corresponding collection is used. my changes already make the page lo

[2016-06-03 01:16] AndrewVSutherland opened #1506 "Browsing Dirichlet character by order produces 502 Server Error (timeout)"
The page http://www.lmfdb.org/Character/Dirichlet/?ordbrowse=31-40 usually returns a 502 server error (occasionally it will load, but typically takes at least 20 seconds to do so).

[2016-06-03 02:55] sehlen commented on #1408
What kind of plots would people like? I'm currently still digging into some rather serious sage bugs but when I can finally say that the lower level recomputation works really reliably and we start computing a large range, we could as well compute the plots at the same time. We compute the embeddings of the Fourier coefficients, so we can directly (although sage takes quite some time to produce th

[2016-06-03 08:03] JohnCremona commented on #1505
I fixed this (but see below) in Birstol by asking @fredstro to provide a function to check if the modular form is in the database, and when it is not, not offering the modular form in the Related Objects box for either the curve or the isogeny class.  **But** more recently I added the modular form link in the title of the Modular Form section on the main page, without doing the check.  So it is al

[2016-06-03 08:24] JohnCremona commented on #1505
The top-level issue has been fixed in #1508 but others may want to work out why the failure was so messy instead of calmly showing the "This form is not in the database" page.  I suggest that this issue not be closed when #1508 is settled, only when this underlying problem is.

[2016-06-03 13:14] sehlen commented on #1505
@JohnCremona Thanks for fixing it on the elliptic curve side! I already made the page load with #1507, which you might have not noticed since I didn't comment on the issue but only referenced it in the pull request (which is shown on this page but not nearly as clear as the comments).

[2016-06-03 14:02] sehlen opened #1509 "Test failures in Genus2 curves, elliptic curves, and lattices"
On the current master, I get the following test failures:

[code]

The genus2 curve failures seem to have been introduced recently. When I pulled most changes seem to have been in that component. The elliptic curve failure seems to be a data problem, no?

[2016-06-03 14:21] sehlen commented on #1509
PS: I don't really know why the lattice test fails, though. I can see that string on the page.
However, why is this test_lattice.py actually in lmfdb/modlmf/?

[2016-06-03 14:23] sehlen commented on #1509
The "real" lattice test in lmfdb/lattice passes btw and it has the \dots that are shown on the page, so maybe that's the reason...

[2016-06-03 14:24] sanni85 commented on #1509
I have no clue why is there, it should not be.

[2016-06-03 14:27] sanni85 commented on #1509
Sorry I know why is there: when I was working on the mod l modular forms I took things from lattices and I forgot to remove that file.... I will delete it now.

[2016-06-03 14:37] sanni85 commented on #1342
Now that the pull request #1485 is merged this issue can be closed after the lattice database is updated on the cloud: the record for the Leech lattice has been changed and the link to it  in lattice.history is broken on the main website.

[2016-06-03 14:43] AndrewVSutherland commented on #1509
The genus 2 test failures are now fixed on master (they were inadvertently introduced in a recent cleanup), thanks for letting me know (and shame on me for not running my own test script!).

[2016-06-03 14:50] AndrewVSutherland commented on #1342
I updated the database and the link now works, closing.

[2016-06-03 14:50] #1342 closed

[2016-06-03 14:56] JohnCremona commented on #1509
@AndrewVSutherland It happens to all os us (see #1508)!

[2016-06-03 14:56] sanni85 commented on #1343
Also this issue can be closed now.

[2016-06-03 15:10] AndrewVSutherland commented on #1343
Agreed.

[2016-06-03 15:10] #1343 closed

[2016-06-03 15:35] AndrewVSutherland commented on #1509
A fix for the elliptic_curve test failure was included in PR #1512.  For the current version on master (as of commit https://github.com/LMFDB/lmfdb/commit/aabcfb3ad84ab1ba9fbcd8461aefad7d0bf7f169) all tests pass.  Closing.

[2016-06-03 15:35] #1509 closed

[2016-06-03 22:15] #1505 closed

[2016-06-04 11:20] AndrewVSutherland opened #1516 "Server error when clicking on bread crumb on Galois Group Search Input Error page"
To reproduce go to www.lmfdb.org/Galois/groups and type a label that is not in the database (e.g. "24T1") into the search by label input box to get to the "Galois Group Search Input Error" page.  Then click on the last bread crumb (labelled "Search error"), which will take you to the URL http://www.lmfdb.org/GaloisGroup/search which produces a server error.

Traceback from log file:

  File "/usr/

[2016-06-04 11:47] AndrewVSutherland opened #1517 "Warning messages logged for Maass form pages"
The warning message

shows up many times in the log files.  You can reproduce it by going to any of the pages

www.lmfdb.org/ModularForm/GL2/Q/Maass/54104e98acf756699fe0831e
www.lmfdb.org/ModularForm/GL2/Q/Maass/54104e67acf756699fe082f1
www.lmfdb.org/ModularForm/GL2/Q/Maass/54104e8facf756699fe0830d
...

and several hundred others.

[2016-06-04 19:48] pascalmolin commented on #1506
I have something to merge on this, in the next few days.

2016-06-03 3:16 GMT+02:00 Andrew Sutherland <notifications@github.com>:

[2016-06-05 00:22] #1516 closed

[2016-06-05 18:14] jvoight commented on #444
OK, it turns out that the last form that I was waiting for (level norm 1849 over 3.3.49.1)--which took a stupidly long time to compute--was actually correct in the database already!  So that means this issue is closed.

[2016-06-05 18:21] jvoight commented on #444
Oops!  Spoke too soon (used wrong file).  This has been updated now (and I double-checked it).

@AndrewVSutherland : This amounted to a change of 12 entries in hmf.forms.  It is not critical for them to be copied over to the cloud (it does not trigger a bug), so if there will be a routine copying of the entire database in the near future, it could be ported then.  If we're still doing things one c

[2016-06-05 18:31] AndrewVSutherland commented on #444
@jvoight @edgarcosta  We currently have no plan to do routine copying of the Warwick mongo db to the cloud (we will be rebuilding both mongo dbs, but that won't transfer data from one to the other), nor should we -- at any given point in time there is a reasonably chance that some collection is in the process of being updated by a script someone has running.

I will copy the hmfs.forms collection

[2016-06-05 18:33] edgarcosta commented on #444
@AndrewVSutherland @jvoight
I am in the process of pushing the data of the development db to the lmfdb.org right now (as I had to take care of some technical stuff, swithing the storage engine, and this is the least human effort way to do those changes)

@AndrewVSutherland Don't do those changes yet, I will let you know once I replace the disk

[2016-06-05 18:38] AndrewVSutherland commented on #444
@edgarcosta I will hold off.  But are you sure we really want to move the hold development db to lmfdb.org?  This is going to mean cleaning up a bunch of collections again, and make mongo db allocate several 100 GB more space than it needs.  And are you sure that you have a quiescent snapshot of the development db that is in a consistent state?  I know of at least 4 people that have been updating

[2016-06-05 18:40] edgarcosta commented on #444
@AndrewVSutherland I'm confused. Let's switch to email, as this has nothing to do with this issue.

[2016-06-05 19:07] edgarcosta commented on #444
@jvoight Drew will take care of pushing hmfs.forms to lmfdb.org

Everyone else can ignore all my nonsense, as I had misinterpreted a conversation with Drew.

[2016-06-05 20:13] jvoight commented on #444
OK, assuming Drew will push hmf.forms, I'm closing this issue for psychological reasons--it has required a lot of energy to fix!

[2016-06-05 20:13] #444 closed

[2016-06-05 20:16] AndrewVSutherland commented on #444
@jvoight The collection has been pushed -- can you verify that all is well?

[2016-06-06 20:10] JohnCremona commented on #1495
I just noticed this Issue.  Not long ago I removed the symmetric power L-function links from elliptic curves and isogeny classes.  You can see this at http://www.lmfdb.org/EllipticCurve/Q/27/a/1 and http://www.lmfdb.org/EllipticCurve/Q/27/a .  But the L-function page itself does not implement the test.
According to the inventory, the (new) Lfunctions data does not have a CM flag but is has others

[2016-06-06 21:05] AndrewVSutherland commented on #1495
@JohnCremona Before hiding the link, it would be good to fix the TypeError bug -- are you planning to make these changes or shall I?

[2016-06-06 21:47] JohnCremona commented on #1495
Don't wait for me. Thanks

[2016-06-07 15:57] jvoight opened #1522 "Simplified Weierstrass model?"
In many circumstances, it would be nice to have not just the minimal model for an elliptic curve or a hyperelliptic curve, but you'd prefer the equation
  y^2 = f(x)
which amounts to completing the square.  Maybe we could list this as well?

[UPDATE] This feature is now available for genus 2 curves.

[2016-06-07 16:06] JohnCremona commented on #1522
At the moment I am concentrating on getting models for elliptic curves) which are minimal (or almost) and reduced, and do not care much about completing the square, which would of course be trivial to show.  So I won't stand in anyone's way but don't myself give it a high priority.

[2016-06-07 17:01] AndrewVSutherland commented on #1522
I actually thought about doing this at one point but decided against it for the following reasons:

- Screen real estate -- displaying two equations would inevitably push something that you can currently see without scrolling further down the screen where you have to scroll to see it.  One could instead have two modes (e.g. as with G2/Igusa/Igusa-Clebsch invariants), but this would make my next co

[2016-06-07 20:33] AndrewVSutherland commented on #1495
Fixed by PR https://github.com/LMFDB/lmfdb/pull/1523.  BTW the TypeError is raised intentionally, it is not a bug.

[2016-06-07 22:00] jvoight commented on #1522
This is definitely not high priority, but it has shown up for me in at least two ways: first, in wanting to understand the Galois representation on the 2-torsion, and second, in talking to students/postdocs who don't understand why we don't show the simpler equation (to their mind).

We can ignore me, I am just in the habit of passing on all ideas above a certain threshold.

Drew: in terms of "not

[2016-06-07 22:02] jvoight commented on #444
Confirmed, these forms have been fixed.

[2016-06-07 22:16] edgarcosta commented on #1522
This could also be done with a hide/show button.

[2016-06-07 22:27] davidfarmer commented on #1522
I think of the y^2 = f(x) version as aimed at the naive user, such as myself.  So having to click
to see it would defeat that purpose for including it.  Showing it would also tell people the
Magma or Sage commands to get it, which the naive user would not know how to do it.

There was some discussion about saying yes/no for when curves are hyperelliptic
(we have genus 2 curves which are not hypere

[2016-06-07 23:54] AndrewVSutherland commented on #1522
@jvoight, @davidfarmer I agree with both of you that trying to help out the naive user is a worthy goal; the trick is to find a way to do it while being mathematically correct and unambiguous.  My comments above were merely meant to pass on the issues that came up when I actually thought seriously about doing this (i.e. I agree completely that it could be helpful, and the fact that it is "not nece

[2016-06-08 01:04] #1496 closed

[2016-06-08 01:16] #1491 closed

[2016-06-08 01:37] AndrewVSutherland commented on #1352
This is addressed by PR #1529

[2016-06-08 08:13] JohnCremona commented on #1522
@davidfarmer The pedant in me must point out: genus 2 curves are all hyperelliptic since the anticanonical class has degree 2g-2=2 which means that there is a degree 2 map to P^1.  When we get to genus 3 curves there will be two very different cases, the hyperelliptic ones and smooth plane quartics.
On the wider issues, I am a fan of model-independent data, so any equation at all will be to some e

[2016-06-08 09:15] AndrewVSutherland commented on #1522
@JohnCremona The uber-pedant in me is compelled to point out that there are actually **three** different types of  genus 3 curves :), namely: (1) smooth plan quartics, (2) hyperelliptic curves (with a degree-2 map to P^1 defined over the ground field), and (3) degree-2 covers of pointless conics (these become hyperelliptic in the usual sense only over a quadratic extension).  In case (3) there is

[2016-06-08 09:42] JohnCremona commented on #1522
I think this goes to show that I should not dare to speak on any subject except genus one curves!

[2016-06-08 14:12] #1352 closed

[2016-06-08 14:25] AndrewVSutherland commented on #1183
I don't see a way to currently reach any of these pages from www.lmfdb.org (e.g. the page http://lmfdb.org/ModularForm/GSp/Q/Sp4Z.30_Ups/ works and their is no L-function link, the pages listed in the gist all produce internal server errors, but this is true for any URL of the form www.lmfdb.org/L/garbage, and I plan to open a separate issue for this.

Closing (but will reopen if it recurs).

[2016-06-08 14:25] #1183 closed

[2016-06-08 14:27] AndrewVSutherland opened #1530 "Non-existent L-function pages raise server errors"
www.lmfdb.org/nothinghere displays an error message saying the page was not found, but
www.lmfdb.org/L/nothinghere generates an internal server error, which it should not.

[2016-06-08 14:36] AndrewVSutherland commented on #941
It looks to me like this is now available, see http://www.lmfdb.org/EllipticCurve/Q/272130/d/1, for example.  Closing.

[2016-06-08 14:36] #941 closed

[2016-06-08 15:01] AndrewVSutherland opened #1531 "Several Siegel modular forms pages that get stuck and produce server errrors"
If you go to the page http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_2/ and click on any of the Galois orbit links for weights 26, 28, or 30 in the first table the server appears to go into an infinite loop (and eventually times out with a server error).  If you run the lmfdb locally and request the page

http://127.0.0.1:37777/ModularForm/GSp/Q/Sp4Z_2.26_C

it appears to get stuck in an infinite loo

[2016-06-08 15:06] AndrewVSutherland opened #1532 "Server error on symmetric power L-functions for CM modular forms"
This is essentially the same issue as #1495 (which has been fixed), except it arises for weight-2 modular forms rather than elliptic curves.

[2016-06-08 15:11] AndrewVSutherland opened #1533 "Sever error on classical modular form pages"
If you go to the page

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/20/9/

and click on the link http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/20/9/11 for the Galois orbit of the space with dimension 16 you will see a server error.  Traceback appears below:

[2016-06-08 17:57] jvoight commented on #1522
OK, sorry for the can of worms everyone!  I know we have more pressing issues.

One more mathematical comment on the 2-division polynomial.  The ramification points of the hyperelliptic map are a well-defined subset of PP^1 up to a linear fractional transformation, corresponding to Weierstrass points on the curve.  A polynomial that has these values as roots is a meaningful thing to write down.  I

[2016-06-08 18:15] jwj61 commented on #12
I am not sure this deserves a production problem label since there is no place in the lmfdb which links to this page.  Some day, that L-function may come back (which involves the addition of more L-function data, and building the mechanism for products of L-functions).  This is more like a feature request, or really a byproduct of two or three planned features.

[2016-06-08 18:15] AndrewVSutherland commented on #1532
An example of a page where the problem appears is http://www.lmfdb.org/L/ModularForm/GL2/Q/holomorphic/36/2/1/a/0/,  which you can reach from http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/36/2/1/a/.

I am fixing this now.

[2016-06-08 18:20] AndrewVSutherland commented on #12
Agreed.

[2016-06-08 18:50] davidfarmer commented on #453
Closing, because we are dealing with performance issues in various other ways.

[2016-06-08 18:50] #453 closed

[2016-06-08 18:53] #133 closed

[2016-06-08 21:02] jwj61 commented on #231
Some standard group names have been add through degree 23, which is as far as we go.

[2016-06-08 21:02] #231 closed

[2016-06-08 21:17] AndrewVSutherland commented on #1532
Fixed by PR https://github.com/LMFDB/lmfdb/pull/1534

[2016-06-08 21:52] davidfarmer opened #1535 "Management board should not be a knowl"
This page should have a different title:
http://beta.lmfdb.org/editorial-board
the content should not be a knowl, and the footer should have "Management board" not
"Editorial and Management boards"

[2016-06-08 22:14] AndrewVSutherland commented on #1531
I will either fix or hide these links.

[2016-06-09 01:23] AndrewVSutherland commented on #1530
Fixed in PR #1534

[2016-06-09 01:50] AndrewVSutherland commented on #1531
The problem occurs in line 325 of siegel_modular_form.py when it is attempting to compute the ring of integers of a number field with large discriminant in sage.  For the page http://127.0.0.1:37777/ModularForm/GSp/Q/Sp4Z_2.26_C it is the degree 8 field defined by

`x^8 - 2*x^7 - 357101291310*x^6 + 52840539355719536*x^5 + 22640564812749741524120*x^4 - 4204304986232338333203658272*x^3 - 23302323712

[2016-06-09 08:24] #1530 closed

[2016-06-09 08:24] #1532 closed

[2016-06-09 14:56] AndrewVSutherland commented on #1358
This appears to now be fixed, closing.

[2016-06-09 15:05] JohnCremona commented on #1358
This is mysterious since I have not yet done all the precomputations which were intended to speed up this sort of example!  I agree that right now this one displays fine.  I am reassured, since it came as a big surprise to me that such examples were taking a nontrivial time, as I had never noticed that running locally.

[2016-06-09 15:20] AndrewVSutherland commented on #1358
@JohnCremona This is indeed mysterious, because it looks like the code does still compute the conductor on the fly, and this is still slow.  On Atkin:

sage: sage: K.<a> = NumberField(x^6 - x^5 - 5*x^4 + 4*x^3 + 6*x^2 - 3*x - 1)
sage: sage: E = EllipticCurve([a^5 - 4*a^3 + 3*a + 1, a^5 + a^4 - 4*a^3 - 3*a^2 + a - 1, a^3 + a^2 - 3*a - 1, -12*a^5 + 3*a^4 + 61*a^3 - 66*a - 15, 37*a^5 - 7*a^4 - 188*a^

[2016-06-09 15:28] AndrewVSutherland commented on #1358
I am very puzzled.  I just computed the conductor in sage on both www-central0.lmfdb.xyz and www-central1.lmfdb.xyz and it took more than a minute in both cases.  But I just submitted 100 simultaneous requests to fetch this page (presumably being handled by different workers) and they all completed in less than 30 seconds (most in less than 5 seconds).

[2016-06-09 16:07] JohnCremona commented on #1358
Well, we know that conductors are still computed on the fly since the work involved in precomputing them and storing them has not been done yet since it has got mixed up with the simplifying ond re-sorting of models.  But that is on another ticket, and it will get done, so there is no point in keeping this issue open unless someone cares enough to work out why the times vary such a lot.

[2016-06-10 09:17] AndrewVSutherland opened #1537 "Non-existent L-function and L-function zeros pages raise server errors"
Similar to #1530; see http://www.lmfdb.org/L/Zeros/nothingthere/, for example.

[2016-06-10 09:25] AndrewVSutherland commented on #1537
As noted in https://github.com/LMFDB/lmfdb/pull/1529#issuecomment-224832227, the user can reach this by clicking on the plots on  http://www.lmfdb.org/L/degree3/MaassForm/, for example: http://www.lmfdb.org/L/Zeros/ModularForm/GL3/Q/Maass/1/1/24.78828_6.590306/1.7780841/, which is strange, none of the dots should take you directly to a zeros page, but I note that the L-function page http://www.lmf

[2016-06-10 09:34] AndrewVSutherland commented on #1537
In fact http://beta.lmfdb.org/L/ModularForm/GL3/Q/Maass/nothingthere/ also raises a server error (rather than page not found).  My guess is that there are two problems here (1) the lfunctions code is raising server errors when certain pages are not found (the fix to #1530 addressed some of these but  there are more that evidently still need to be addressed) and (2) the lfunctions code not being ab

[2016-06-10 18:14] edgarcosta opened #1539 "sage_eval"
Hello,

We should a avoid the use of "sage_eval", if not, at least try to sanitize it. Especially, if the functions that use the sage_eval are being used to generate content for the website.

Best,
Edgar

[2016-06-10 18:23] edgarcosta commented on #1539
@AndrewVSutherland The two occurrences at the moment that the website uses are in the Lfunctions code.

https://github.com/LMFDB/lmfdb/search?utf8=%E2%9C%93&q=sage_eval

[2016-06-10 18:23] AndrewVSutherland commented on #1539
Agreed, this is a serious security issue (e.v.

Currently this occurs only in 3 places, see https://github.com/LMFDB/lmfdb/search?utf8=%E2%9C%93&q=sage_eval; I'm guessing all of them can and should be converted to ast.literal_eval (this looks trivial to do in the first two cases, might require some work in the third).

[2016-06-10 19:01] JohnCremona commented on #1539
Agreed entirely.  We should not ever use eval orsage_eval to convert from a string.  sage_eval calls eval after applying preparsing.  I have used Sage for 9 years and have never ever had need for that function.  Most Sage types can be constructed from strings anyway:

   sage: a = ZZ('-123')
   sage: a, type(a)
   (-123, <type 'sage.rings.integer.Integer'>)

   sage: R = PolynomialRing(QQ,'x')

[2016-06-10 19:01] JohnCremona commented on #1539
Sorry the above output of the tye did not appear properly, but the point should be clear.

[2016-06-10 19:32] JohnCremona commented on #1539
@AndrewVSutherland For the third case, I cannot see any reason for the existence of the p2sage() function.  If you know that s encodes a real, use RR(s).  If complex, use CC(s).  If integers, use ZZ(s).  If a list of reals, use something like [RR(c) for c in s[1:-1].split(",")] .  I do that all the time.  Using eval is lazy -- and certainly dangerous.

There are 206 instances of "eval(" in our cod

[2016-06-10 19:41] AndrewVSutherland commented on #1539
@JohnCremona I agree 100% (I did not write that code).  I'm shocked to find out we have 55 instances of " eval(" (hopefully the other instances of "eval(" are all "literal_eval(", but we should check".

[2016-06-10 19:52] JohnCremona commented on #1539
We can ignore any magma.eval() and mag.eval() (121 instances I think) all in scripts which are not live website code.  And many others are harmless for similar reasons.  I think that the people using eval() are mainly less experienced with python/Sage.  The main thing to avoid is ever using eval on a string returned from a web page form.

[2016-06-11 09:40] AndrewVSutherland commented on #433
In addition to missing automorphic friends, there are also some inconsistencies in the current data between what is listed in the curve pages, isogeny class pages, and L-function pages (see the following message from Dan Yasaki, for example).  I am working on fixing all the inconsistencies now and should have a fix ready later today.

Doing a systematic match on the hashes of all relevant objects

[2016-06-11 09:50] JohnCremona commented on #433
Thanks.  For the ones which link to curves over imaginary quadratic fields, note that I am in the process of trimming the labels so that where you now have "[N,c,d]" you will have "N.c.d".  If there is code (or data) in the genus 2 world which assumes the old labels, I'll take that into account when I finish this switchover (which will affect a lot more then just curves over IQFs).

I don't know w

[2016-06-11 10:09] AndrewVSutherland commented on #433
@JohnCremona I'm referring to the L-function hashes (e.g. as stored in the lfunctions.instances collection, see http://lmfdb.org/api/Lfunctions/instances) , which are computed as linear combinations of a_p values in [2^12,2^13] modulo 2^61-1.  @jvoight and Dan Yasaki have already computed these for the Hilbert modular forms over real quadratic fields in the LMFDB, and I have done this for all prod

[2016-06-11 10:15] AndrewVSutherland commented on #433
@JohnCremona I meant to add that yes, I'm aware that these labels are changing and it will be easy for us to switch to the new labels -- just let me know when the switch is going to happen.  There should be no genus2 code that depends on the label format (we call functions in ecnf to do the label parsing), but there are labels in the database that will need to change.

[2016-06-11 10:20] AndrewVSutherland commented on #433
@JohnCremona For a precise definition of the hash function we use, see Section 4.3 of http://arxiv.org/abs/1602.03715.  One nice feature is that the hash function linear, so if you know the hashes h1 and h2 of the L-functions of two elliptic curves E1 and E2 over Q, the hash of the L-function of the product E1 x E2 is just h1+h2 (modulo 2^61-1).

[2016-06-11 10:21] JohnCremona commented on #433
Great work -- I am impressed!  And very good practice to use the utilities for label parsing (which do not decompose the conductor / level label anyway).

[2016-06-11 14:32] AndrewVSutherland commented on #1294
@edgarcosta My understanding is that this has now been done on the cloud mongo db, it only remains to do this on lmfdb.warwick, but I don't see this as urgent.

[2016-06-11 15:22] edgarcosta commented on #1294
Yes, only warwick is missing.

[2016-06-11 15:50] JohnCremona commented on #1294
Can someone say exactly what it is which has not been done at Warwick which needs doing?  Is someone then volunteering to do what that is?

Warwick's data partition is 95% full.  I have 3 more disks which can be brought online but will not do that until we have a time when it will not matter if things go slow (or worse).

[2016-06-11 16:25] AndrewVSutherland commented on #1294
@JohnCremona The objective is to (at some point) get all the collections in the Warwick LMFDB reindexed.  Ideally this would be done by actually rebuilding all the databases, which we would do only **after** all unnecessary collections have been deleted (especially those in modularforms2), which would free up a lot of space (we gained about 400GB by doing this on ms.lmfdb.xyz).

For comparison her

[2016-06-11 16:32] AndrewVSutherland commented on #1294
One quick follow-up -- the space in the local database is almost all taken up by the collection oplog.rs which is using about 50GB, see https://docs.mongodb.com/manual/reference/local-database/#collections-on-replica-set-members for details.

[2016-06-11 18:13] JohnCremona commented on #1294
Thanks a lot for the excellent and detailed explanation.  I had no idea there was so much wasted space!

[2016-06-11 18:17] edgarcosta commented on #1294
1- local is all for the oplog, and we shouldn't try to get that back :)
2-

As far as I understand, this only happens with mmapv1, as from my experience with wiredTiger I never observed this behaviour.

Yes that is accurate. I would switch the engine to wiredTiger with zlib.
The DB in the cloud that replicates warwick only 658GB, while warwick uses 1.2+ TB.

[2016-06-11 18:34] AndrewVSutherland commented on #1294
@edgarcosta Thanks for the clarification -- the wiredTiger behavior is a pleasant suprise (I just noticed this too).

Regarding 1, my only question was whether we really needed 50GB (which I believe is the maximum), you can set it as low as 1GB.  But I suppose it is safer to keep it at 50GB just in case one of the replicas gets behind for some reason (although with our current write concern settin

[2016-06-11 18:45] JohnCremona opened #1540 "Update Hosting info on acknowledgements page"
The Hosting section should say something about the cloud now hosting our public site.  The Dartmouth grant is listed, perhaps we should say explicitly that this is what it is paying for.

[2016-06-11 18:58] edgarcosta commented on #1294
Yes, it is very unlikely, but possible.
I would leave it at 50GB. I don't see what we gain by saving 49GB on the grand scheme of things.

[2016-06-11 19:09] AndrewVSutherland commented on #1294
Agreed.

On June 11, 2016 2:58:48 PM EDT, edgarcosta <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-12 14:33] JohnCremona commented on #1431
I have no idea how far this has got, and rereading all the above thread it is is extremely confusing to say the least.  Anyone who has not yet bothered to document the collections they use after months of being asked deserves to have them deleted, and anyone who cannot recreate their collections from data held externally to mongo similarly.

[2016-06-12 15:14] AndrewVSutherland commented on #1431
@JohnCremona while I agree with your sentiment, as it stands, if we unilaterally removed all undocumented collections it would render a substantial portion of www.lmfdb.org non-functional (none of the modular forms collections currently serving data to www.lmfdb.org, including classical MFs, Hilbert MFs, Maass forms, and Siegel modular forms, have been documented).

There are currently 9 open issu

[2016-06-12 15:39] JohnCremona commented on #1431
@AndrewVSutherland you're a hero.

[2016-06-13 01:54] AndrewVSutherland commented on #1431
Below is a table summarzing of all the databases the currently exist on the warwick mongo db (excluding local, which is only used by mongo db itself), which you will want to view on github.

This is a first draft that I will update as I get more information.  Any comments on the question-marks and/or proposed deletions would be welcome!

|database|size(GB) prod/beta|status|doc status|code|action|

[2016-06-13 09:21] JohnCremona commented on #1431
I added documentation for bmfs to the inventory.  There *is* code but it is in my own branch, since for 2 years I have not had time to work on this, and did not want to even put it onto beta until I had added some newforms and not just dimension tables.  One reason for that being stalled is that I wanted to have the same layout and code work for all modular forms over number fields, i.e. merge Bia

[2016-06-13 09:33] JohnCremona commented on #1431
Can we put a version of this table somewhere where it would be easier to edit?  Perhaps as a file of its own in the inventory repository, linked to from here?
We also need something at the collection level.
In database elliptic_curves:  the curves collection is now redundant since the code (master, beta, prod) uses collection curves2 if is is there, which is is.  The collections curves2.rand and n

[2016-06-13 09:33] AndrewVSutherland commented on #1431
@JohnCremona Thanks for the clarification.  I actually think it is better to keep unfinished/untested code out of the lmfdb repository, so I agree with this approach.  My impressions is that there is a fair amount of code currently in LMFDB/lmfdb that is either obsolete or never has not actually been run in several years (and would be very unlikely to work if it were because a lot has changed sinc

[2016-06-13 09:37] sanni85 commented on #1431
I will document mod_l_eigenvalues and mod_l_galois as soon as possible.

I think that the database abvar should not be deleted: it is the database created at AIM by @christellevincent @kedlaya @roed314

[2016-06-13 09:39] AndrewVSutherland commented on #1431
@JohnCremona Regarding https://github.com/LMFDB/lmfdb/issues/1431#issuecomment-225532695, yes I will put it in LMFDB/inventory and I do want to add collection level information, I just have not had time to do so.  BTW, when I listed documentation as "complete" I did not take the time to verify that every collection is document, I still want to do this.

The *.rand collections are not meant to repl

[2016-06-13 09:43] AndrewVSutherland commented on #1431
@JohnCremona To replace curves with curves2, just rename curves2 to curves and rename curves2.rand to curves.rand.  The existence or (non-existence) of curves.rand has no impact on any of the elliptic curves code, only the functions random_object_from_collection and random_value_from_collection care about it.  The only impact that not having it would be that random object access would slow down.

[2016-06-13 09:56] JohnCremona commented on #1431
OK, I understand now.  I wrongly thought that (e.g.) curves2.rand contained everything in curves2 plus one additional field.  Sorry!  This is fine then, I was afraid that we were using double the space (but of course not).
I am still very uneasy about making any changes like this since I do not understand how replication will be affected.  Should I just ignore that and assume that it will do the r

[2016-06-13 09:58] AndrewVSutherland commented on #1431
@JohnCremona  Yes!  It replicates the operations (so a rename gets replicated as a rename).

BTW I just added information about the existing *.rand collections to the index information of all the relevant collections (including nfcurves, which I notice is still missing index info).

[2016-06-13 10:53] davidfarmer commented on #1431
The maass_forms/picard code, and the associated database, is something
we want in the LMFDB, but there has been no maintenance of it for
years.  It will be easier to resurrect those objects from the existing
code and database than to re-create them from scratch, so I think it
would be better to leave them in.

BTW: those objects are Maass forms on SL(2,\Z[i]).

[2016-06-13 11:01] christellevincent commented on #1431
Yes, please do not delete abvar. As Samuele said, this is our new database which we worked on at the workshop in May. After we left we all got busy, but I hope we can push to beta pretty soon if @roed314 has some time, and we'll document the database.

[2016-06-13 11:05] JohnCremona commented on #1431
@AndrewVSutherland I'll add index info for nfcurves after rebuilding the entire collection with extra data fields, which will also mean updating the collection information.

[2016-06-13 11:07] AndrewVSutherland commented on #1431
OK, is HTPicard functionality somethings that should be scheduled into
Release 2.0?  And who should be listed as the contact/maintainer?

On 2016-06-13 06:53, davidfarmer wrote:

[2016-06-13 11:09] AndrewVSutherland commented on #1431
Thanks @christellevincent and @sanni85!  Who should be listed as the
contact/maintainer for the abvar database?

On 2016-06-13 07:01, christellevincent wrote:

[2016-06-13 11:11] JohnCremona commented on #1431
OK I just did

 sage: curves2.rename("curves", dropTarget=True)
 sage: curves2.rand.rename("curves.rand", dropTarget=True)

and once the changes have propagated to the cloud db I can clean up the code to no longer mention curves2.

[2016-06-13 11:13] davidfarmer commented on #1431
I'd guess HTPicard is beyond 2.0 because I don't think we have
anyone who would be suitable to take care of those.  (Stefan
Leurell could do it, but he already has other things on his plate.)

On Mon, 13 Jun 2016, Andrew Sutherland wrote:

[2016-06-13 11:13] AndrewVSutherland commented on #1431
I will update the mongo db on ms.lmfdb.xyz to reflect this change today (and let you know when I do).

[2016-06-13 11:17] christellevincent commented on #1431
I think David Roe @roed314 should be the contact for abvar. He's the one who knows the backend.

[2016-06-13 11:18] AndrewVSutherland commented on #1431
@davidfarmer OK, should I list you or Stefan as the contact/maintainer?  I just want someone's name listed as a contact so that the next time someone wonders why this database is there or if there is a maintenance issue that effects this database (e.g. a mongo db upgrade) they know who to contact.

[2016-06-13 11:23] JohnCremona commented on #1431
The reason why elliptic curves /Q do not work right now on beta is just because of a stupid typo in the code which was written to ensure that the code should work with any combination of curves/curves2 existing.  I'm about to make a pull request which will fix that, can be merged to beta right away, and to prod once the renaming of curves2 -> curve change has propagated to the cloud database.
If t

[2016-06-13 11:24] davidfarmer commented on #1431
Yes, we need to have someone listed for everything.
You can put me for the Picard Maass forms.

On Mon, 13 Jun 2016, Andrew Sutherland wrote:

[2016-06-13 13:16] JohnCremona opened #1547 "genus 2 curves with no real points"
Some genus 2 curves have no real points. e.g. Genus2Curve/Q/336/a/172032/1 . That's a feature, not a bug; but do we actually want an empty graph?  And should it be indicated on the web page by more than the statement "Locally solvable: no" which could refer to some other completion of Q?

Just a question, I am not proposing a change, only that it should be thought about.

[2016-06-13 16:15] roed314 commented on #1431
Yep, I'm happy to be the contact, and I should have some time this week to
push the work from the May workshop.
On Jun 13, 2016 4:17 AM, "christellevincent" <notifications@github.com>
wrote:

[2016-06-13 16:20] JohnCremona opened #1548 "Elliptic curves could/should show Atkin-Lehner eigenvalues (local root numbers)"
For example http://localhost:37777/EllipticCurve/Q/90/c/2 could show the local root numbers in the Local Data section.  It is +1 or -1 respectively for split and non-split multiplcative reduction, which can be read off instantly (but would still be worth showing since it is hard to remember which is which), and requires more work in the additive case.  Because of the latter it should be stored in

[2016-06-13 17:57] AndrewVSutherland commented on #1547
For curves that are not locally solvable it would seem reasonable to give a specific prime p <= infty for which C(Q_infty) is empty.

[2016-06-13 20:33] AndrewVSutherland opened #1549 "L-function browse page missing objects"
Several objects with L-function pages are not listed in the "browse by underlying object" section of the the main L-function page (http://www.lmfdb.org/L/), including:
- Artin representations
- Hilbert modular forms
- Genus 2 curves

[2016-06-14 03:55] jvoight commented on #1540
Right, I had updated the acknowledgements but not the Hosting page.  I'll do it.

[2016-06-15 00:01] AndrewVSutherland opened #1555 "Bad bread on Siegel modular forms pages"
If you go to http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_j/ and click on any entry in the table with rows indexed by k and columns indexed by j you will be taken to the page:

http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_j/j/k/

which displays information about the space M_{k,j}.  If you then click on the last bread crumb (labelled M_{k,j} it will try to take you to the page

http://www.lmfdb.org/M

[2016-06-15 00:59] AndrewVSutherland commented on #1431
PR #1556 consolidates the siegel_modular_forms_experimental database (which contained only one collection) into the siegel_modular_forms database.  Once it has been pushed to beta and prod we can delete the siegel_modular_forms database from both Warwick and the cloud.

[2016-06-15 08:23] JohnCremona commented on #1431
PR#1556 has now been merged.

[2016-06-15 09:28] AndrewVSutherland commented on #1431
I have updated the documentation in https://github.com/LMFDB/lmfdb-inventory for all the databases listed in https://github.com/LMFDB/lmfdb/issues/1431#issuecomment-225474774 that are not tagged for deletion, with the exception of upload and userdb (which do not appear on http://www.lmfdb.org/knowledge/api but perhaps should still be documented).  You can find the table at https://github.com/LMFDB

[2016-06-15 09:32] AndrewVSutherland commented on #1431
The current list of databases that are candidates for deletion are:
- Lfunction (see issue #https://github.com/LMFDB/lmfdb/issues/1456)
- ap_statistics
- siegel_modular_forms_experimental (after PR #1556 is pushed to prod)
- test
If there is anything in the ap_statistics or test databases that you think should not be deleted, please speak now! (of course we will have backups).

I will post a list

[2016-06-15 11:27] JohnCremona commented on #1431
Thanks @AndrewVSutherland -- having that table there is incredibly useful.  In the first column some of the links take me directly to one of the inventory documents in editor mode -- is that intentional?

[2016-06-15 11:29] AndrewVSutherland2 commented on #1431
No, I'll fix those.

On Wed, Jun 15, 2016 at 7:27 AM, John Cremona <notifications@github.com>
wrote:

[2016-06-15 11:39] AndrewVSutherland commented on #1431
@JohnCremona Fixed.

[2016-06-15 12:02] AndrewVSutherland commented on #1555
The last breadcrumb on the pages http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_2/
http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z/ are also broken.

[2016-06-15 13:25] edgarcosta commented on #1431
@AndrewVSutherland this is great!

Should we move your comment to somewhere else more visible?
Perhaps, the maillist?
at the moment it is buried under other 80+ comments, and I'm afraid most people aren't following this thread.

[2016-06-15 20:52] AndrewVSutherland commented on #1431
@edgarcosta That probably makes sense, but let's wait until I have had a chance to look through the MaassWaveForms database and get a candidate list of collections for it as well.

[2016-06-15 20:57] AndrewVSutherland commented on #1431
The database siegel_modular_forms_experimental has been removed from both warwick and the cloud (the one collection samples it contained is now siegel_modular_forms.experimental_samples).

[2016-06-16 08:33] JohnCremona opened #1561 "ecnf twist link broken"
Dan Yasaki reported this.  Go to any home page of an elliptic curve over a number field, for example http://beta.lmfdb.org/EllipticCurve/4.4.4913.1/169.6/a/2 and click on the Twists link under Related Objects.  It fails since when we do a search for curves with a fixed j-invariant we need to specify the field.
I will fix this.

[2016-06-16 13:49] AndrewVSutherland commented on #1561
Fixed by #1562

[2016-06-16 13:49] #1561 closed

[2016-06-17 07:19] #1555 closed

[2016-06-18 16:00] koppi commented on #1404
I can highly recommend http://dat-data.com/ for a peer-to-peer data distribution and replication.

[2016-06-18 21:32] AndrewVSutherland opened #1569 "Siegel modular forms dimension tables do not parse input correctly"
Go to http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_j/ and type 4,9,16 into the input box for k or j.  You will be taken to the page http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_j/?k=4,9,16, where it displays an error telling you that the input should be an integer, a range of integers, or a comma separated list (such as the list 4,9,16 that you just typed).

All the other dimension table pages (such

[2016-06-20 09:31] haraldschilly opened #1570 "robots.txt broken"
Hi, I just saw a notification, that the robots.txt file is broken. There is a mechanism, that disables indexing the page, if it is hosted somewhere else -- as a result, only the main page should be indexed and not the other ones. The transfer of the lmfdb page must have broken this heuristic, such that http://lmfdb.org/robots.txt is wrong.

Heuristic is here:

https://github.com/LMFDB/lmfdb/blob/m

[2016-06-20 09:34] haraldschilly commented on #1570
ok, no, I think it's all fine. This circles back to the question, if there should be www. or not.

i.e. http://www.lmfdb.org/robots.txt is correct!

hence I'm closing it, but since many got this as an email, it's maybe some food for thought about this. (i.e. should be add an automatic redirection to include www. in the url)

[2016-06-20 09:34] #1570 closed

[2016-06-20 12:48] AndrewVSutherland opened #1571 "Server error on some Siegel modular form pages when modulus changes"
If you go to http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z.24_Klingen/ and change the modulus to a nonzero value (e.g. 2), an internal server error results:

http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z.24_Klingen/?indices=2+3+4+5+7+9+11+13+17+19&dets=0+3+4+7+8&modulus=2&submit=submit

This affects the pages http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z.28_Klingen/,  http://www.lmfdb.org/ModularForm/GS

[2016-06-20 14:46] jwj61 opened #1572 "Genus 2 server error on search download"
From Jen Balakrishnan via the feedback page:

"Clicking the magma/sage/pari links at the bottom of this page:
http://lmfdb.org/Genus2Curve/Q/?analytic_rank=0 (not just analytic rank 0, but also for any analytic rank query)

results in the following message:

The page you are looking for has produced a server error.
If you want to help improving the page behind ""http://lmfdb.org/Genus2Curve/Q/?ana

[2016-06-20 15:35] AndrewVSutherland commented on #1572
I will fix this later today (I want to wrap up a PR I am working on now for Siegel modular forms first).

[2016-06-20 15:53] AndrewVSutherland commented on #883
The page http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z/ is rendered by the template file

lmfdb/siegel_modular_forms/templates/ModularForm_GSp4_Q_collection.html

which includes lmfdb/siegel_modular_forms/templates/includes/Sp4Z_basic.html (it decides which file to include based on the particular family of spaces being displayed).  This does not preven knowls from appearing in the included files, in

[2016-06-20 16:01] davidfarmer commented on #883
The knowl is coded by hand-written html, not by using the appropriate template syntax.
Maybe that is not the most persuasive reason to use our templates, but use templates we should.

I marked this as 2.0 specifically so that the people who watch over these things can ignore it
and be comfortable with the fact that this issue will be open for another year or so.  Is there
a better way to indicate

[2016-06-20 16:50] AndrewVSutherland commented on #883
@davidfarmer Marking it 2.0 is fine, the only reason I was looking at it is because I just fixed a bunch of more urgent Siegel modular forms issues (all those marked as production problems and a few other obviously broken things in the code (e.g. using eval and sage_eval) and figured I would take a quick look at the list of outstanding issues to see if there were any that can be easily fixed at th

[2016-06-20 19:10] AndrewVSutherland commented on #492
For the spaces M_{k,j}(Sp(4,Z)) this is available in Release 1.0.

http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_j/16/0/
http://localhost:37779/ModularForm/GSp/Q/Sp4Z_j/14/2/

Certainly more information could be added to these pages, but I think the basic infrastructure is there. This covers most but not all of the spaces for which we have samples; it would not be hard to do something similar for th

[2016-06-20 19:19] AndrewVSutherland commented on #989
Reduction modulo arbitrary ideals has been implemented but still has a few bugs (see #1571).

A separate issue is what to do when the Fourier coefficients are too large to conveniently display (yes we can reduce them modulo an ideal, but this is not done by default and if it were there isn't an obvious default choice), and also what to do when there are so many (even for a single determinant value

[2016-06-20 20:25] AndrewVSutherland opened #1573 "Some Siegel modular form pages incorrectly state "reduction is undefined""
The Siegel modular form http://www.lmfdb.org/ModularForm/GSp/Q/Sp4Z_2.16_C/ has coefficient field K=Q(a)=Q[x]/(x^2-x-27).  The listed values of c(F) have non-integral coefficients in K (not withstanding the fact that the page says it is unknown whether the coefficients are integral or not, but that is a separate issue), but they all can be written with denominator 42.  The principal ideal p=(3a+14

[2016-06-20 20:58] JohnCremona commented on #1573
I am the one who, a few years ago, implemented in Sage the reduction of non-integral number field elements modulo a *prime* when the elements are integral at that prime.  If that doesn't work it's a bug which should be reported.  But I don't think reduction modulo general ideals was done at the same time.  The best way forward would be to open a Sage trac ticket for this and implement it there.

[2016-06-20 21:20] JohnCremona commented on #1573
I'll take a look tomorrow.  It was quite a while ago and perhaps with a different invocation it does work.

[2016-06-20 21:32] AndrewVSutherland commented on #1573
No rush, I'll implement one of the two workarounds in any case (it needs to handle arbitrary ideals anyway, the typical input is probably an integer which, even if it is prime in Z won't be in O_K).

[2016-06-21 02:03] edgarcosta commented on #1570
where should we do that? code? or gce?

On 20 June 2016 at 19:34, Harald Schilly <notifications@github.com> wrote:

[2016-06-21 09:32] haraldschilly commented on #1570
if at all, that should be in the code. we also don't have to forget to declare the preferred way in the webmaster tools...

but for now, I wouldn't do anything.

[2016-06-21 13:42] JohnCremona commented on #1573
OK, so I.reduce(x) for x integral gives back another integer in the field which is congruent to x mod I and "reduced" in some sense, and is not defined unless I is an integral ideal and x is integral.

The thing I was remembering is this, which works (splitting it up for clarity) for reduction modulo primes:

sage: K = QuadraticField(-1,'a'); a=K.gen()
sage: I = K.ideal(1+a)
sage: F = K.residue_fi

[2016-06-21 14:01] AndrewVSutherland commented on #1573
@JohnCremona No worries, I already implemented what is needed for the Siegel modular forms pages.  These pages allow the user to reduce eigenvalues and Fourier "coefficients" (which may be polynomials over the coefficient field) modulo a user specified ideal -- this is handy when (as is very often the case), the values in question are far too large to reasonably display on the page but someone mig

[2016-06-21 14:11] AndrewVSutherland commented on #1573
While the current implementation for Siegel modular forms has a lot of problems (which I am in the process of fixing), the basic idea is sound and could be useful in other places in the LMFDB where the exact same issue arises, e.g. classical modular forms pages.  In order to make many of these pages load and display in a reasonable way we imposed a cutoff on the size of the coefficients (or degree

[2016-06-21 16:06] JohnCremona commented on #1548
See #1574.  All the precomputation has been done and stored in a new collection.  When that has been merged and the collections renamed, this can be closed.

[2016-06-22 01:23] AndrewVSutherland commented on #457
What is meant by "test data" here?

[2016-06-22 13:18] AndrewVSutherland commented on #1572
Fixed by #1578

[2016-06-22 13:18] AndrewVSutherland commented on #1572
And I'll e-mail Jen directly

[2016-06-22 13:29] AndrewVSutherland commented on #1548
As discussed on #1574, the collections have now all been updated.  You should still change the code to actually use the data at some point (not urgent).  Feel free to close or leave this issue open as a reminder as you see fit.

[2016-06-22 13:32] JohnCremona commented on #1548
Ah, now I see where the confusion is.  The code already uses the new data when it is there!  That code changes was already in #1563 .  So I'll close this.

[2016-06-22 13:32] #1548 closed

[2016-06-22 16:00] bryongloden commented on #457
Greetings @AndrewVSutherland. It sounds like @davidfarmer is saying "Seagull M. F." and appears as if 'smf' is an abbreviation for this

[2016-06-22 23:37] edgarcosta commented on #447
Close this issue?

This is the current setup:
<a href="https://raw.githubusercontent.com/edgarcosta/lmfdb-gce/master/setup/images/webserver.png"><img src="https://raw.githubusercontent.com/edgarcosta/lmfdb-gce/master/setup/images/webserver.png"  height="300"  ></a>

Where ms has 4 CPUs, 26 GB memory
and www-central* have 2 CPUs, 7.5 GB memory

[2016-06-23 01:04] AndrewVSutherland commented on #447
Agreed, I think we are good (and have the ability to scale up in the future if needed).

[2016-06-23 01:04] #447 closed

[2016-06-23 01:06] AndrewVSutherland commented on #1539
All instances of eval and sage_eval in Siegel modular forms are removed in PR #1577 (there were six, including one applied to user input).

[2016-06-25 13:23] AndrewVSutherland opened #1587 "Plot of L-functions of GL(3) Maass cusp forms is badly broken"
On the page http://www.lmfdb.org/L/degree3/MaassForm/ the plot for level 4 cusp forms displays an image of an LMFDB page with a server error:

![image](https://cloud.githubusercontent.com/assets/11425002/16356943/50aacd22-3ab6-11e6-9002-b6ffc3460b7f.png)

This was working as of PR https://github.com/LMFDB/lmfdb/pull/1529 (June 9, 2016).

[2016-06-25 13:31] AndrewVSutherland commented on #1587
I believe this problem was introduced by https://github.com/LMFDB/lmfdb/pull/1542, which got rid of a call to sage_eval in paintSvgFileAll wrapped around the argument to signtocolour (in lmfdb/lmfdb/lfunctions/LfunctionPlot.py).  It should be easy to fix.

[2016-06-25 14:18] AndrewVSutherland commented on #1587
Fixed in PR #1588 (float(sign) changed to CC(str(sign)).

[2016-06-25 15:24] #1587 closed

[2016-06-25 16:13] AndrewVSutherland commented on #488
Addressed by PR #1577 (including the server side "gutting" and removal of eval).

[2016-06-25 16:13] #488 closed

[2016-06-25 16:14] AndrewVSutherland commented on #989
Addressed by PR #1577.

[2016-06-25 16:14] #989 closed

[2016-06-25 16:14] AndrewVSutherland commented on #1531
Fixed in #1577.

[2016-06-25 16:14] #1531 closed

[2016-06-25 16:16] AndrewVSutherland commented on #1569
Fixed in #1577.

[2016-06-25 16:16] #1569 closed

[2016-06-25 16:17] AndrewVSutherland commented on #1571
Fixed in #1577.

[2016-06-25 16:17] #1571 closed

[2016-06-25 16:20] AndrewVSutherland commented on #1573
Fixed in #1577.

[2016-06-25 16:20] #1573 closed

[2016-06-25 16:30] AndrewVSutherland commented on #627
With PR #1577 lines that are too long to display or format reasonably are suppressed (I think this is a better solution than having Mathjax break lines, in several cases even a single coefficient is too large to fit on a line and there really is no way to reasonably display these, no matter how you much you fiddle with the Mathjax).

[2016-06-25 16:30] #627 closed

[2016-06-25 16:31] AndrewVSutherland commented on #1164
Addressed by #1577.

[2016-06-25 16:31] #1164 closed

[2016-06-25 16:33] AndrewVSutherland commented on #1247
#1577 addresses the performance issues in the Siegle modular forms page (including the main SMF page), they now all load quickly (most under 400s all within a few seconds).

[2016-06-26 16:23] AndrewVSutherland opened #1592 "flask.redirect(404) should be flask.abort(404)"
There are several places in the code (at least 7) where flask.redirect(40) is returned because of an error (usually something cannot be found or there is an invalid argument or request type in the URL).

Returning flask.redirect(404) when something cannot be found is not as useful as instead returning flask.abort(404).  Both display the same page 404.html, but in the former case the URL that cause

[2016-06-26 19:59] AndrewVSutherland commented on #1537
In the plot of Maass cusp forms of level 4 on the page http://www.lmfdb.org/L/degree3/MaassForm/, if you click on the green dot at 19.76654,5.26298 (the one second furthest to the right) you will be taken to the URL http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/4/1/19.76654_5.26298/0.4512678%20/, which produces an internal server error.

This is caused by the fact that the URL 'ModularForm/GL3/Q/

[2016-06-26 20:23] AndrewVSutherland commented on #1537
The pages http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/1/1/24.78828_6.590306/1.7780841%20/ and http://www.lmfdb.org/L/Zeros/ModularForm/GL3/Q/Maass/1/1/24.78828_6.590306/1.7780841%20/ are present and display correctly (the later differs from the URL reported by @JohnCremona in https://github.com/LMFDB/lmfdb/pull/1529#issuecomment-224832227 only by having an extra space just before the final "/"

[2016-06-26 21:32] AndrewVSutherland commented on #1537
The Lfunctions.instances database at Warwick and in the cloud have been updated so that the links

http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/4/1/19.76654_5.26298/0.4512678%20/
http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/4/1/15.04294_2.93986/-0.451767%20/

now both work.

[2016-06-27 01:48] edgarcosta opened #1594 "The meta description is a knowl"
***1 Upvote*** Hello,

This line:
`
<meta name="description" content="Welcome to the LMFDB, the database of L-functions, modular forms, and related objects. These pages are intended to be a modern handbook including tables, formulas, links, and references for L-functions and their underlying objects.">
`
common to all the webpages, comes from this knowl:

http://beta.lmfdb.org/knowledge/show/intro

[2016-06-27 02:03] AndrewVSutherland commented on #1594
+1 Anyone who can log in on beta (which is not secure, we are not even using https) can change our welcome message say whatever they want it to say.  This should definitely be hard-coded.

[2016-06-27 04:43] edgarcosta commented on #1592
Perhaps, we should also try to standardize the usage of 404, 400, and 500.
at the moment, there many pages that throw an internal server error, when they indeed mean 404 or 400.

[2016-06-27 12:12] #1594 closed

[2016-06-27 14:11] AndrewVSutherland opened #1599 "HMF search for degree=2 and dimension=2 times out on prod (but not on beta)"
The search http://www.lmfdb.org/ModularForm/GL2/TotallyReal/?field_label=&deg=2&disc=&weight=&level_norm=&dimension=2&count=100 times out after 30 seconds with a server error.  But the same search on beta http://beta.lmfdb.org/ModularForm/GL2/TotallyReal/?field_label=&deg=2&disc=&weight=&level_norm=&dimension=2&count=100 works fine, and on prod searching for just dimension=2 or just degree=2 works

[2016-06-27 14:45] AndrewVSutherland commented on #1599
I am adding an index to better support this kind of query; HMF searches may be unavailable for the next few minutes while the index builds.

[2016-06-27 16:31] sanni85 opened #1600 "Isogeny classes elliptic curves"
http://www.lmfdb.org/EllipticCurve/Q/91/b/

produces a server error

[2016-06-27 16:53] sanni85 commented on #1600
Sorry, now it works. It was giving Error 502 for a while.

[2016-06-27 16:59] JohnCremona commented on #1600
Iaccessed the same page at the same time (these curves were referred to in a talk in Warwick by Tim Dokchitser so may have been heavily in demand).

It could be related to the emails I received like this:

 Summary: An uptime check on lmfdb.org is failing

    Uptime check failed

Violation Began: 2016-06-27 16:09:17 UTC
Condition Name: Generic HTTP check on lmfdb.org
View violation details: https

[2016-06-27 17:12] AndrewVSutherland commented on #1600
This is probably related to work I have been doing to try and diagnose #1599 (which occurs only on www.lmfdb.org not on beta.lmfdb.org).  This put a heavy load on the mongo db server (I just reloaded all the HMFs from warick to the cloud but it's done now).  I'm going to close this issue but please reopen it if the problem recurs

[2016-06-27 17:12] #1600 closed

[2016-06-27 17:52] AndrewVSutherland commented on #1599
@edgarcosta I have done some testing and I believe this is may be a performance issue caused by the switch to wired tiger zlib.  I just recopied all the HMF data over from Warwick so the hmfs.forms collection in the two dbs are identical, and they have the exact same indexes, in the same order.

The issue is that when performing a query that cannot be resolved entirely by index lookup, some subset

[2016-06-27 18:05] AndrewVSutherland commented on #1599
I just added the critical tag to this issue because I believe it is the cause of #1600 and the stackdriver warnings we have been getting.  This (and similar) queries put a heavy CPU load on ms.lmfdb.xyz that persists well after the 30s timeout of the lmfdb worker thread -- even after the user sees the server error in their web browser, mongodb is still grinding away trying to finish the query (so

[2016-06-27 18:14] AndrewVSutherland commented on #1599
I updated https://github.com/LMFDB/lmfdb/issues/1599#issuecomment-228822188 to include the wall time for the query run on Atkin which did not get pasted in.  The key points is this: for this particular query wired tiger zlib appears to be more than 300 times slower than mmap.

[2016-06-27 18:22] AndrewVSutherland commented on #1599
@edgarcosta A possibly relevant paragraph from https://s3.amazonaws.com/info-mongodb-com/MongoDB-Performance-Best-Practices.pdf:

recommended to avoid performance issues that have been
observed when using EXT4 with WiredTiger.

I notice that we are running EXT4 on ms.lmfdb.xyz.

[2016-06-27 18:32] JohnCremona commented on #1599
This is relevant for the planned switchover to WiredTiger at Warwick at some point:  although we did once use XFS for the filesystem of the /data partition, we now use BTRFS.

[2016-06-27 18:47] AndrewVSutherland commented on #1599
@JohnCremona, @jvoight One thing that would ameliorate this problem (and might be a good idea in any case) is to move the hecke eigvenalues into a separate collection.  This would be very easy to do as far as the web server code goes (I think a few lines in web_HMF.py and the download functions in hilbert_modular_form.py are the only places where changes would be required).

But I'm reluctant to j

[2016-06-27 18:54] JohnCremona commented on #1599
I'm hoping that there will be time for John and I to talk about this this week, but he'll also be heavily in demand for some real mathematics!
My suggestion would be to use our new canonical prime ordering (which I explained to JV this afternoon) to do what you suggest but make the new collection have the eigenvalues in the new canonical order.  If we did this first (creating teh new eigenvalues c

[2016-06-27 19:17] edgarcosta commented on #1599
can you confirm that the ```Uptime check failed``` for 15 min was due to reindexing of HMF?

@AndrewVSutherland should we try the DB disk with XFS? I can do that in a couple of hours

[2016-06-27 19:28] AndrewVSutherland commented on #1599
@edgarcosta I believe it was a combination of that and testing that was putting a high cpu load on ms.lmfdb.xyz -- check the cpu chart on GCE and you will see the times line up.

Regarding XFS, yes I think that would be worth trying.

[2016-06-27 19:36] edgarcosta commented on #1599
FYI, In a couple of hours I will talk with Drew to discuss the problem, and hopefully we will come up with a decent solution.

ps: I'm in Australia at the moment.

[2016-06-28 03:03] AndrewVSutherland commented on #1599
An index on dimension,degree has been added on ms.lmfdb.xyz so that the specific query that identified this issue is now very quick.  But other queries may still be slow.  Edgar and I are running some experiments now with various combinations of storage engines and file systems.

[2016-06-28 03:43] AndrewVSutherland commented on #1006
@jshurman PR #1606 addresses this issue by including the degree in the title of the dimension table browse pages and forms (with a knowl on the word degree that you will be able to edit once the PR has been merged).

More generally, each family now has a degree attribute that can be displayed anywhere we wish.

[2016-06-28 04:58] jvoight commented on #1599
Thanks @AndrewVSutherland and @edgarcosta for dealing with this.  I noticed some slow searches before, and they were often fixed by adding an index.

I'm focused on math this week and don't know about file systems, so I'll leave y'all to that.

This doesn't help in the short term, but in the medium term, the proposal mentioned by @JohnCremona  to make a new eigenvalues collection seems like a good

[2016-06-28 05:20] jvoight opened #1607 "Typo in genus 2 decomposition"
See:
  http://lmfdb.org/Genus2Curve/Q/900601/a/900601/1

At the bottom, the polynomial is not formatted correctly.  Not sure if this is a one-off (in which case I can quickly fix it), or if it occurs in other cases.

[2016-06-28 05:41] edgarcosta commented on #1599
I have hitted a wall, and decided to ask for help at the mongodb mailing list.
https://groups.google.com/d/msg/mongodb-user/4IW3rvgeGh4/qwfgv9IrDAAJ

[2016-06-28 08:12] #1607 closed

[2016-06-28 10:39] AndrewVSutherland commented on #1599
Just to summarize what Edgar and I found last night, this performance issue is indeed a result of the switch from mmap to Wired Tiger (with zlib compression).  This is unfortunate because there are a lot of advantages to Wired Tiger -- it manages disk space much more efficiently and for many operations it is faster, but queries that require a linear search through a non-trivial amount of data can

[2016-06-28 14:06] AndrewVSutherland opened #1609 "Remove upload from website.py"
If you go to http://www.lmfdb.org/upload/viewAll you can see the contents of the upload database, which we would like to remove from the cloud mongo db (there is no reason for it to be there).  Moreover, if you go to http://www.lmfdb.org/users and log in, you will then see upload files on the side bar and can attempt to upload a file.  It will fail because of the access controls we now have in pla

[2016-06-28 14:09] JohnCremona commented on #1609
I agree.  I think this idea that we should make it easy for anyone to upload data and have something sensible happen to it was never a good one.  It is fine to delete any such data with my name on it, which I once uploaded at a workshop to try out the facility when it had just been set up (several years ago).

[2016-06-28 20:41] AndrewVSutherland commented on #1506
@pascalmolin Are you still planning to submit a PR on this?

[2016-06-28 20:52] AndrewVSutherland commented on #1087
A link to http://www.lmfdb.org/L/Character/Dirichlet/7000/3/ appears on http://www.lmfdb.org/Character/Dirichlet/7000/3/ and produces a server error.

[2016-06-29 02:01] AndrewVSutherland commented on #1599
I just submitted a PR that effectively addresses this issue in a very safe way -- rather than pulling eigenvalue data out of hmfs.forms, I simply created a new collection hmfs.forms.search that is an exact copy of hms.forms minus the eigenvalue data (it takes less than 1/400 of the space of hmfs.forms, so the overhead of having duplicate information is negligible). See #1615 for details.

This rem

[2016-06-29 02:46] edgarcosta commented on #1599
I reported it as bug to them, and let's see what they have to say about it.
https://jira.mongodb.org/browse/SERVER-24833

[2016-06-29 09:36] pascalmolin commented on #1506
yes, I'm on this one now (problems with implementing the next/previous page
for search results)

2016-06-28 22:41 GMT+02:00 Andrew Sutherland <notifications@github.com>:

[2016-06-29 09:48] AndrewVSutherland commented on #1599
#1615 has been pushed to prod and all HMF searches appear to be handled efficiently.  Closing.

[2016-06-29 09:48] #1599 closed

[2016-06-29 09:48] AndrewVSutherland commented on #1609
Addressed by #1610 and now on beta and prod.

[2016-06-29 09:48] #1609 closed

[2016-06-29 12:03] AndrewVSutherland commented on #1472
Another similar bread crumb problem (this time not an intermediate bread crumb but the last one).  If you go to http://www.lmfdb.org/EllipticCurve/2.0.3.1/%5B2268%2C36%2C18%5D/a/1 and click on the last break crumb you will be taken to http://www.lmfdb.org/EllipticCurve/2.0.3.1/%255B2268%252C36%252C18%255D/a/1.

@JohnCremona I don't think this would be hard to fix -- would you like me to do it?

[2016-06-29 12:12] AndrewVSutherland opened #1618 "Some ecnf twist links do not work"
If you go to http://www.lmfdb.org/EllipticCurve/2.2.5.1/31.1/a/1 and click on the twists link under related objects you get a server error on http://www.lmfdb.org/EllipticCurve/?field=2.2.5.1&jinv=-106208%2F31%2Aphi+%2B+51455%2F31
which complains about not being able to convert phi to a rational (presumably this is do to the code expecting the field elements to be expressed in terms of "a" rather

[2016-06-29 13:17] AndrewVSutherland commented on #1609
The upload database has been removed from the cloud (still present on Warwick).

[2016-06-29 13:33] JohnCremona commented on #1472
PLease do.  Thanks

[2016-06-29 13:35] JohnCremona commented on #1618
Yes: for this field the generator is phi and for Q(sqrt(-1)) it is i, otherwise it is a.  While looking nicer this has caused all sorts of annoying issues like this one.  I can fix it.

[2016-06-29 13:46] AndrewVSutherland opened #1619 "Problems with lcalc downloads for Dirichlet characters"
I don't see how these are being reached (they are not shown on the L-function pages for Dirichlet character), but we are getting errors in flasklog triggered by robots trying to visit pages like:

http://www.lmfdb.org/L/Character/Dirichlet/103/85/?download=lcalcfile

In fact almost all the Dirichlet lcalc downloads don't work, e.g.

http://www.lmfdb.org/L/Character/Dirichlet/7/2/?download=lcalcfil

[2016-06-29 13:53] AndrewVSutherland opened #1620 "Sato-Tate group links on Dirichlet L-function pages don't work"
If you go to http://www.lmfdb.org/L/Character/Dirichlet/7/5/ and click on the Sato-Tate group link mu(6) you get an error message saying the Sato-Tate group could not be found:

http://www.lmfdb.org/SatoTateGroup/mu(6)

Either there should not be a hyperlink on mu(6), or these Sato-Tate groups should be added.

(also, mu(6) is not rendered correctly, it should be $\mu(6)$).

[2016-06-29 15:42] JohnCremona commented on #1618
Patch on its way

[2016-06-29 15:52] AndrewVSutherland commented on #1618
Fixed by #1621

[2016-06-29 15:52] #1618 closed

[2016-06-29 18:57] bryongloden commented on #1472
Greetings @AndrewVSutherland! Here to help

[2016-06-29 19:22] davidfarmer commented on #1472
I have blocked Bryon Gloden from LMFDB, but I did not report
him to the GitHub administrators.

According to GitHub:

Blocking a user prevents the following on all organization repositories:

     opening or commenting on issues or pull requests
     forking repositories
     adding or editing wiki pages

David

On Wed, 29 Jun 2016, Bryon Gloden, CISSP® wrote:

[2016-06-29 19:52] AndrewVSutherland commented on #1472
http://www.lmfdb.org/EllipticCurve/2.2.5.1/?conductor_norm=76 lists elliptic curves of conductor norm 76 over any field, not just 2.2.5.1; I will fix this as well.

[2016-06-29 20:01] JohnCremona commented on #1472
How does that URL get created?  I fI first search for field 2.2.5.1 and then add the conductor norm an re-search, it is good.

[2016-06-29 20:06] AndrewVSutherland commented on #1472
@JohnCremona It doesn't get created, but one can type it in.  I found it while testing various error cases.

I'm about to commit a PR and you can see how it all works, I think you'll like it.

[2016-06-29 20:09] JohnCremona commented on #1472
Thanks -- while not feeling any obligation to manage any manually entered URLs, this one certainly seems sensible.  I'll be able to review your patch!

[2016-06-30 09:43] AndrewVSutherland commented on #1472
Closed via #1624

[2016-06-30 09:43] #1472 closed

[2016-06-30 11:49] Athim1978 commented on #1472
Hey there @davidfarmer of @LMFDB! We know @bryongloden. He says he was trying to help in here  yesterday when he greeted @andrewvsutherland and he says he said he was in here to help. We want to know why’d you block him for offering to help? The public's opinion of you and your organization will be that you’re rude if you're blocking people from helping with your public @GitHub. Please unblock him

[2016-06-30 15:25] AndrewVSutherland commented on #1537
Closed via #1593

[2016-06-30 15:26] #1537 closed

[2016-06-30 15:48] AndrewVSutherland commented on #1006
Closed via #1606.

[2016-06-30 15:48] #1006 closed

[2016-06-30 16:11] AndrewVSutherland commented on #1005
I am moving all this content into knowls where it can be easily edited.

[2016-06-30 22:03] AndrewVSutherland commented on #1533
The page http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/19/10/4/ has a similar problem.

[2016-06-30 22:34] AndrewVSutherland commented on #1506
@pascalmolin One issue I ran into is that if I start at http://127.0.0.1:37777/Character/ rather than http://127.0.0.1:37777/Character/Dirichlet (which I did accidentally just by clicking on the Characters link on the sidebar), some of the URL links in your character tables don't work (whereas the do on the production version), e.g. if you go to http://127.0.0.1:37777/Character/?order=5 and click

[2016-06-30 22:37] AndrewVSutherland commented on #1506
@pascalmolin In any case, I think you should make sure the urls in the table links you display start with "/Character/Dirichlet/" regardless of how the table was reached.

[2016-07-01 01:56] AndrewVSutherland commented on #1005
Closed via #1005.  I have done some light editing on what are now knowls and will ask @jshurman to review again and edit them as required.

[2016-07-01 01:56] #1005 closed

[2016-07-01 12:28] pascalmolin commented on #1506
2016-07-01 0:34 GMT+02:00 Andrew Sutherland <notifications@github.com>:

I have tried to solve this issue, but unfortunately I cannot connect to
lmfdb.warwick today, so the commit is not tested at all.

Now I don't actually think it is a good thing that the pages

since Hecke are currently missing it was decided at some point to redirect
to the same Dirichlet page instead of having an almost empty

[2016-07-01 12:44] AndrewVSutherland commented on #1506
@pascalmolin Thanks for the update, I'll continue reviewing.  lmfdb.warwick is actually up but apparently there is an ip routing problem (people are working to get this fixed now).  I'll test on atkin which still knows how to talk to lmfdb.warwick.

[2016-07-02 15:41] jwj61 opened #1635 "Please update artin rep database in the cloud"
Please update the cloud database for artin.representations.  I fixed faulty data for 6 artin representations (those with Galois group 12T12) in warwick.  If you like, you can see the difference by comparing beta and the production servers for the L-function plots of the representations.  Here are links to the L-functions on beta.

http://beta.lmfdb.org/L/ArtinRepresentation/2.2e2_3_11e2.12t12.2c1

[2016-07-02 15:49] AndrewVSutherland commented on #1635
Done.

[2016-07-02 15:49] #1635 closed

[2016-07-03 10:03] AndrewVSutherland opened #1640 "Some user profiles generate server errors"
The following user profile pages generate internal server errors:

http://beta.lmfdb.org/users/profile/MichaelRubinstein
http://beta.lmfdb.org/users/profile/cremona
http://beta.lmfdb.org/users/profile/timdok
http://beta.lmfdb.org/users/profile/Pascal

Links to user profile pages appear (for example) on all knowl pages edited by the users.  Most of them work fine, but these (ans possibly others) do

[2016-07-03 12:39] AndrewVSutherland opened #1641 "Bad bread in hypergeometric motives search page"
On the page http://beta.lmfdb.org/Motive/Hypergeometric/Q/?weight=0&degree=1&family=1, clicking on the last bread crumb leads to http://beta.lmfdb.org/Motive/Hypergeometric/Q/search, which produces a server error.

[2016-07-03 12:42] AndrewVSutherland commented on #1640
I believe this error occurs for users who have submitted uploads (it is trying to display information about the upload when the server error occurs).  I will fix this.

[2016-07-03 13:02] #1641 closed

[2016-07-03 17:11] AndrewVSutherland commented on #1506
Closed via #1630 and #1642 (now live on beta, soon to be on prod).

[2016-07-03 17:11] #1506 closed

[2016-07-03 21:41] AndrewVSutherland commented on #1276
#1645 removes the last remaining occurrence of "<a knowl..." in any LMFDB html file.

I note that the knowl html tag is used in python code that constructs text to be displayed in templaces (e.g. as in nf_display_knowl in WebNumberField and many of the *_stats.py modules), but I don't we can or should change this (jinja2 has no eval equivalent, and even if it did we would not want to use it).

[2016-07-03 21:41] #1276 closed

[2016-07-03 22:32] AndrewVSutherland commented on #1640
fixed via #1646

[2016-07-03 22:32] #1640 closed

[2016-07-03 23:41] AndrewVSutherland commented on #1535
fixed via #1648.  I'll delete the knowl once the PR has been pushed to beta and prod.

[2016-07-03 23:41] #1535 closed

[2016-07-04 00:56] AndrewVSutherland opened #1649 "Remove number_fields_galois_groups"
None of the links on http://www.lmfdb.org/NFGG/ work and it appears that this code has been made complete superseded by http://www.lmfdb.org/GaloisGroup/.  There have been essentially no changes to the code in the last 4 years other than for general system-wide code maintenance issues (like the one I am working on now).

If this is indeed the case the line "import number_field_galois_groups" in we

[2016-07-04 01:52] #1592 closed

[2016-07-04 03:56] jwj61 commented on #1649
This was part of the original artin representation package.  The data was incorporated into the pages of individual artin rep'ns (explicit action on roots as permutations).

I _think_ this can be removed because the infrastructure which is needed is in mathclasses.py, but I am not 100% sure since I didn't write it.  So, if you start removing it, the key places to check are artin rep pages and page

[2016-07-04 12:51] AndrewVSutherland commented on #1649
@jwj61 There were two unused imports of number_fields_galois_groups in artin_representations/main.py that I removed in #1654 (I also cleaned up the import *'s, per #122 and removed other unused imports identified by pyflakes), which comments out the import of number_fields_galois_groups in website.py.  Everything seems to work (all tests pass except for one problem in classical modular forms that

[2016-07-04 13:15] AndrewVSutherland commented on #883
closed via #1631, the pages in question have all been converted to knowls where they can be easily added (and links to other knowls, such as group.sp2gr can easily be added using the proper syntax).

[2016-07-04 13:15] #883 closed

[2016-07-04 13:34] jvoight commented on #1540
@JohnCremona see pull request #1655.  Not sure if the wording is quite right--what kind of acknowledg(e)ment do you want for the Warwick/Bristol servers, given that they still host beta, etc.?

[2016-07-04 13:38] jvoight opened #1656 "Insufficient Hecke eigenvalues"
@danyasaki reported that certain HMFs do not have as many Hecke eigenvalues as prime ideals; he found the following:

2.2.85.1-180.2-m
2.2.85.1-180.2-n
2.2.85.1-180.2-o
2.2.85.1-180.2-p
2.2.85.1-180.2-q
2.2.85.1-180.3-m
2.2.85.1-180.3-n
2.2.85.1-180.3-o
2.2.85.1-180.3-p
2.2.85.1-180.3-q

(There does not appear to be any problem with forms with level 180.1.)

[2016-07-04 13:42] AndrewVSutherland commented on #1540
@jvoight J.C. is on vacation at present, but #1655 looks fine to me (we can always change it again if need be).

[2016-07-04 13:42] #1540 closed

[2016-07-04 14:11] jwj61 commented on #1649
I will be happy to look at it, but it will be probably be next week.

[2016-07-04 15:36] jvoight commented on #1656
@AurelPage, @JohnCremona I do not have these ideals in my text files--the largest ideal NN consider has norm 180 and has NN cap ZZ = (30).  Were these added by one of you, or am I not remembering something I did?

[2016-07-04 15:54] AurelPage commented on #1656
@jvoight Are they Galois conjugate of ideals that were present in your text files? If yes, it is possible that we added them when we added Galois conjugate forms (I cannot check right now but I will).

[2016-07-04 18:07] jvoight commented on #1656
The ideals 180.2 and 180.3 are Galois conjugate, but they are not conjugate to forms in my data files.  So something was added beyond these (possibly by me).

[2016-07-07 01:24] AndrewVSutherland opened #1661 "Server error on two degree 10 number field pages"
If you go to http://www.lmfdb.org/NumberField/?degree=10&discriminant=1107649855354064 you will see a link to the number field 10.10.1107649855354064.1 (so this is a valid label).  If you click on the link to go to http://www.lmfdb.org/NumberField/10.10.1107649855354064.1 you get an internal server error.

The flasklog trace-back appears below:

There is also a server error on  http://www.lmfdb.or

[2016-07-07 01:33] AndrewVSutherland opened #1662 "Timeout attempting to load degree 16 number field page"
If you go to http://www.lmfdb.org/NumberField/?degree=16&discriminant=13307764731675384304522756096 you will see 4 number fields listed.  The last 3 links work fine, but the first times out, apparently while in pari_integeral_basis.  From the flasklog:

Traceback (most recent call last):
  File "/home/sage/sage-7.1/local/lib/python2.7/site-packages/Flask-0.10.1-py2.7.egg/flask/app.py", line 1817,

[2016-07-07 12:22] AndrewVSutherland commented on #1620
Closed via #1658

[2016-07-07 12:22] #1620 closed

[2016-07-07 12:23] jenpaulhus opened #1663 "Higher Genus Curve download not working"
The pages from #1657 are returning an error in beta.
http://beta.lmfdb.org/HigherGenus/C/aut/3.14-2.0.2-7-14/download/magma

When I checked locally, it looks like the issue is that "make_response" is not being imported from flask which is called on line 497 of main.py.

However, when I look at the files I committed (which include the import), they are a bit different than the ones that were merged

[2016-07-07 12:30] AndrewVSutherland commented on #1087
The server errors are due to the fact that there simply are not records in the Lfunctions.instances collection for any Dirichlet L-functions of conductor greater than 6461, and they are also missing for several conductors in the interval [6419,6459]; they do appear to be present for all conductors below 6419.

I think the correct fix for this is to make two changes (1) display a reasonable error m

[2016-07-07 12:33] AndrewVSutherland2 commented on #1663
@jenpaulhus -- let me figure out what went wrong here before you make any
further changes.

On Thu, Jul 7, 2016 at 8:23 AM, Jen Paulhus, Ph.D. <notifications@github.com

[2016-07-07 12:45] AndrewVSutherland commented on #1663
@jenpaulhus OK, the make_response import inadvertently got removed in PR #1592 (which was applied to a version of main.py that was not using make_response).  This wasn't flagged as a merge conflict by git because your most recent PR didn't change this line.  I have corrected it and pushed the change to beta, once I confirm the fix works I will close this issue.

pyflakes did not report any other m

[2016-07-07 12:46] AndrewVSutherland commented on #1663
OK, the downloads now work on beta.  Closing.

[2016-07-07 12:46] #1663 closed

[2016-07-07 21:45] AndrewVSutherland commented on #1087
Fixed via #1667 and #1669

[2016-07-07 21:45] #1087 closed

[2016-07-08 01:01] AndrewVSutherland commented on #500
While in the process of cleaning up some of the L-function code I came across this and also cleaned up the tensor_products code and modified it to use the new error handling code introduced in PR #1667 so these internal server errors no longer occur and a more reasonable error message is displayed (in this case the issue is that current implementation requires both curves to be semistable).

It wi

[2016-07-08 01:22] edgarcosta commented on #500
Could we put a more reasonable time limit on it?
like in the case of the zeros or graph of an L-function?

[2016-07-08 01:28] AndrewVSutherland commented on #500
@edgarcosta How do we change the timeout for a specific computation?  I didn't realize one could do this.

[2016-07-08 01:29] edgarcosta commented on #500
I don't know at the moment.
I would need to look it up. My first approach would be to check the code of L-functions and zeros, to see how they do it.

[2016-07-08 01:47] davidfarmer commented on #500
Presumably we should precompute those tensor products, which will
probably go at the end of the list of other L-functions we are
planning to precompute.

On Thu, 7 Jul 2016, edgarcosta wrote:

[2016-07-08 01:54] AndrewVSutherland commented on #500
Precomputing is certainly the cleanest and most efficient solution, in which case all this code becomes obsolete.  But it would force us to impose a pretty low conductor bound, because otherwise there are just too many products to precompute. With some fast C code it might be possible to do this on the fly up to a much larger conductor bound.

But another advantage to precomputing is that we can t

[2016-07-08 02:21] edgarcosta commented on #500
Please ignore what I said.
I checked the Lfunction code, and it seems that they don't restrict the time, even though there is an argument for it:
https://github.com/LMFDB/lmfdb/blob/beta/lmfdb/lfunctions/Lfunction_base.py#L89

[2016-07-08 13:30] AndrewVSutherland opened #1679 "Remove quadratic_twists.py"
The page www.lmfdb.org/quadratic_twists does not appear to do anything useful (every link simply says "no such curves" and the underlying code https://github.com/LMFDB/lmfdb/blob/master/lmfdb/quadratic_twists.py appears to not have been touched in a meaningful way for more than 5 years.

The page http://www.lmfdb.org/quadratic_twists/download_Rub_data (presumably discovered by a robot) raises inte

[2016-07-08 13:51] AndrewVSutherland commented on #1619
Robots are still hitting these (a bunch occurred last night, although I do not think they are what caused the outage).

[2016-07-08 14:19] AndrewVSutherland opened #1680 "Resource intensive L-function zeros pages for classical modular forms"
Several L-function zeros pages for classical modular forms are extremely resource intensive and result in timeouts after 60 seconds (not 30, which is strange).

These are getting hit regularly (possibly by robots) and showing up in the flasklog; they could cause the webserver to become unresponsive if many are requested simultaneously, which is why I am labeling it as a production problem (even th

[2016-07-08 22:47] jwj61 commented on #1662
I can see how to fix this one (and will work on it next week).  We have precomputed an integral basis already and can feed that to nfinit so the hard part of initializing is skipped.  The rest of the on-the-fly computation is pretty trivial.

[2016-07-09 08:14] edgarcosta commented on #1680
I think the reason why it took 60s for you to get an error message has something to do with the timeout of the loadbalancer and the timeout for gunicorn being the same, both were set at 30s.
I you access them directly on beta or www-centraln, you get to see the gunicorn issuing a timeout and you get an LMFDB error message, instead of of the generic error message from google, saying to try again in

[2016-07-09 09:04] edgarcosta commented on #1619
I believe that they were reachable at some point, and I guess that
webcrawlers put them on their todo list for later.

On 8 July 2016 at 23:51, Andrew Sutherland <notifications@github.com> wrote:

[2016-07-09 09:04] AndrewVSutherland commented on #1680
@edgarcosta Now the pages give "internal server errors", which is less helpful, it would be good to tell the user that the query timed out (and ideally it would be better to give some indication that the LMFDB is actually up and running, it's just this particular page that has a problem and give them an option to return to www.lmfdb.org).

[2016-07-09 09:09] AndrewVSutherland commented on #1619
@AndrewVSutherland I can take a look at this and see if I can at least stop the exceptions from showing up in flasklog.

[2016-07-09 10:09] edgarcosta commented on #1680
Hmm, we are getting different things.
I get the 500 error page from lmfdb saying:
"The page you are looking for has produced a server error."

On 9 July 2016 at 19:04, Andrew Sutherland <notifications@github.com> wrote:

[2016-07-09 11:25] AndrewVSutherland commented on #1680
@edgarcosta Actually I am getting the same message as you ("server error" not "internal server error"), sorry for the confusion.  So here's a question -- is the only way to get this page a timeout?  If so it would be nice to change the message, if not it would be nice to find a way to distinguish timeout 500's from others.

[2016-07-09 12:21] edgarcosta commented on #1680
I'm don't know how at the moment.
Perhaps we can try to catch the sigkill or the sigabrt signal and produce a
different error message?
https://github.com/benoitc/gunicorn/blob/master/gunicorn/arbiter.py#L468

On 9 July 2016 at 21:25, Andrew Sutherland <notifications@github.com> wrote:

[2016-07-09 13:47] AndrewVSutherland opened #1687 "Many number field L-function pages crash the LMFDB"
The page http://www.lmfdb.org/L/NumberField/14.14.28152039412241052225421312.1/ causes an unhandled SIGABRT that crashes the web server (which then restarts).  Because it is an unhandled error, nothing appears in flasklog or accesslog.  A (long) traceback taken on Atkin appears below.

Repeatedly accessing this page can easily make the webserver unavailable (because it has to keep restarting and t

[2016-07-09 17:02] AndrewVSutherland commented on #1687
This problem is not specific to the page above, it happens for many L-functions of high degree number fields, including http://www.lmfdb.org/L/NumberField/10.0.162778775259375.1/, for example.  I suspect the robot was not retrying the same URL over and over but running through a list, many of which were hitting this bug.

The crash is occurring in the evaluation of L.sageLfunction.value which invo

[2016-07-09 17:26] AndrewVSutherland opened #1691 "Server error when computing L-function zeros of number fields"
The page www.lmfdb.org/L/Zeros/NumberField/8.0.2178981.1/ causes a server error (as does the page www.lmfdb.org/L/NumberField/8.0.2178981.1/, but in this case the error is not reported to the user, it just fails to compute the Z-plot and logs the exception in flasklog).  Similar errors happen on many other pages, including:

www.lmfdb.org/L/Zeros/NumberField/8.2.32941720000.1/
www.lmfdb.org/L/Zero

[2016-07-09 18:41] AndrewVSutherland commented on #1431
I added a new /stats option to the api interface that generates a table of mongo db collections ordered by size and/or number of objects; you can check it out at:

http://www.lmfdb.org/api/stats
http://beta.lmfdb.org/api/stats

One thing that jumps out is that on beta the single largest collection (about 300 GB) is ap.chunks in modularforms2 and the third largest is vector_on_basis.chunks (at 135

[2016-07-09 19:12] AndrewVSutherland commented on #1687
This problem is not isolated, it appears to occur for about 5 percent of the number fields currently in the LMFDB.  I ran the following bash/curl script to test 1000 random number fields (note that tcurl is in lmfdb/perfmon)

 for i in {1..1000}; do curl --silent www.lmfdb.org/NumberField/random | grep "href" |  awk -F\" '{print "www-central0.lmfdb.xyz/L"$2}' | tcurl; done | grep -v "status 200"

[2016-07-09 19:17] AndrewVSutherland commented on #1687
Unless anyone has a better idea, I think we should disable the computation of special values (and possibly also zeros, see #1691) for Dedekind zeta functions until/unless the problem in the sage lcalc library is fixed.  It might suffice to only do this for number fields of degree > 4, although the problem in #1691 affects even some quadratic fields.

Longer term, we should probably just store thes

[2016-07-09 19:24] AndrewVSutherland opened #1692 "Server error on degree 16 Number field L-functions"
In the course of investigating #1687 I stumbled across the problems on the following 4 L-function pages:

http://www.lmfdb.org/L/NumberField/16.2.14383898168677573334952601242898232687.4/
http://www.lmfdb.org/L/NumberField/16.4.1055734705924451249419325715250393166653097913001.1/
http://www.lmfdb.org/L/NumberField/16.4.35504497706629289335330118915361516626281.21/
http://www.lmfdb.org/L/NumberFiel

[2016-07-09 20:35] AndrewVSutherland commented on #1692
Closed via #1692 (the problem was occurring because class number and regulator is not available for these fields).

[2016-07-09 20:35] #1692 closed

[2016-07-09 21:10] AndrewVSutherland commented on #1691
This problem is more pervasive than #1687, affecting about 1/3 of all number fields (37 out of 100 randomly chosen fields), including:

http://www.lmfdb.org/L/Zeros/NumberField/2.2.2105897.1/
http://www.lmfdb.org/L/Zeros/NumberField/7.3.48090396.1/
http://www.lmfdb.org/L/Zeros/NumberField/7.1.132713424.1/
http://www.lmfdb.org/L/Zeros/NumberField/7.1.136749644.1/
http://www.lmfdb.org/L/Zeros/Number

[2016-07-10 02:05] AndrewVSutherland commented on #1619
Fixed in PR #1695 (the problem was Dirichlet coeffs specified as strings e(m/n) (in fact as $e\left\frac{m}{n}\right)$.  string2number in Lfunctionutilities.py has been changed to handle these.

[2016-07-10 03:05] edgarcosta commented on #1691
The plots and the zeros are computed in parallel, and included with a src="".

We could display error messages with javascript.
For the plot, one can  do something like this:
[code]
for the zeros, we would need to edit

[code]

[2016-07-10 05:23] edgarcosta commented on #1687
@AndrewVSutherland I agree. Perhaps a big goal for 2.0, would be to not do any "math" computation whatsoever.

[2016-07-10 09:27] AndrewVSutherland commented on #1691
@edgarcosta With the fix for #1692, we already get this for the zeros, see http://beta.lmfdb.org/L/NumberField/16.2.14383898168677573334952601242898232687.4/, for example (whatever text gets returned shows up, even without any change to the html).  But I like the idea of adding a "not available" picture for the plot when it cannot be computed for some reason.

[2016-07-10 09:37] AndrewVSutherland commented on #1691
I should not that there are actually two different problems causing the server errors for the pages listed [above](https://github.com/LMFDB/lmfdb/issues/1691#issuecomment-231556070).  For a few of them (e.g. http://www.lmfdb.org/L/Zeros/NumberField/2.2.2105897.1/)  computation is simply taking too long and timing out, but for most (e.g. http://www.lmfdb.org/L/Zeros/NumberField/5.5.164513793609.1/)

[2016-07-10 11:00] edgarcosta commented on #1691
gunicorn timeout is now set at 35s.
and loadbalancer 30s.

On 10 July 2016 at 19:37, Andrew Sutherland <notifications@github.com>
wrote:

[2016-07-10 13:06] AndrewVSutherland commented on #1691
@edgarcosta Thanks.  BTW, Lfunction.html will display a suitable "not available" message if zeroslink or plotlink are not set, and this is something that we should be able to determine at the time Lfunction.html is rendered.  I'm going to amend the fix for #1692 to do this so that it will say the plotlink is not available rather than displaying an empty stub for an image file that is never going t

[2016-07-10 13:41] AndrewVSutherland opened #1697 "Bad labels for many degree 4 number fields on beta"
If you go to http://beta.lmfdb.org/NumberField/?discriminant=1944468 (for example) you will see 6 results

http://beta.lmfdb.org/NumberField/4.4.1944468.1
http://beta.lmfdb.org/NumberField/4.1944468.0.1
http://beta.lmfdb.org/NumberField/4.1944468.0.2
http://beta.lmfdb.org/NumberField/4.1944468.0.3
http://beta.lmfdb.org/NumberField/4.1944468.0.4
http://beta.lmfdb.org/NumberField/4.1944468.0.5

Only

[2016-07-10 15:45] AndrewVSutherland commented on #1691
I ran some more tests on low degree number fields:

- for 100 randomly chosen quadratic fields there were no 500 errors (corresponding to bad_alloc errors in the sage lcalc library), but there were 14 cases where 502 (timeout) errors occured.  This is surprising because website_zeros is supposed to spend more than 10 seconds.
- for 100 randomly chosen cubic fields there were no errors (all 200s)
-

[2016-07-10 15:52] AndrewVSutherland opened #1700 "Store Dedekind zeta L-function data in the database"
As discussed in #1687 and #1691, due to myriad problems with computing special values, zeros, and Z-plots of L-functions on the fly using lcalc, we would like to have the L-function data for Dedekind zeta functions stored in the database (as we now do for Dirichlet L-functions).

[2016-07-10 16:28] JohnCremona commented on #1540
Thanks -- current text looks good to me.

[2016-07-10 17:04] davidfarmer commented on #1700
Duplicate of #420

I also want us to (re)visit the issue of storing the Artin L-functions
and using the factorization of the Dedekind zeta function.

On Sun, 10 Jul 2016, Andrew Sutherland wrote:

[2016-07-10 17:44] AndrewVSutherland commented on #1700
@davidfarmer I think you meant #430 not #420.  I note that #430 is tagged with a 1.2 milestone rather than 2.0, which I like.   I agree that it we should store Artin L-functions in the database.  I'm not 100% convinced about the idea of using the factorization, I would want to be sure it can be done quickly and safely (preferably without relying on Sage).

Given that there is now more conversation

[2016-07-10 17:51] AndrewVSutherland commented on #1700
@davidfarmer BTW, I am now 100% in agreement with your [comment](https://github.com/LMFDB/lmfdb/issues/500#issuecomment-231255861) about pre-computing and storing tensor product L-functions on #500; we shouldn't be trying to compute L-functions on the fly unless it is truly trivial.  Aside from the resources it uses, there are just too many ways for things to go wrong.

[2016-07-10 17:54] AndrewVSutherland commented on #12
This issue is fixed by PR #1701, which by preventing the computation of special values for number field L-functions of degree > 4 allows this page to load correctly.

[2016-07-10 19:23] davidfarmer commented on #430
Closing because an similar recent issue has more discussion.

[2016-07-10 19:23] #430 closed

[2016-07-10 19:59] AndrewVSutherland commented on #12
Closed via #1701.

[2016-07-10 19:59] #12 closed

[2016-07-10 20:00] AndrewVSutherland commented on #1687
Closing via #1701 (see #1700 for longer term fix).

[2016-07-10 20:00] #1687 closed

[2016-07-10 20:00] AndrewVSutherland commented on #1691
Closed via #1701 (see #1700 for longer term fix).

[2016-07-10 20:00] #1691 closed

[2016-07-11 00:21] AndrewVSutherland commented on #1184
ST group links now appear on Dirichlet L-function pages and as friends of Dirichlet characters (PR #1658 and PR #1703).

[2016-07-11 03:12] edgarcosta commented on #1691
even though there is an argument for time allowed, it isn't used at all

[2016-07-11 14:07] AndrewVSutherland commented on #534
After the recent round of cleanup to the Dirichlet character pages this problem no longer occurs.

[2016-07-11 14:07] #534 closed

[2016-07-11 14:14] AndrewVSutherland commented on #71
I think the sliders should be removed; when the modulus is large they are pretty useless (see http://www.lmfdb.org/Character/Dirichlet/99999/2).  I took a quick look at automatically filling in the values when the page loads but I don't see an easy way to do it (I'm sure it can be done).

[2016-07-11 14:29] AndrewVSutherland commented on #862
I presume you mean tables like these?

http://www.lmfdb.org/Character/Dirichlet/?modbrowse=1-20
http://www.lmfdb.org/Character/Dirichlet/?condbrowse=1-20
http://www.lmfdb.org/Character/Dirichlet/?ordbrowse=1-20

They don't strike me as horribly inconsistent.  Or were you referring to something else?

[2016-07-11 14:59] pascalmolin commented on #71
I can do this. So remove slider (I agree, I used the jacobi sums recently
and never the slider) and place default input: 2 for jacobi and 1,1 for
kloosterman sounds reasonable.

Pascal

2016-07-11 16:14 GMT+02:00 Andrew Sutherland <notifications@github.com>:

[2016-07-11 15:04] AndrewVSutherland commented on #71
@pascalmolin Thanks!  But let me merge PR 1703 before you create a new branch, it contains changes to some of the Character/Dirichlet files.

[2016-07-11 15:12] pascalmolin commented on #862
I proposed a search result page instead last workshop, but people prefered
these tables.

2016-07-11 16:29 GMT+02:00 Andrew Sutherland <notifications@github.com>:

[2016-07-11 15:21] AndrewVSutherland commented on #862
I'm fine with keeping the tables as they are, so unless there is a consensus to change them I would suggest we leave them as is and close this issue.  But I'll give @jwj61 and others a chance to chime in before doing so.

[2016-07-11 16:03] davidfarmer commented on #862
I don't think there is any reason to change how those pages appear.

I suspect that the only point of the issue was the use of

/static/jquery.dataTables.js

The point being that those are not used elsewhere.

Us experts need to keep in mind that we are not the audience
for that page.  That is why it would be bad to change to a
search result page.

If there is a problem that experts want to search

[2016-07-11 18:48] jwj61 commented on #862
As stated before, this is a question of design philosophy.  A basic design principle is to make things consistent unless there is a good reason not to.  In effect, if you think these search result pages should be different, you should have some reasons why they should have a different look.

Alternatively we could decide all search result pages should use this look.  Before putting lots of time in

[2016-07-11 19:27] AndrewVSutherland commented on #862
@jwj61 In the current implementation dataTables are no longer used to render search results, these are rendered in the standard way, see

http://www.lmfdb.org/Character/Dirichlet/?modulus=&conductor=&order=&search=1&limit=25

for example.  Datatables are used only to display tables, and these tables are not all that different looking from those used elsewhere in the LMFDB, for example:

http://www

[2016-07-11 19:33] davidfarmer commented on #862
Let's close it.  Nothing to be gained for the user, and little
to be gained in code improvements.

On Mon, 11 Jul 2016, Andrew Sutherland wrote:

[2016-07-11 19:46] JohnCremona commented on #1679
I agree -- Gagan Sekhon has not been involved with LMFDB since 2011 at MSRI, and no-one else apart has edited this file apart from trivial changes.  But @mrubinst should perhaps comment since I think she was doing this under his guidance (and one of the functions is called "download_Rub_data()").

[2016-07-11 20:24] AndrewVSutherland commented on #1649
Closed via #1654

[2016-07-11 20:24] #1649 closed

[2016-07-11 20:33] AndrewVSutherland commented on #1331
Found it!  It was in the knowl www.lmfdb.org/knowledge/show/mf.48.2.1.a.formulas, now fixed (along with a bunch of other typos I found while searching for it).

[2016-07-11 20:33] #1331 closed

[2016-07-11 20:58] AndrewVSutherland commented on #1236
The first step is to have a generic mechanism for computing and storing counts; I am going to work on this and implement it in genus 2 curves.

Once this is in place, I don't think we need to do it nightly, at least not on the production server, we only need to do it when the database changes (which is infrequent).

[2016-07-11 21:00] AndrewVSutherland commented on #1236
I'll also note that, aside from a few issues in ecnf and number fields, this issue is the main thing that is keeping me from closing #1247.

[2016-07-11 21:11] AndrewVSutherland commented on #1140
So I think the consensus is that labels should (possibly after converting to lower case) always be valid knowl ids.  Given that there is already an issue for ecnf labels (see #1147), which as far as I know are the only current labels that can't be used in knowl ids, I'm going to close this (if anyone knows of other labels that are problematic, please raise an issue for them).

[2016-07-11 21:11] #1140 closed

[2016-07-11 21:16] AndrewVSutherland commented on #1132
So I see the problem on http://www.lmfdb.org/L/ModularForm/GSp4/Q/Maass/1/1/19.81936_8.531078/2.06692296/, you don't like the "+-" in +-0.992304843·11^{-s}.  That's easy to fix.

What about the formatting of http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/1/1/16.40312_0.171121/-0.4216864/ do you think should change?

[2016-07-11 21:21] AndrewVSutherland commented on #1128
Tests for these were added in PR #1702 (they are very basic but they can easily be extended).

[2016-07-11 21:21] #1128 closed

[2016-07-11 21:30] AndrewVSutherland commented on #607
@JohnCremona I just checked the first 12 in your list above and they all appear to be there; are there still curves that are missing or can this issue be closed?

[2016-07-11 21:41] AndrewVSutherland commented on #583
What needs to happen to address this issue?

[2016-07-11 21:49] AndrewVSutherland commented on #583
This looks like a duplicate of #427, closing.

[2016-07-11 21:49] #583 closed

[2016-07-11 22:30] AndrewVSutherland commented on #638
This highlights an issue related to a discussion I had with John Cremona and Harald Schilly a while back.   There are many cases where we have objects in the LMFDB that are special cases of more general objects, and in sometimes  it is better to restrict to the special case (because it might be much simpler to explain), and sometimes not (because it might be essentially the same).

This is not som

[2016-07-11 23:27] AndrewVSutherland commented on #328
I don't think this is something we should jump into until we understand the performance implications (which also depends on our choice of storage engine).  There are already several mongo db features that we do not or cannot use effectively because of performance limitations (e.g. queries on array fields).

My guess is that, as with the switch to WiredTiger/zlib, there will be advantages and disad

[2016-07-12 01:20] AndrewVSutherland opened #1712 "Fields cut out by Dirichlet characters"
As indicated in the knowl http://www.lmfdb.org/knowledge/show/character.dirichlet.related_fields that appears on the page of every Dirichlet character (of modulus up to 10^5), there are two fields associated to any Dirichlet character, it's field of values and the field cut out by its kernel (see http://www.lmfdb.org/knowledge/show/character.dirichlet.field_cut_out for the definition of the latter

[2016-07-12 01:59] AndrewVSutherland commented on #1712
@jwj61 Would it be easy to do this from the number field side?  Perhaps this is something you have already thought about (I notice you are the author of the knowls I referenced above).

[2016-07-12 04:28] edgarcosta commented on #1132
The "L = 1" and the rest of the terms aren't vertically aligned. I believe this might be an issue in all the Lfunctions

[2016-07-12 07:33] edgarcosta commented on #1294
This must happen some day.
with or without changing the storage engine.

[2016-07-12 07:36] edgarcosta commented on #122
@AndrewVSutherland what about making running your code through pyflakes a standard thing?

[2016-07-12 08:02] JohnCremona commented on #607
Closing -- all curves over cubic fields were found.

[2016-07-12 08:02] #607 closed

[2016-07-12 09:15] edgarcosta opened #1714 "Should we remove the route for /hg/<arg>?"
Should we remove the route for "/hg/<arg>" (this was for mercurial).
see: https://github.com/LMFDB/lmfdb/blob/master/lmfdb/website.py#L95

[2016-07-12 09:18] JohnCremona commented on #1714
Yes

[2016-07-12 09:20] edgarcosta commented on #1209
Should we change the timeout for pymongo from the default 30s, to something on the range of 1s?
We could set this on `mongoclient.config`

[2016-07-12 09:23] edgarcosta opened #1716 "Should we remove /checklist and /checklist-list?"
see:
* https://github.com/LMFDB/lmfdb/blob/master/lmfdb/website.py#L191
* http://beta.lmfdb.org/checklist

[2016-07-12 09:28] edgarcosta opened #1717 "Deprecated app.routes?"
Should we remove:
* /a/int
* /form
* /example
* /calc
* /form
* /example_plot
* /example/blah

?

Yes:
* /hg/blah

No:
* /checklist
* /checklist-list

?

All these app.routes are in `base.py`, many do not work.

[2016-07-12 09:29] edgarcosta commented on #1716
see #1717

[2016-07-12 09:29] #1716 closed

[2016-07-12 09:29] edgarcosta commented on #1714
thank you, put everything together in #1717

[2016-07-12 09:29] #1714 closed

[2016-07-12 09:34] JohnCremona commented on #1717
I still use /checklist from time to time -- it is perhaps superceded by the testing we do using test.sh but it still has some uses, e.g. for a demo.  But perhaps its existence ought to be advertised as I am not sure if all reletively recent joiners know about it  ( @AndrewVSutherland ?)

[2016-07-12 09:39] edgarcosta commented on #1717
@JohnCremona Thank you. Let's keep it then. The goal is to get rid of deprecated  and/or unused code, and nothing else.

[2016-07-12 09:52] AndrewVSutherland commented on #1294
I think we know enough to say that we should leave Warwick on Mmap for the moment (the WiredTiger performance issues we saw in the cloud can be managed in a controlled environment, but Warwick is much less controlled).  The only reason to delay rebuilding the database at Warwick is to get people to delete collections that do not need to be there; see http://beta.lmfdb.org/api/stats for a list of c

[2016-07-12 09:58] AndrewVSutherland commented on #122
@edgarcosta Yes, this should be in the developers guide, and this is something I would ask reviewers to start checking on pull requests, as I have done.  pyflakes is very lightweight (do sudo apt get pyflakes to install) and in addition to catching unneeded imports, it finds a lot of bugs (I found several in the siegel modular forms and lfunctions code using it); usually these are caused by spelli

[2016-07-12 10:00] AndrewVSutherland2 commented on #1209
I think 1s might be too low on warwick (especially when backups are
happening or btrfs is cleaning up).  But we could try lowering it in stages
(e.g. try 10s, then 5s) and see how it goes.

How would this help to address this issue? (I'm not disagreeing, just
trying to understand)

On Tue, Jul 12, 2016 at 5:20 AM, edgarcosta <notifications@github.com>
wrote:

[2016-07-12 10:20] edgarcosta commented on #122
no need for apt-get or sudo, pyflakes is a pip package `pip install --upgrade pyflakes`, suffices.

[2016-07-12 10:24] edgarcosta commented on #1294
sounds good to me

On 12 July 2016 at 19:52, Andrew Sutherland <notifications@github.com>
wrote:

[2016-07-12 10:29] JohnCremona commented on #122
!
$ pip install --upgrade pyflakes
The program 'pip' is currently not installed. You can install it by typing:
sudo apt-get install python-pip

I normally use the python and pip in Sage, i.e. "sage -pip ..." and did install pyflakes that way but then did not know how to use it.  So in fact using apt-get to install pyflakes was useful.  (This is on lehner.)

[2016-07-12 10:57] davidfarmer commented on #1132
The "L=1" is done differently with the L-functions read from the database.

On Mon, 11 Jul 2016, edgarcosta wrote:

[2016-07-12 13:00] AndrewVSutherland commented on #1404
Related post from lmfdb-support:

URLs of the form
http://www.lmfdb.org/zeros/zeta/?limit=1000&N=2001

We *really* do not want people trying to download a billion zeros via the api interface.

[2016-07-12 13:02] AndrewVSutherland commented on #1079
See #1404 for a related issue.

[2016-07-12 13:13] edgarcosta commented on #1404
Perhaps we should point them to: http://lmfdb.warwick.ac.uk/data/zeros/

On 12 July 2016 at 23:00, Andrew Sutherland <notifications@github.com>
wrote:

[2016-07-12 18:17] AndrewVSutherland commented on #1289
http://www.lmfdb.org/alive now checks that the mongo db connection is up and if so it returns the text "LMFDB!" with status 200; otherwise it fails with status 503.  The URL http://www.lmfdb.org/health does the same thing.

[2016-07-12 18:17] #1289 closed

[2016-07-12 18:39] AndrewVSutherland commented on #1717
So I took a look through these (BTW they are in website.py not base.py).  Here is a list of routes that I think can and should definitely be removed:

- /hg (as noted above, we don't use mercurial)
- /a/\<int a\> (all this does is return a latex string representing a/(1+a)
- /form (this is a *very* rudimentary UI for looking up elliptic curves by conductor)
- /example and /example/\<blah\> (this t

[2016-07-12 21:57] jwj61 commented on #1697
A byproduct of making a new import script.  Luckily, it appears it won't be too hard to fix.

[2016-07-12 21:59] jwj61 commented on #862
I see.  My reply yesterday was made quickly while on the road, so I didn't see which pages were at issue.  I looks like my initial issue was resovled, so I am closing it.

[2016-07-12 21:59] #862 closed

[2016-07-12 22:05] jwj61 commented on #1712
There is a corresponding number field issue: take an abelian field and find the group of Dirichlet characters which go with it, and we have this (computed on the fly).

The current thing is doable, but it starts with a Dirichlet character.  I can think of two ways to code it offhand (use the characteristic polynomial of an appropriately constructed algebraic element, or compute the polynomial from

[2016-07-12 22:17] jwj61 commented on #1404
Is the file format of .../data/zeros documented somewhere?

[2016-07-12 22:42] AndrewVSutherland commented on #1209
@edgarcosta I am working on this.

[2016-07-13 00:35] edgarcosta commented on #1404
For http://lmfdb.warwick.ac.uk/data/zeros/zeta/ we have http://lmfdb.warwick.ac.uk/data/zeros/zeta/README.dvi (and the code)

[2016-07-13 11:42] AndrewVSutherland commented on #486
@swisherh Can you be more specific?  Math mode is used in property boxes in many places and I don't see any obvious problems.  What are some examples of the inconsistencies you are concerned about?

[2016-07-13 12:03] AndrewVSutherland opened #1733 "Server error on many GL3 and GL4 Maass form lcalc files"
Several examples from flasklog

http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/1/1/16.40312_0.171121/-0.4216864/?download=lcalcfile
http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/4/1/9.632444_1.374060/0.15012282/?download=lcalcfile
http://www.lmfdb.org/L/ModularForm/GL3/Q/Maass/4/1/8.954662_2.936591/0.36025530/?download=lcalcfile
http://www.lmfdb.org/L/ModularForm/GL4/Q/Maass/1/1/16.89972_2.272587

[2016-07-13 12:41] JohnCremona commented on #1733
I do not know why we have to write such a function in the first place, since Sage is good at construction numbers from a variety of different strings.

sage: x,y = CC('3+4*i'); (x,y)
(3.00000000000000, 4.00000000000000)

That parse function does not actually specify what forms of in put are expected and catered for.

[2016-07-13 12:43] AndrewVSutherland commented on #1733
@JohnCremona Do you want to take a stab at removing it?  It not I can look at it.

[2016-07-13 12:44] JohnCremona commented on #1733
In one of the above the string being parsed is u'(1.0)' and the code I pasted above handles that fine.

I will therefore make a patch for this myself.

[2016-07-13 12:51] JohnCremona commented on #1733
Testing my patch now.

[2016-07-13 13:18] JohnCremona commented on #1733
OK -- 1 minute to write better code and 15 minutes to realise that it was unicode strings which were making it fail.

[2016-07-13 13:24] AndrewVSutherland commented on #1733
Checking now.

[2016-07-13 14:07] #1733 closed

[2016-07-13 14:30] AndrewVSutherland commented on #1209
#1730 is now live on prod, as soon as we get a chance to test this (which I propose to do by disonnecting one of the two LMFDB servers from the mongo db) I will close this issue.

[2016-07-13 15:42] JohnCremona commented on #1294
On 12 July 2016 at 10:52, Andrew Sutherland <notifications@github.com>
wrote:

I deleted that today.

[2016-07-13 22:36] #1662 closed

[2016-07-13 23:26] AndrewVSutherland commented on #1337
I added some content to the knowl (which can no doubt be improved).

[2016-07-13 23:26] #1337 closed

[2016-07-14 02:10] edgarcosta commented on #1209
I will take care of this

On 14 July 2016 at 00:30, Andrew Sutherland <notifications@github.com>
wrote:

[2016-07-14 02:33] edgarcosta commented on #1209
It works, we just need to change a 500 to 503, and reduce the timeout.
I will take care of both.

![screen shot 2016-07-14 at 12 30 11](https://cloud.githubusercontent.com/assets/322822/16826241/12441666-49bf-11e6-9cdc-ecb373aa1059.png)

[2016-07-14 02:37] edgarcosta commented on #1209
Ups, Drew already took care of the 503.
I will need to wait for #1730 get to prod, to reduce the timeout time.

[2016-07-14 08:13] JohnCremona opened #1748 "alpha / a mixup in q-expansions"
As reported via the bug tracker:

"Not at all a serious problem, but a curious issue:

When looking at Fourier expansions of modular forms with coefficients in a number field, the number field is given as Q(alpha), and the initial q-expansion involves alpha, but for some reason when you click on "show more coefficients", the alpha's become a's."

For example

http://www.lmfdb.org/ModularForm/GL2/Q

[2016-07-14 13:02] AndrewVSutherland commented on #1717
Closed via #1737 (if anyone else thinks example_plot should be removed, please say so and I will remove it, but at least it does work).

[2016-07-14 13:02] #1717 closed

[2016-07-14 13:02] AndrewVSutherland commented on #1132
Closed via #1745

[2016-07-14 13:02] #1132 closed

[2016-07-14 13:29] JohnCremona commented on #1717
I think example_plot should be removed too.  If it useful as an example of how to do something then leave the code there but commented out.

[2016-07-14 13:36] AndrewVSutherland commented on #1717
I don't think it is very useful I will submit at PR to remove it.

In the longer term, what might be useful to new developers is a minimal example application that has a simple mongo db collection of objects, a browse page, a search-results page, and an object page that illustrates "best practices" for implementing new LMFDB components and could serve as a reference (and also a standard for the UI

[2016-07-14 13:45] AndrewVSutherland commented on #1679
@JohnCremona Shall I submit a PR to remove this?

[2016-07-14 13:53] JohnCremona commented on #1748
I can fix this by changing 'a' to '\\alpha ' on line 223 of emf_main.py and will make a pull request, but someone who has worked on the display of these q-expansions should make sure that this is not going to have adverse side-effects.

[2016-07-14 13:58] AndrewVSutherland opened #1752 "many api json downloads fail with internal server errors"
The following pages all give internal server errors; the problem appears to occur on collections whose documents contain attributes that are object ids (other than _id, which is handled separately), which causes errors like:

TypeError: ObjectId('4f7052dc5009fb18ef000811') is not JSON serializable

The following pages all have this problem:

http://www.lmfdb.org/api/MaassWaveForms/Coefficients?_fo

[2016-07-14 13:59] JohnCremona commented on #1679
I was hoping for a response from Mike R but I don't know if he gets these notifications.  As usual, the file is always retrievable.  Woud it be sufficient in the first instance to comment oute the  route /quadratic_twists ?

[2016-07-14 14:03] AndrewVSutherland opened #1753 "Bad bread on Hecke character pages"
Go to http://beta.lmfdb.org/Character/Hecke/2.2.8.1/8.4a1/1 and click on the last bread crumb to get a server error.  This affects essentially all the Hecke character pages and is causing a lot of exceptions to show up in the flasklog for beta.lmfdb.org (web crawlers will click on all these breadcrumbs).

[2016-07-14 14:04] AndrewVSutherland commented on #1679
Sure, let's do that first.

[2016-07-14 14:11] AndrewVSutherland commented on #1679
#1754 removes quadratic_twists from website.py

[2016-07-14 14:13] #1748 closed

[2016-07-14 14:34] JohnCremona commented on #1753
Should be quite easy if the only problem is the extraneous [ ] in the URL?  I can take a look.

[2016-07-14 14:44] AndrewVSutherland commented on #1753
Fixed in #1755 (I'm confused by the number labels in WebCharacter.py, where "number" is a list of numbers that I think always has length 1, but in any case number2label encodes it as '.'.join(number) which will work regardless and I just changed the last breadcrumb URL to '' (i.e. the current page), which is always going to work).

[2016-07-14 14:50] JohnCremona commented on #1753
Thanks.  I was about to ask if this "number" was always a list of length 1 or not.  I'll check out #1755.

[2016-07-14 14:50] AndrewVSutherland commented on #1752
I'm looking at this now

[2016-07-14 15:41] AndrewVSutherland commented on #1753
Fixed via #1755

[2016-07-14 15:41] #1753 closed

[2016-07-14 15:42] JohnCremona commented on #1539
I'm working on a new version of p2sage which does not use sage_eval: adding a print statement in there to show 'before' and 'after' and running test.sh showed that there are not so many different things to be dealt with.

[2016-07-14 15:43] AndrewVSutherland commented on #1539
Wonderful, thanks for dealing with this!

[2016-07-14 15:59] mrubinst commented on #1679
Sorry for overlooking this. Only noticed today. I'm okay with removing the
stuff Gagan worked on. Thanks, Mike

On Thu, Jul 14, 2016, 10:13 Andrew Sutherland <notifications@github.com>
wrote:

[2016-07-14 16:10] JohnCremona commented on #1679
Thanks @mrubinst we'll do it now.

[2016-07-14 16:11] JohnCremona commented on #1539
Almost done, just checking if all still works after removing some of the things I am testing for.

[2016-07-14 16:22] JohnCremona commented on #1539
Done PR coming up

[2016-07-14 17:40] AndrewVSutherland commented on #1679
Closed via #1754 and #1761.

[2016-07-14 17:40] #1679 closed

[2016-07-14 18:59] JohnCremona commented on #1539
We can close this now, though there are 2 pyflakes things, one already mentioned (a is defined but not used) and the other has a FIXME note attached already.

[2016-07-14 19:08] #1539 closed

[2016-07-14 19:09] jwj61 commented on #1661
The second case was fixed yesterday.

The first one traced to an error in the data in the artin database.  It has been corrected in the warwick database and the field now works.  I searched for any other examples in the warwick database with this error and this was the only one.  There is more work to do to determine how the erroneous value got in there (there is a fixed placeholder used for repre

[2016-07-14 19:15] AndrewVSutherland commented on #1539
I note that there still are quite a few occurrences of eval.  Most are in import scripts (e.g. import_ec_data.py) that are not part of the site, but we really should check these.  Perhaps this should be a new issue?

[2016-07-14 19:28] AndrewVSutherland commented on #1661
Done, and the problem is fixed.  The pages

http://www.lmfdb.org/NumberField/10.10.1107649855354064.1
http://www.lmfdb.org/NumberField/10.10.138420300533025695415730492558689.1

now both work.

[2016-07-14 19:50] jwj61 commented on #1697
The recently imported fields now have their labels fixed as can be seen from the search mentioned above.

This might be a good time to copy fields to the cloud -- it has many more fields than the cloud version, both a big import in degree 4, and some higher degree fields from Kluners-Malle.

I should do something about updating the random field database, but I forget what I am supposed to do.

[2016-07-14 20:57] #1752 closed

[2016-07-14 20:58] jwj61 commented on #1294
Collections under number fields, like newfields, old* should not be copied to the cloud.  Generally newfields is used for improvements in progress, and old* are backups.  I deleted some, but it is probably good to leave some backups in case more bugs are discovered in the newest version.  In any case, there is no reason to reindex the backup copies.

[2016-07-15 02:40] edgarcosta commented on #1209
Yes. I have just tested it with a `serverSelectionTimeoutMS = 10000` and everything worked as expected.

Now, lmfdb.org is running with:
[code]

[2016-07-15 02:40] #1209 closed

[2016-07-15 09:36] AndrewVSutherland commented on #1697
Use create_random_object_index in lmfdb/data_mgt/utilities/rewrite.py.  It will automatically drop the existing fields.rand collection when you run it.  You want to do

create_random_object_index (db, "fields")

where db is a pointer to the numberfields database on which you have authenticated as editor.

[2016-07-15 09:51] AndrewVSutherland commented on #1294
@jwj61 Thanks!  The only collections that will ever get copied to the cloud are those listed in LMFDB/inventory (and associated .rand collections), so you don't need to worry about old* collections getting copied.  The main motivation for removing those that are not needed is that we want to do a dump/restore on all the mongo databases on lmfdb.warwick.ac.uk for two reasons: (1) it is the quickest

[2016-07-15 12:37] AndrewVSutherland opened #1766 "Internal server error on the number field Q"
http://www.lmfdb.org/NumberField/1.1.1.1 throws a server error while executing line 358 of WebNumberField.py in the function gpK (looks like it is failing in PARI/GP on nfinit(x[2,[1]])).

I expect this problem was introduced by PR #1744.  I am looking at it now.  It's disturbing that none of our standard tests caught this (I will fix that shortly).

[2016-07-15 13:26] #1766 closed

[2016-07-15 13:42] AndrewVSutherland opened #1770 "Number field pages no longer work in --debug mode"
If you run the lmfdb in debug mode (e.g. via "sage start-lmfdb.py --debug") and then go to the home page of any number field other than Q, (e.g. 127.0.0.1:37777/NumberField/2.0.3.1) you will get

PariError: expression nested too deeply

occurring at line 323 of number_field.py in render_field_webpage where rootsofunity is set.

Works fine if --debug is not set, so not a production issue, but would

[2016-07-15 13:46] jwj61 commented on #1770
I assume you mean "sage -python start-lmfdb.py --debug"?  With that, I don't see the error running off of lehner (which has an additional flag to set the port).

[2016-07-15 13:54] AndrewVSutherland commented on #1770
Actually I don't get the problem on atkin (whether I use -python or not), so it must be something specific to my sage/pari set up (I have newer versions of both sage and the pari library installed that I was using for some unrelated work and it's possible I did not install everything correctly).  I'll close this now.  Something to double check if/when we switch to sage 7.2.

[2016-07-15 13:54] #1770 closed

[2016-07-15 14:01] AndrewVSutherland commented on #1766
The fix is now on both beta.lmfdb.org and www.lmfdb.org

[2016-07-15 14:37] AndrewVSutherland opened #1771 "History of modular forms link broken"
If you go to any classical modular form page (e.g.  http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/11/2/1/a/), the "History of modular forms" link in the learnmore box attempts to load the page

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/history

which fails to load while trying to build its bread.

[2016-07-15 14:38] AndrewVSutherland commented on #1771
This looks like an easy fix, I'll take care of it.

[2016-07-15 15:43] JohnCremona commented on #1770
I see no problem on lehner, which is running Sage 7.2.  atkin is still running 7.1, partly so that I can easily test on either one.

[2016-07-15 15:56] AndrewVSutherland commented on #1770
@JohnCremona Thanks, must be something screwy with my pari install.

[2016-07-15 16:04] jwj61 commented on #1770
pari has changed the syntax of extra arguments to nfinit and friends.  I would not surprise me if we had to adjust when we upgrade sage and it has an upgraded pari in it.  The bug with Q as a number field is (in my opinion) a shortcoming of the current syntax.  In the format [poly, [list]] the list can be either a basis, or primes where you want the order to be maximal.  When list=1, it treats it

[2016-07-15 16:12] JohnCremona commented on #1770
@AndrewVSutherland which version of Sage were you using to get the problem?  Sage uses its own pari, not any other you may have on your machine, so if you use either Sage-7.1 or Sage-7.2 it should be OK.

[2016-07-15 16:18] AndrewVSutherland commented on #1770
@JohnCremona I am in the process of reinstalling Sage 7.1 so that I will be consistent with Atkin.  I was running both Sage 6.5 and Sage 7.2, and I have pari 2.7.5 installed (but from what you say, that should not matter).  I think the problem probably occurred because I inadvertently ran Sage 6.5 -- sorry for the confusion, I usually test on Atkin but did not in this case.

[2016-07-15 19:42] JohnCremona commented on #1770
Any reason to install 7.1 rather than 7.2 (released 2 months ago)?  And 7.3 is into beta8 but I have not yet tried running lmfdb with it

[2016-07-15 19:42] AndrewVSutherland commented on #1619
PR #1736, which fixed #1733 effectively undid #1695 which fixed this issue, which is now happening again.  I will integrate the two fixes and add a test case to make sure this doesn't happen again.

[2016-07-15 19:44] AndrewVSutherland2 commented on #1770
I want to do all my LMFDB development and testing on the same version of
sage that we are running in production.

On Fri, Jul 15, 2016 at 3:42 PM, John Cremona <notifications@github.com>
wrote:

[2016-07-15 19:59] JohnCremona commented on #1770
We had better start to do some testing with newer versions as well, otherwise we'll never be able to upgrade the production Sage.  In fact I have 7.2 waiting in the wings on lmfdb.warwick, and it passes all tests.  I am tempted to start the warwick version of prod  with that, but before that it would make sense to ensure that we always test on machines running 7.2 such as lehner (as of now).   BTW

[2016-07-15 20:14] AndrewVSutherland commented on #1770
For the purpose of diagnosing problems showing up on the production system (which is what I have been focusing on), it makes sense to be running the same version of sage as we are running in the cloud (7.1), and certainly for release managers who are pushing code to prod, we want to be running test.sh using  7.1.

Currently the switch to Sage 7.2 is scheduled for LMFDB Release 1.2, which I think m

[2016-07-15 20:18] JohnCremona commented on #1770
OK

[2016-07-15 20:33] #1619 closed

[2016-07-15 20:36] jwj61 commented on #1697
Done, and I will make a note of what to do.

[2016-07-15 20:41] AndrewVSutherland commented on #873
There are still many holes, even for trivial character, e.g. http://www.lmfdb.xyz/ModularForm/GL2/Q/holomorphic/17/6/1/.

Several of these show up in the flasklog on the cloud server, and the pattern suggests that it is people (not robots) clicking on them.

[2016-07-15 20:42] AndrewVSutherland commented on #1697
@jwj61 Do you want me to update the fields collection on the cloud now?

[2016-07-15 20:47] jwj61 commented on #1697
Yes, please.

[2016-07-15 21:04] AndrewVSutherland commented on #1697
@jwj61 I'm confused, it looks to me like there are still 736,753 degree 4 fields with bad labels in the warwick database, starting with [4.1000016.4.1](http://beta.lmfdb.org/api/numberfields/fields/ObjectId%28%275744e149769754d119f35e09%27%29) and ending with [4.266098702171302000.2.32](http://beta.lmfdb.org/api/numberfields/fields/ObjectId%28%275744e4bf769754d1190a1b02%27%29)

[2016-07-15 21:08] jwj61 commented on #1697
You are right.  In fixing them, I was too focused on labels with a 0, so the totally real cases.  Since there are no quartic fields with absolute discriminant 2 or 4, swapping those should be easy as well, although it will be another day or so.

[2016-07-16 11:38] JohnCremona commented on #1770
I'll quietly continue to monitor any issues which new Sage versions might cause.  All is well at the moment -- with 7.3.beta8 all tests pass.  Also atkin has Sage-7.2 available as /usr/local/sage/sage-2/sage and I would like to make that the system-wide default, with /usr/local/sage/sage-1/sage still on 7.1 as it is now.  Anyone who wants to have that older version as what typing "sage" runs could

[2016-07-16 13:22] AndrewVSutherland commented on #1431
Following the discussion on #1294 and a review of the outstanding issues on LMFD/invenetory, I propose that we delete the following collections from the mongo db on lmfdb.warwick.ac.uk and then close this issue:

http://beta.lmfdb.org/api/modularforms2/ap.chunks/
http://beta.lmfdb.org/api/modularforms2/ap.files/
http://beta.lmfdb.org/api/modularforms2/Atkin_Lehner.chunks/
http://beta.lmfdb.org/api

[2016-07-16 14:03] AndrewVSutherland commented on #1770
I agree, see #1787.

[2016-07-16 14:55] fredstro commented on #1431
As I said around May when this question came up in another thread or email discussion about modular forms (they are all so full of information now that I can't find which one it was )
As far as I know you xan delete all of them. I actually thought they were deleted after I said this the last time but didn't bother to check.

[2016-07-16 15:09] sehlen commented on #1431
Fredrik, this is about Warwick now. I don't have time to look at it right
now but we don't want the modular symbols collections etc to be deleted
there without moving/copying them to another mongodb first, I guess...

On Sat, Jul 16, 2016, 10:55 Fredrik Strömberg <notifications@github.com>
wrote:

[2016-07-16 15:09] AndrewVSutherland commented on #1431
@fredstro Thanks for the confirmation!

[2016-07-16 15:16] AndrewVSutherland commented on #1431
@sehlen, @fredstro If you still need Modular_symbols.chunks and Modular_symbols.files, that's fine, I can remove them from the list of collections to be removed (they aren't all that big), I just need to know.

[2016-07-16 15:44] JohnCremona commented on #1345
I found a typo in style.css for h3 headers ("conent" should be "content") but the offending one here is an h2 which has color:{{color.content_text}}; so that is not it.
If we really want headers to be green since many of the words are knowls then I suppose that should be color.knowl_title_text, and the same for headers h1, h2 and h3.  That's a lot of green!

[2016-07-16 15:56] JohnCremona commented on #928
The "fix" for number fields has a bad feature: if the box in http://www.lmfdb.org/NumberField/ is left empty and you click the button "Go" you get a server error, because in lines 381-382 of search_parsing.py it raises a ValueError!  If we raise errors in the website code, since they causes a server error which is completely unhelpful, they must be caught.  In this case in line 452 of number_field

[2016-07-16 17:19] sanni85 commented on #928
it has been fixed for lattices
I will check it once I am back from the workshop in Sarajevo, in a week time

[2016-07-16 17:40] #1771 closed

[2016-07-16 18:24] AndrewVSutherland commented on #1403
I am going to close this issue, as the databases that are still missing index information are identified by per database issues in LMFDB/inventory.

[2016-07-16 18:24] #1403 closed

[2016-07-16 18:28] AndrewVSutherland commented on #1147
This issue depends on #1333, which is scheduled for Release 1.1.

[2016-07-16 18:29] AndrewVSutherland commented on #1333
Once this is done we can easily address #1147.

[2016-07-16 18:49] AndrewVSutherland commented on #486
I contacted @swisherh directly and she agreed that we can close this.

[2016-07-16 19:19] JohnCremona commented on #1656
@jvoight I think these must have been added by you since all Aurel and I added were Galois conjugates of forms you had uploaded.

[2016-07-16 20:55] AndrewVSutherland commented on #1286
@kedlaya Can you give some context for this issue?  It's not clear to me what the goal is -- the standard markup syntax [label](link) will still work even if we made this change.  If the goal is to make it easier for us to track or control external links, I'm not sure this accomplishes that, unless we also have the code scan for markup links and convert them (which would not be hard), but if we do

[2016-07-16 21:19] jwj61 commented on #1697
The fields and fields and fields.rand collections should be ready now.

[2016-07-16 21:35] AndrewVSutherland commented on #1697
Thanks, looking at it now.

[2016-07-16 21:37] AndrewVSutherland commented on #1697
Looks good, copying now.

[2016-07-16 21:40] jwj61 commented on #1697
Closing since the issue only ever existed on beta and that is fixed, and is now being copied to the cloud

[2016-07-16 21:40] #1697 closed

[2016-07-16 22:07] AndrewVSutherland commented on #1697
@jwj61 The new fields collection is now on the cloud with 6941393 records, of which 2109331 have degree 4.  I will leave the old_fields collection around for a few days just in case anything goes wrong.

[2016-07-17 06:37] jvoight commented on #1656
OK, then lord knows what I did.

It is easy enough to fix just these, but I would rather double check all HMFs to make sure that there are as many Hecke eigenvalues as primes.  I don't see it causing a problem with the LMFDB website, and actually maybe we'll want to allow some forms to have fewer eigenvalues than primes in the future.

So I'll put this on my todo list, but it's low priority.

[2016-07-17 09:30] AndrewVSutherland commented on #1656
@jvoight I just want to be sure that I understand -- are yousaying that this problem has not impact on what the user sees on the website and, in particular, it is not causing the LMFDB to display information that is mathematically incorrect?  If so then I agree it is low priority and we can defer this to Release 1.2 or 2.0.

But if there is false information being displayed (or available for downl

[2016-07-17 11:30] JohnCremona commented on #1656
Despite the possible non-urgency, it will be easy to check this systematically since both the primes in the fields collection and the Hecke eigenvalues in the forms collection are lists of strings, so comaring the lengths is easy.
I just tried this with 2.2.5.1 where tere are 1233 primes in the list, but *very* many newforms have fewer hecke eigenvalues.
So unless I am misunderstanding something,

[2016-07-17 12:15] AndrewVSutherland commented on #1656
If it just a question of completeness of the data, then I agree that it is not urgent, but perhaps there should be an extent knowl (linked to in  the learnmore box) that explains that the lists of eigenvalues are incomplete?

[2016-07-17 12:49] JohnCremona commented on #1656
But no individual HMF makes any claim about how many eigenvalues it has stored (e.g. a random one: http://localhost:37777/ModularForm/GL2/TotallyReal/2.2.33.1/holomorphic/2.2.33.1-199.2-a).  Admittedly, they probably should since we have a box inviting users to ask for more eigenvalues, without giving any idea of how many are available.  For the link above I just typed 1000000 into the box and the

[2016-07-17 13:03] AndrewVSutherland opened #1803 "Server errors on many Maass form pages"
Many Maass form pages are throwing internal server errors that show up in the flasklogs of the www.lmfdb.org server.  This is apparently due to some sort of data inconsistency -- the specified ids are object ids of records in MaassWaveForms/Coefficients (e.g. see http://www.lmfdb.org/api/MaassWaveForms/Coefficients/4f55571188aece241f00000d for the first example listed below), but the ObjectId list

[2016-07-17 13:20] AndrewVSutherland commented on #1656
@JohnCremona I don't think its necessary to say anything specific about how many eigenvalues are stored for each form, but as a user of the site, if I see a page with a list of eigenvalues ordered by the norm of the prime I would not expect there to be gaps, or eignevalues for only some of the primes of a given norm.  If I did happen to notice an eigenvalue missing within the range of eigenvalues

[2016-07-17 13:28] JohnCremona commented on #1803
The error I get from the first of these, when run locally, is from the line dim = info['MF'].dim where info['MF'] has no field called 'dim'.  The fields it has are

['C', 'R', '__class__', '__delattr__', '__dict__', '__doc__', '__format__', '__getattribute__', '__hash__', '__init__', '__module__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subc

[2016-07-17 13:31] AndrewVSutherland commented on #1803
I'm not sure setting dim to 0 is the right solution, this looks to me like an inconsistency in the data and it is probably better to either remove the records that are causing the problem or to have the code simply say that the form was not found if it can't find everything that it expects to be there.

[2016-07-17 13:36] JohnCremona commented on #1656
OK, so the consistency we seek is not that all newforms have the same number of eigenvalues but that the primes for which we do have eigenvalues form a set of the form {P: P.norm()<B} for some B.  I would certainly expect that to be true of the the data we have but I *know* that it is not since Aurel and I discovered when adding Galois conjugates that the set of primes for which we have eigenvalue

[2016-07-17 13:38] AndrewVSutherland commented on #1656
@JohnCremona +1 for avoiding "some undetermined wait".

[2016-07-17 13:41] JohnCremona commented on #1803
Agreed.  The fault in the code is that the constructor sometimes *silently* returns an incomplete instance of the class, but the function which calls the constructor is not checking for that.
To help catch this in future, then, we could (1)  output an error log whenever this premature exit to the constructor is triggered; (2) catch the occasions where a WebMaasForm object after being constructed h

[2016-07-17 13:52] AndrewVSutherland commented on #1803
Returning incomplete instances of classes is a "feature" of all the code in lmfdb/modular_forms/.,.. which causes a lot  problems (we have many similar issues with classical modular forms).  The problem is that the constructor code is often so general that it doesn't actually know what should or should not be there in any particular case (this is a case where making the code too general makes it l

[2016-07-17 13:57] JohnCremona commented on #1656
@AurelPage Would you be willing to do what I suggest above, i.e. by deleting some entries from the end of the heck_eigenvalues list for each newform where necessary, get to the state where the primes for which we do have eigenvalues stored are consistent in the sense that if we have any a_P for any P of a given norm then we have all a_Q for all Q of norm <= P.norm()?   I thought it might be rather

[2016-07-17 14:01] #1285 closed

[2016-07-17 14:18] JohnCremona commented on #1358
Pending #1267 (which I am working on, I promise) it is possible that this can be improved simply by allowing Sage to call Pari with its default setting of allowing it to assume GRH (this is the default in Pari but not in Sage, and can have a drastic effect on speed).  I will try that.

[2016-07-17 15:11] jwj61 commented on #1358
If you assume GRH for the number fields involved, you could then verify off line with bnfcertify in pari that you have not hit a field which contradicts GRH.  (If you find a violation, fame and fortune awaits.)  Then you won't feel any obligation to add a GRH disclaimer to the pages.

[2016-07-17 15:12] AndrewVSutherland commented on #1803
@JohnCremona I will make a change along the lines above as an interim measure.  I also have a lot of import cleanup work in progress on the modular forms code, but I think I can do this separately without creating a merge conflict (but best if you don't change the mwf code right now).

[2016-07-17 15:45] JohnCremona commented on #1803
OK, I won't.

[2016-07-17 16:46] JohnCremona commented on #1803
Once #1807 is pushed to prod this can be closed.

[2016-07-17 16:56] JohnCremona commented on #1332
Just for the record,  as of  commit f5b867a (master on 17 July) all tests pass with Sage-7.2 and also with 7.3.beta8, though the latter gives a warning (I think this is from an updated flask version rather than Sage itself):
Test download function ... /home/jec/lmfdb/lmfdb/modular_forms/elliptic_modular_forms/backend/emf_download_utils.py:62: DeprecationWarning: In future flask releases etags will

[2016-07-17 16:59] AndrewVSutherland commented on #1803
@JohnCremona Rather than closing it we should probably just rename it -- the 49 pages listed in the description still do not work, the only thing that has changed is that the user now gets a more informative error message.  My concern is that these pages are being accessed clicks on the plots or via next/prev links on pages that do work.

[2016-07-17 17:58] AndrewVSutherland commented on #1332
This is encouraging new!  Hopefully the switch will be painless.

[2016-07-17 18:04] #544 closed

[2016-07-17 18:14] AndrewVSutherland opened #1812 "Maass forms with 500 blank Fourier coefficients"
If you go to http://www.lmfdb.org/ModularForm/GL2/Q/Maass/4cb8503a58bca91458000008 you will see a table of Fourier coefficients c(n) for n from 0 to 499, all of which are blank (for what a typical page looks like, click the next or prev buttons).

[2016-07-17 18:19] AndrewVSutherland commented on #1812
Two more pages with the same problem:

http://www.lmfdb.org/ModularForm/GL2/Q/Maass/4cb8503a58bca91458000009
http://www.lmfdb.org/ModularForm/GL2/Q/Maass/4cb8503a58bca9145800000a

The associated L-function pages appear to work, they show zeros and plot as unavailable.

[2016-07-17 18:52] JohnCremona commented on #1803
OK good point.

[2016-07-18 01:33] AndrewVSutherland opened #1815 "Server error on number field discriminant search"
On http://www.lmfdb.org/NumberField, type in any comma-delimited list of integers (e.g. "-3,8") into the discriminant box and press search to get a server error.  Comma delimited lists work fine in other fields (e.g. degree)

The problem is caused by a bug in parse_signed_ints in search_parsing.py, which calls parse_range3 which attempts to call an undefined function parse_discs (this function doe

[2016-07-18 02:01] AndrewVSutherland commented on #1815
This is easy to fix, the call to parse_discs is clearly meant to be a recursive call to parse_range3 (the name presumably changed at some point but the name used in the recursive call did not).

I will submit a PR shortly.

[2016-07-18 12:18] #1815 closed

[2016-07-18 17:47] AndrewVSutherland commented on #985
The Maass form search results pages should be changed to work like other search results pages in the LMFDB (e.g. elliptic curves, number fields, Hilbert modular forms, etc...), with standard next/prev buttons, user specified maximum results to display, and no limit on the total number of results.

[2016-07-18 17:48] AndrewVSutherland commented on #986
We no longer use data tables anywhere else in the LMFDB, I think this issue should be closed.

[2016-07-18 18:11] AndrewVSutherland opened #1820 "Fix input validation and error handling on Maass form search pages"
On the main Maass form page http://www.lmfdb.org/ModularForm/GL2/Q/Maass/ all of the following lead to internal server errors:
- Enter anything into the level input box other than a single integer or a pair of integers separated by two periods (e.g. 1-10 does not work, even though it works in almost any other place where we ask for a range of positive integers)
- Enter anything into R in range oth

[2016-07-18 18:24] AndrewVSutherland opened #1821 "Source and extent knowls for Maass forms"
These knowls should exist and be available on http://www.lmfdb.org/ModularForm/GL2/Q/Maass/ (extent information is given, but it is not a knowl; information about the source of the data should be available in the learnmore box).

[2016-07-18 18:27] AndrewVSutherland commented on #1224
There is an extent knowl (but it does not match the data, see #873); only a source knowl needs to be added and linked to in the learnmore box.

[2016-07-18 18:50] JohnCremona commented on #1267
AFter working on this more today I realise that one reason it is taking a long time is that I am trying to do several different things in one go, which I now think I will do in at least two passes:
   1. Precompute all the additional data required for each cure and add it to the database.  (The code to do this was written a long time ago, it just has not been run on everything yet: a partial colle

[2016-07-18 19:04] AndrewVSutherland commented on #1267
Good idea, getting 1+2 done would let us address #1358 and they are really independent of 3+4.

[2016-07-18 22:25] AndrewVSutherland opened #1832 "remove calls to eval from all lmfdb website code"
This is a followup to the recently closed issue #1539, which removed all calls to sage_eval.  There are only a few calls to eval left, and most appear in import or verification scripts that are not part of the website.  Running following command in the top level lmfdb directory will list all calls to a naked "eval" function or method (this excludes calls to ast.literal_eval, which are safe):

[cod

[2016-07-18 22:47] edgarcosta commented on #1539
Close this and keep #1832 open?

[2016-07-18 22:48] AndrewVSutherland commented on #1539
@edgarcosta This issue was closed 4 days ago.

[2016-07-18 22:57] edgarcosta commented on #1539
ups, forget that. I clearly didn't sleep enough...

[2016-07-19 08:19] JohnCremona commented on #1832
Your regexp is not perfect!  In *my* file hmf_check_find.py, every instance of "eval" is in "mag.eval" and these are all in a function which is sending magma commands to an inferior process.

Anyway, I strongly agree with the proposal to remove all genuine eval() calls from all "live" code.

[2016-07-19 09:01] AndrewVSutherland commented on #1832
@JohnCremona The regex was not meant to ignore mag.eval (or gap.eval, which is present in transitive_group.py), I was actually interested in finding those too.  To also ignore occurrences of eval in ".eval" instead use:

 find | grep "\.py$" | xargs grep  "[^_\.a-zA-Z]eval[\s]*(" -c | grep -v ":0"

[2016-07-19 09:05] JohnCremona commented on #1832
OK!  Your regexpertise is certainly better than mine.  I was just definding myself since I think these mag.eval()s are harmless.

[2016-07-19 09:10] AndrewVSutherland commented on #1832
@JohnCremona Given that magma is not installed on the servers running www.lmfdb.org, I agree :)  And these all occur in python code that isn't part of the website anyway (which is what I really wanted to check).

The use of gap.eval in transitive_group.py is probably also harmless but at least bears thinking about (e.g. does the gap shell give you access to the os shell, like sage does?).  I'd ask

[2016-07-19 09:28] AndrewVSutherland opened #1836 "Add tests to Maass forms"
The test script https://github.com/LMFDB/lmfdb/blob/master/lmfdb/modular_forms/maass_forms/maass_waveforms/test_mwf.py for the Maass forms code has not been updated in 3 years and has only 2 tests in it.

Tests should be added that exercise all the functionality currently available at http://www.lmfdb.org/ModularForm/GL2/Q/Maass/

[2016-07-19 09:31] AndrewVSutherland commented on #1832
@JohnCremona Right, which is why it probably is a good thing to check for mag.eval calls to be sure they only occur in code that is not part of the website (otherwise lmfdb.warwick.ac.uk might be at risk -- or does it also not have magma installed on it?).

It would be good to find out what the situation is with GAP.

[2016-07-19 09:34] #122 closed

[2016-07-19 09:45] JohnCremona commented on #1832
Let's divide up the remaining files with eval() in them: I am now looking at databases/standard_types.py

[2016-07-19 09:56] AndrewVSutherland opened #1837 "Separate import and database update scripts from website code and extend test.sh"
As discussed [here](https://github.com/LMFDB/lmfdb/pull/1819#issuecomment-233419972), we would like to put code that is not part of the LMFDB website into a separate directory structure and add some code validation (including pyflakes) to test.sh.

More specifically, I would propose the following:
- Move the directory lmfdb/import_scripts up one level so that import_scripts is parallel to lmfdb.

[2016-07-19 09:59] AndrewVSutherland commented on #1832
@JohnCremona Sounds good, I can tackle modular_forms/elliptic_modular_forms/backend/plot_dom.py (which I was looking at recently anway). But I won't get to it for a few hours.

[2016-07-19 10:51] JohnCremona commented on #1837
I suggest that the very first step should be to action your first bullet point, i.e. just move the import_scripts directory.  I know that the import scripts I have (which are not in there) will not work after moving, without a small amount of editing, and the same might be true for the scripts already in in the separate directory.  So the question then is: does one of us try to make those edits at

[2016-07-19 11:01] edgarcosta commented on #1837
One could use sys.path.append as a quick and dirty fix.

On 19 July 2016 at 20:51, John Cremona <notifications@github.com> wrote:

[2016-07-19 13:26] jwj61 commented on #1837
It is probably a combination of sys.path.append so scripts will be able to import lmfdb code and code to find password files.

It looks like the owners of the current import_scripts directories are me, Samuele, and maybe Stefan for Maass.  There is also code from Paul which is no longer used.

[2016-07-19 13:46] JohnCremona commented on #1837
OK, so let's move them and ping them (Samuele and Stefan/Stephan?) on the pull request.

[2016-07-19 14:05] JohnCremona commented on #1837
I'll do this now and make a PR.

[2016-07-19 14:12] JohnCremona commented on #1837
OK, I did a simple move -- no editing of files yet -- and pushed the result to the branch move_import_scripts in *this* repository.   If people want to also edit the files to see if things need changing to make them work they can either push directly to this branch (if they have permission) or make a PR to it otherwise.  @lemurell @sanni85

[2016-07-19 14:14] sanni85 commented on #1837
No problem in moving the folder, the scripts will not work, but I know how to fix them.
I am still in Sarajevo, so I will do something, if needed, next week.

By the way please do not run pyflakes on rep_galois_modl : it is very much in progress (wrote in 4h at AIM) and so most of the code is just a copy from the lattice folder.

[2016-07-19 14:40] AndrewVSutherland commented on #1837
@sanni85 pyflakes has already been run on rep_galois_modl and it runs cleanly, as it now does on all the code in the LMFDB/lmfdb project. The goal is to keep the LMFDB codebase in a state where pyflakes runs cleanly; if you have code that is in a state where pyflakes won't run on it (the moral equivalent of C code that will not compile), better to keep it in your own fork.