[2016-05-09 18:51] jwbober commented on #1248
On Mon, May 9, 2016 at 7:50 PM, Stephan Ehlen <notifications@github.com>
wrote:

Yes, but it would be good to distinguish between the two different cases of
errors.

[2016-05-09 18:52] sehlen commented on #1248
Good, here you use the db and that’s what you should do.

Well, we should run it again once we have actually dealt with more of the modular forms with non-trivial character but at least for level <= 100 I hope not to see any trivial character problems anymore (and much more data should be available than with your last test).

[2016-05-09 18:52] sehlen commented on #1248
That’s true but we essentially do this in our recomputing/fixing routine!

[2016-05-09 18:59] davidfarmer opened #1257 "Tests for lcalc files"
If we are going to have links to Lcalc files, then we need to have tests for them.

[2016-05-09 19:00] jwbober commented on #1248
On Mon, May 9, 2016 at 7:05 PM, AndrewVSutherland <notifications@github.com>
wrote:

I can try, but it requires writing some nontrivial code, and I don't know
how often I'll be able to actually identify the dimension decomposition
with my data. It's not something I've tried systematically. (The only way
that I know how to do it is to multiply (x - a_p) together for all the
different embeddings of

[2016-05-09 19:00] davidfarmer commented on #1255
Should add a test for this.

[2016-05-09 19:06] jwbober commented on #1248
On Mon, May 9, 2016 at 7:27 PM, Stephan Ehlen <notifications@github.com>
wrote:

How can you do that? Do you use embeddings into QQbar? (I am trying that on
a fairly high degree example right now and Sage seems to be having a lot of
trouble just constructing the list of embeddings.)

[2016-05-09 19:17] AndrewVSutherland commented on #1247
@edgarcosta It looks like you trimmed about 20 milliseconds off all the connect times (not much change to the TTFBs, but I assume you weren't expecting much there?).  I'll send the detailed stats to you in an e-mail and post a summary.

[2016-05-09 19:25] edgarcosta commented on #1247
Thank you!

I wasn't expecting anything amazing, as the ping went from 0.6 milliseconds to 0.3 milliseconds, but overall the network was already quite good.
Most important of all, we are not paying for the traffic between the clients and the lmfdb.

[2016-05-09 19:36] AndrewVSutherland commented on #1247
Here are the updated stats.  Note that these are total times that include the connect times.  Previously the connect times were tightly clustered around 45-47 milliseconds, now they are tightly clustered around 25-27 milliseconds (which is significant but probably too small to separate from noise in the total timings below).

                                               www.lmfdb.org

[2016-05-09 19:47] edgarcosta opened #1258 "Factoring j EllipticCurve/6.6.371293.1/1.1/a/{1,4}"
This seem to fail to load most of the times, and when they load it takes forever
http://www.lmfdb.org/EllipticCurve/6.6.371293.1/1.1/a/1
http://www.lmfdb.org/EllipticCurve/6.6.371293.1/1.1/a/4

Here are the tracebacks:

[code]

[2016-05-09 20:15] sehlen commented on #1248
Here’s the code I use which uses a sort of “hidden” function that John Cremona ones wrote:

you have to import

from sage.rings.number_field.number_field import refine_embedding

and then if K is a number field:

embeddings = K.complex_embeddings()
embeddings = map(lambda x: refine_embedding(x,Infinity), embeddings)

and then I apply the embeddings to all coefficients and coerce them into ComplexF

[2016-05-09 20:28] davidfarmer commented on #1232
This will be fixed when issue #439 is addressed.

I am working on a temporary solution.

[2016-05-09 20:43] JohnCremona commented on #1258
For me these do not take "forever" but a couple of seconds.
It might be reasonable though to not display the j-factorizations for larger degree fields (or to store them if we do want to see them).

Opinions please: it would be easy to not compute or display the factorizations of j-invariants over number fields.  In any case Sage only factors elements of number fields when all the primes factors ar

[2016-05-09 21:07] brianconrey opened #1260 "Umlauts in knowls"
http://beta.lmfdb.org/L/history

\"{U} doesn't give an umlauted U (see Riemann's memoir)

[2016-05-09 21:27] JohnCremona commented on #1258
See PR #1262, waiting to be merged of this is wanted.

[2016-05-09 21:34] AndrewVSutherland commented on #1258
It's a shame there isn't a "try_to_factor_but_giveup_after_one_second" function in sage.  But I guess my opinion is that we probably shouldn't try to factor.  I can get a1,a2,a3, but I keep getting 502 server error timeouts on http://www.lmfdb.org/EllipticCurve/6.6.371293.1/1.1/a/4 with a message saying try again in 30 seconds (which also doesn't work).

Would it make sense to still factor the j-i

[2016-05-09 21:39] jvoight commented on #1258
I think we should merge #1262 .  My attempt to load the pages timed out after 30 seconds.  (Y'all are there together, so I don't want to be causing problems by meddling.)

We shouldn't be computing a factorization on the fly--indeed, we shouldn't be computing anything nontrivial on the fly.  It's a database.  (So maybe add a field for the factored j-invariant for 2.0.)

[2016-05-09 21:40] edgarcosta commented on #1258
The 502 is due to the load balancer.

You can go directly:
http://www-central.lmfdb.xyz/EllipticCurve/6.6.371293.1/1.1/a/4
 and see that sometimes it works and it sometimes takes so long that the
worker gets restarted.

On 9 May 2016 at 17:34, AndrewVSutherland <notifications@github.com> wrote:

[2016-05-09 21:44] JohnCremona commented on #1258
@jvoight I certainly agree in principal so apologise for not keeping to my own principles.  Not so long ago there was a time when web pages for elliptic curves over Q crashed when the discriminant was more than 2^64 since that was the crossover for Sage to call pari and there was a Sag bug.
A very boring project for someone would be to see what "computations on the fly" are done anywhere;  then as

[2016-05-09 21:45] AndrewVSutherland commented on #1258
I'm happy to merge, I'm just wondering if we need to disable it unilaterally.  I've been clicking around trying to found the nastiest cases over quadratic and cubic fields and haven't yet found any whose j-invariants did not factor quickly.

[2016-05-09 21:47] JohnCremona commented on #1258
We could put in a test to only try to factor if (say) the j-invariant's numerator had norm below some bound.

[2016-05-09 21:48] AndrewVSutherland commented on #1258
I like that idea.

[2016-05-09 21:51] JohnCremona commented on #1258
OK, I'll write it and you can take a look.

[2016-05-09 22:09] sehlen commented on #1247
After creating an index I think the modular forms pages are faster now, maybe you can check again at some point.

[2016-05-09 22:12] JohnCremona commented on #1258
I put in a bound of 10^12 on the norm of j.numerator_ideal() and a test failed -- a test which sepcifically was testing j factorizations!  It was this curve http://www.lmfdb.org/EllipticCurve/2.2.89.1/81.1/a/1 which as you can see has not problems.
So perhaps that norm bound is not an intelligent way of doing this.

[2016-05-09 22:12] davidfarmer commented on #1199
fixed, so closing

[2016-05-09 22:12] #1199 closed

[2016-05-09 22:17] edgarcosta commented on #1199
@AndrewVSutherland  fixed : http://www.lmfdb.org/EllipticCurve/Q/ and http://www.lmfdb.org/EllipticCurve/
but a random elliptic curve still takes 3+s to load

[2016-05-09 22:18] AndrewVSutherland commented on #1258
OK, let's not try to complicate things now.  I have yet to find any curves over quadratic fields that pose a problem, I'd be happy to just supress the factorization if the degree is > 2 or to simply merge your pull request now, which ever you prefer.

[2016-05-09 22:18] AndrewVSutherland commented on #1247
@sehlen running now.

[2016-05-09 22:22] AndrewVSutherland commented on #1199
@edgarcosta @davidfarmer I agree that random elliptic curves are still too slow but I'm happy to view this as part of the https://github.com/LMFDB/lmfdb/issues/1247 thread (there are other places where random objects are slow and having the discussion all in one place can help spread/share the knowledge of how to fix it).

[2016-05-09 22:26] JohnCremona commented on #1258
I'm putting in the test for field degree < 3 instead of norm size.

[2016-05-09 22:30] edgarcosta commented on #1199
okidoki

On 9 May 2016 at 18:22, AndrewVSutherland <notifications@github.com> wrote:

[2016-05-09 22:36] JohnCremona commented on #1199
How much of the time taken for the random ec to load is in fteching the random object from the database, and home much from processing that curve?

Here's what happens when we make an ecnf web page:
- the corresponding Sage elliptic curve object is created
- its conductor is computed and factored (without the need to factor it we could of course construct the conductor from the db)
- the discrimin

[2016-05-09 22:36] JohnCremona commented on #1199
I'll make an issue for the above.

[2016-05-09 22:40] JohnCremona opened #1267 "Precompute much more data for elliptic curves over number fields"
See #1199 .  Currently quite a lot of data displayed for al elliptic curve over number fields is not stored in the database, but computed on the fly.

Here's what happens when we make an ecnf web page:

the corresponding Sage elliptic curve object is created
its conductor is computed and factored (without the need to factor it we could of course construct the conductor from the db)
the discriminan

[2016-05-09 22:41] davidfarmer commented on #1238
Closing because this is really just issue #439

[2016-05-09 22:41] #1238 closed

[2016-05-09 22:45] #1260 closed

[2016-05-09 23:27] #1197 closed

[2016-05-09 23:32] davidfarmer commented on #1232
closing because the temporary solution is adequate for now, and issue  #439 will fix properly

[2016-05-09 23:32] #1232 closed

[2016-05-10 00:25] jwbober commented on #1248
It looks like I'm not doing any more on this tonight, having been
distracted by database problems. I had been trying to compute embeddings to
higher precision, and I'm trying to do that again with the data from the
copy on the Bristol machine, but it goes very slow. I'm not even sure that
it will be done by the morning,

On Mon, May 9, 2016 at 9:15 PM, Stephan Ehlen <notifications@github.com>
wrot

[2016-05-10 00:29] davidfarmer commented on #1248
I think we have pretty good data now in the rectangles described at the
top of the modular forms page.

On Mon, 9 May 2016, Jonathan Bober wrote:

[2016-05-10 00:35] jwbober commented on #1248
I hope that is true.

Also, see http://www.lmfdb.org/L/ModularForm/GL2/Q/holomorphic/29/3/2/a/1/

Maybe L-functions for nontrivial characters need to be turned off, unless
you can tell when you know the sign and when you don't.

On Tue, May 10, 2016 at 1:29 AM, davidfarmer <notifications@github.com>
wrote:

[2016-05-10 00:40] #1255 closed

[2016-05-10 00:50] AndrewVSutherland opened #1272 "Add a page/knowl about the Langlands program"
possibly with a link to it in the introduction and/or universe pages (suggestion from Terry Tao).

[2016-05-10 01:09] AndrewVSutherland commented on #1248
@fredstro @sehlen It looks like there are now just 5 spaces that have dimension sum errors (and no cases where the heckeorbits listed in webnewformspace dont match the recorfds in webnewforms).

Hecke orbit dimensions [2] do not sum to 70 for space 56.10.27
Hecke orbit dimensions [4, 2] do not sum to 106 for space 92.10.91
Hecke orbit dimensions [1, 1] do not sum to 54 for space 91.7.90
Hecke orbi

[2016-05-10 01:10] sehlen commented on #1248
Exactly, this list agrees with ours ;-)
These are currently stalled in computing the embeddings in sufficiently high precision.
It might or might not finish soon….

[2016-05-10 01:57] davidfarmer commented on #1248
Those were supposed to be hidden in a previous pull request.
Should be updated soon.

On Mon, 9 May 2016, Jonathan Bober wrote:

[2016-05-10 02:09] davidfarmer opened #1276 "Replace all "a" links for knowls by proper template code"
Use {{ KNOWL ...}}  not < a ... >

[2016-05-10 03:34] sehlen commented on #1248
The space @AndrewVSutherland have not been recomputed by now but I made sure that the 5 above have no link leading to them at least.

[2016-05-10 04:53] JohnCremona commented on #1230
I don't know where that URL came from.  The confusion is that the URL /EllipticCurve/Q/modular_form_display/90.b1/ is being not handled by the ec blueprint with prefix EllipticCurve/Q with 2 other parameters, as it should, but as /EllipticCurve with 3 other parameters.  I am trying to fix it.

[2016-05-10 05:30] JohnCremona opened #1278 "L-function pages -- some missing knowls"
At  http://www.lmfdb.org/L/EllipticCurve/Q/11.a/ the knowls for Invariants, weight and analytic rank are missing.

[2016-05-10 05:32] JohnCremona commented on #1272
A sentence was added and merged, but not yet pushed to the servers since there is still no knowl for Langlands Program.  When there is we can push it.

[2016-05-10 08:52] AndrewVSutherland commented on #1247
Updated performance stats for the launch.
@sehlen Classical modular forms main page is substantially faster.

                                               www.lmfdb.org
|page|min|max|ave|dev|
|---|---|---|---|---|
|L/degree/1|0.066|0.399|0.072|0.033|
|L/degree/2|0.066|0.439|0.076|0.051|
|L/degree/3|0.066|0.115|0.068|0.005|
|L/degree/4|0.065|0.160|0.070|0.013|
|zeros/zeta/|0.090|0.205|0.096|0.012

[2016-05-10 09:01] AndrewVSutherland commented on #1278
Normalization should also have a knowl.

[2016-05-10 10:02] AndrewVSutherland commented on #1272
Why does this prevent pushing?  A user who is not logged in will not be
aware that the knowl does not exist.

On 2016-05-10 01:32, John Cremona wrote:

[2016-05-10 10:47] jwbober commented on #1248
There are still a lot of problems. I've been computing the embeddings to
higher precision, and seem to be able to run more reliable comparisons now.
For example, I missed
http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/18/7/11/a/ before.

That does not have the right number field (and I don't know what would have
the right number field. Doesn't look like character misnumbering). (Should
be x^12

[2016-05-10 11:03] fredstro commented on #1248
I will have a look at it as soon as the mongodb connection is working again…

Fredrik

[2016-05-10 11:07] AndrewVSutherland commented on #1248
Which mongodb connection?  I'm not having any problems connecting to the
mongodb on Warwick.

On 2016-05-10 07:03, Fredrik Strömberg wrote:

[2016-05-10 11:08] fredstro commented on #1248
I am doing my main computations on lehner with a standard sssh tunnel (started by Cremona) to lmfdb
it worked fine until half abhor or so ago. Now I keep getting server selection timeout

[2016-05-10 11:11] fredstro commented on #1248
I see now, it works fine from home so something must be wrong with that tunnel.
Unfortunately since it is there I can’t open a new tunnel, which means I can’t really do any computations there at the moment…

[2016-05-10 11:15] AndrewVSutherland commented on #1248
ps -C ssh then kill the offending pid?

On 2016-05-10 07:11, Fredrik Strömberg wrote:

[2016-05-10 11:24] jwbober commented on #1248
Here is a list of 958 errors for level < 100. (Something like 400 for level < 50), with all the coefficients checked:

[errors_1_99_new.txt](https://github.com/LMFDB/lmfdb/files/257037/errors_1_99_new.txt)

[2016-05-10 11:25] fredstro commented on #1248
if it was mine I would be able to do it but it is owned by John.
In the meanwhile I was able to check Bober’s new error.
I don’t think it is an error and the coefficient field is actually correct!
It just happens to have been computed by a previous version of sage so the field is just isomorphic to the one you get if you compute it now…
For some reason some of the coefficient field that sage gives

[2016-05-10 11:27] fredstro commented on #1248
Exactly how is it checked?
Are you comparing each embedding to a specific embedding (as Sage gives now — which will give an error if the field is just isomorphic but not identical)
Or do you try to identify each embedding by comparing different coefficients?
Or is it simply that none of your embeddings match an embedding of our coefficient?

[2016-05-10 11:29] jwbober commented on #1248
On Tue, May 10, 2016 at 12:25 PM, Fredrik Strömberg <
notifications@github.com> wrote:

Hmm, ok. I was giving the minimal polynomial of a2, which doesn't
necessarily need to be the same as the polynomial you're giving for the
number field (which explains why the coefficient of a2 isn't alpha.) When I
only use prime coefficients, that form looks fine.

[2016-05-10 11:35] jwbober commented on #1248
Here is a much smaller list of errors if I just do the comparison on a(p). For the first form on the list, it seems another case of incorrect character number.

15.10.4.a
15.12.4.a
15.6.4.a
15.8.4.a
15.9.11.a
17.10.13.a
17.6.13.a
17.8.13.a
20.10.9.a
20.12.9.a
20.4.9.a
20.6.9.a
20.8.9.a
20.9.11.a
21.11.13.a
21.11.8.a
21.5.13.a
21.7.13.a
21.7.8.a
21.9.13.a
55.2.2.a
55.2.32.a
55.2.32.b
55.2.4.a
61.2.

[2016-05-10 11:35] fredstro commented on #1248
The easiest is probably to construct the number field of both and just call ‘is_isomorphic’
Although this might be quite time-consuming and there are probably some pari function which does this very efficiently.
Or you can make a list of “definitely error” by comparing some suitable invariants (well ,I can only think of the discriminant but I am sure other people know others).
I also haven’t be ab

[2016-05-10 11:36] JohnCremona commented on #1272
OK I forgot that, so will push it to the servers.

[2016-05-10 11:38] jwbober commented on #1248
On Tue, May 10, 2016 at 12:35 PM, Fredrik Strömberg <
notifications@github.com> wrote:

I'm not actually comparing by comparing the number field. That was just a
check I did (wrong) by hand after the automated check that compared
embeddings.

[2016-05-10 11:39] fredstro commented on #1248
I see, but how do you compare the embeddings?

[2016-05-10 11:46] JohnCremona commented on #1248
I replaced that tunnel from lehner and hope it will work better, sorry.

On 10 May 2016 at 04:11, Fredrik Strömberg <notifications@github.com> wrote:

[2016-05-10 11:57] jwbober commented on #1248
On Tue, May 10, 2016 at 12:29 PM, Jonathan Bober <jwbober@gmail.com> wrote:

It took me a while to find the problem by hand, but A[25] is wrong for that
form. (I'm going to stop doubting myself now.)

[2016-05-10 11:58] JohnCremona commented on #1247
As a minor boon I note that running all our tests (./test.sh) is faster
than it used to be (approx 5 mins --> 4 mins).

On 10 May 2016 at 01:52, AndrewVSutherland <notifications@github.com> wrote:

[2016-05-10 12:13] fredstro commented on #1248
Ok, it is just a bit hard to know since we don’t see what you are seeing :)
So this was just again another problem coming from the recursive formula.

Could you perhaps upload your forms to the database so we can all run your checks?
Since I am going through your lists (in particular the wrong a(p)’s have to be looked at individually  it would be good to be able to see how the fixes progress.

At

[2016-05-10 12:53] jwbober commented on #1248
On Tue, May 10, 2016 at 1:13 PM, Fredrik Strömberg <notifications@github.com

I don't want to pollute the database more, but maybe I can produce a simple
text file with lists of the coefficients that I have for everything that
should be in the LMFDB right now.

I have something like 4 to 5 TB of data stored in an awkward format. I'm
not trying to hide it, but it also isn't very easy to share right

[2016-05-10 12:55] fredstro commented on #1248
That’s alright.
I added a testing function (probably very slow…) which compares the coefficients against what sage gives from the stored subspace.
which is able to test the forms you found at least.
Fredrik

[2016-05-10 13:33] jwbober commented on #1248
See http://www.maths.bris.ac.uk/~jb12407/bober-modform-coefficients

I suppose that this is really the first thing I should have done.

For each space (level, weight, chi) where the LMFDB has data and I have
data, I've printed out the first 50 coefficients of all of the forms in the
space. The format is just

label ; coefficients

where the label is of the form level.weight.chi.embedding, and the

[2016-05-10 13:55] edgarcosta commented on #1230
@JohnCremona probably a web crawler

[2016-05-10 14:04] #1230 closed

[2016-05-10 14:05] #1258 closed

[2016-05-10 14:20] jwbober commented on #1248
I also have some information about coefficient fields. See http://www.maths.bris.ac.uk/~jb12407/newform-fields/

There are a bunch of files there, one for every weight and level in [2,12] x [1, 100] (except for level 2, where my code runs in an infinite loop for some reason).

As an example, consider http://www.maths.bris.ac.uk/~jb12407/newform-fields/newformfields.36.7

It looks like
[code]

This

[2016-05-10 14:23] davidfarmer opened #1280 "first zeros list"
I want to work on the first zeros list
zeros/first

Currently there is a sqlite database for that page.  I am hoping to use the information
in the new L-functions database.  I was planning to make a new temporary table,
in mongo,
containing just the information that will be displayed in the zeros search, but I would be
happy to hear any suggestions on how to approach this.

[2016-05-10 14:49] jwbober commented on #1280
I suggest that you try just running queries on the L function collection.
This is why I included the first few zeros as separate floating point
entries.
On May 10, 2016 3:23 PM, "davidfarmer" <notifications@github.com> wrote:

[2016-05-10 18:45] jwj61 opened #1282 "Modular form history"
From Brian:

The history of modular forms

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/history

is NOT linked from http://www.lmfdb.org/ModularForm/

but is

is linked from individual modular forms pages such as

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/7/4/1/?group=0

[2016-05-10 18:57] jwj61 commented on #1282
Perhaps this is because the current history is of GL_2 forms, whereas  http://www.lmfdb.org/ModularForm/ is meant to have a history which includes other types of modular forms.

[2016-05-10 20:26] sanni85 opened #1283 "Sato Tate groups on L function pages"
Maybe this is already a known issue, but I could not find it...

http://lmfdb.warwick.ac.uk/L/EllipticCurve/Q/5077.a/

the Sato-Tate group should be given in a dynamic knowl

[2016-05-10 21:26] JohnCremona commented on #1283
It's a known issue, but possibly not yet an Issue.

[2016-05-10 22:31] #1283 closed

[2016-05-10 22:42] brianconrey opened #1285 "Quotation marks"
The latex use of `` and " don't render correctly. For example see
http://www.lmfdb.org/L/history just below the header Riemann's Memoir.

[2016-05-10 22:48] davidfarmer commented on #1285
The "correct" LaTeX way is to use single quotes on both ends:
``like this.''

It is relatively easy to convert the correct markup.  But if a document
(like a knowl) is edited by several people, then some may do "this"
and others may do ``that'' and yet others will do ``something else."

It is almost impossible to automatically convert a document which
simultaneously contains all three versions.

W

[2016-05-10 22:51] brianconrey commented on #1285
Yes.

[2016-05-11 02:18] kedlaya opened #1286 "Create link button on knowl edit page should use new syntax"
The "create external link" button on the knowl editing page should use this newer syntax:

{{ LINK_EXT('http://www.numbertheory.org/ntw/lecture_notes.html', 'http://www.numbertheory.org/ntw/lecture_notes.html') }}

[2016-05-11 07:23] sehlen commented on #1233
I think this was only a temporary issue. At least there is now no problem on that page and it seems simply that the variable max_cn was not set, probably due to missing data, but it is now.

[2016-05-11 09:07] fredstro commented on #1233
It is of course related to missing data but we should still make sure that the cn_max variable is always set.
Maybe use 0 as default value?

[2016-05-11 09:46] haraldschilly opened #1289 "basic health check endpoint /alive"
implement a basic self-check endpoint `/alive`, which does do a quick self check and a db query to see if the database works. that test should be **very brief**, and will be queried several times per minute.

if all tests pass, report back a text saying "OK" (with code 200) and if anything fails, report back a 500 ... or even worse, it times out if it's completely broken, etc.

that test will be u

[2016-05-11 14:26] jwj61 opened #1293 "Incorrect digits in zeta zeros"
From the issue tracker:

"Last digits of every imaginary part of Riemann zeta zeros are incorrect. For example, first zero ends with ....24766, but according to http://oeis.org/A058303, it should end with ...247027. Usually 2-4 last digits are incorrect throughout the whole list. In http://lmfdb.org/zeros/zeta/HowComputed it is said that the zeros are accurate to +-2^-102 ~ 30 digits after the dec

[2016-05-11 14:33] edgarcosta opened #1294 "MongoDB needs to be fully reindexed"
On Monday night all our MongoDB servers crashed several times due to corrupt indexes.
I believe we fixed the issue temporarily, Drew and I did a bunch of random fetches to try to recreate the bug and we didn't manage to bring down the MongoDB servers.
To be safe, we should rebuild all the indexes, perhaps when things calm down.

Perhaps a more important question. How come the indexes got corrupt?

[2016-05-11 14:42] AndrewVSutherland opened #1295 "Inconsistent knowl versions"
If you go to lmfdb.org/news and hit refresh repeatedly you will occasionally see an old version of the knowl:

![image](https://cloud.githubusercontent.com/assets/11425002/15184806/aeaa4576-1764-11e6-8320-ff7d34029694.png)

rather than (what should be) the current version:

![image](https://cloud.githubusercontent.com/assets/11425002/15184857/c9ac13ea-1764-11e6-831a-0d6aaa68c540.png)

I expect thi

[2016-05-11 14:44] edgarcosta commented on #1295
@AndrewVSutherland https://groups.google.com/d/msg/lmdb/ya9_dRU4cFo/AYJA6Un-BAAJ
It's because 1/3 of the reads are being done from a daily snapshot.

[2016-05-11 14:47] AndrewVSutherland commented on #1295
Is there any way to update that daily snapshot (even just for this
knowl?)

On 2016-05-11 10:44, edgarcosta wrote:

[2016-05-11 14:48] edgarcosta commented on #1295
Can you edit without it being in beta?

[2016-05-11 14:48] davidfarmer commented on #1293
When we fix them, we should truncate (not round), and also exlpain
that we are doing that.

For the web page version can we just truncate the strings
as the table is populated?

On Wed, 11 May 2016, John Jones wrote:

[2016-05-11 14:49] edgarcosta commented on #1295
Here is a server reading from last night's snapshot: http://www-central.lmfdb.xyz/news

[2016-05-11 14:50] edgarcosta commented on #1295
I can put a beta running for you.

[2016-05-11 14:51] AndrewVSutherland commented on #1295
If I try to save the knowl edit on lmfdb.org I get a server error (I think we disabled this intentionally).

[2016-05-11 14:52] edgarcosta commented on #1295
http://www-central.lmfdb.xyz:8081/

[2016-05-11 14:54] AndrewVSutherland commented on #1295
I also get a server error there.

On 2016-05-11 10:52, edgarcosta wrote:

[2016-05-11 15:01] edgarcosta commented on #1295
Could you edit it from your local LMFDB?
You specifically, can ssh tunnel into it, arb.lmfdb.xyz, just like with warwick.

[2016-05-11 15:04] edgarcosta commented on #1295
ps: the server is running on the default MongoDB port 27017

[2016-05-11 15:44] AndrewVSutherland commented on #1295
OK, the plan is to update the snapshot that is being used by http://www-central.lmfdb.xyz/, which will fix the immediate problem (at which point I think we can take off the ciritical tag but still need to figure out a regular automated schedule for updating the snapshots going forward).

[2016-05-11 16:35] edgarcosta commented on #1295
Snapshot ready.
Creating the disk from the snapshot.

[2016-05-11 16:43] edgarcosta commented on #1295
done

[2016-05-11 18:45] JohnCremona commented on #1293
The disclaimer text has been deployed, but the issue stays open until the incorrect digits are not displayed.
@arbooker

[2016-05-11 18:45] edgarcosta commented on #1209
More on this, from Sarunas, I bolded the key part:

[2016-05-11 19:04] JohnCremona commented on #1209
Thanks, that was a very useful description of the situation and answers some questions the west coast team were having already, though not all (since it raises some new questions).
I was going to suggest almost a reverse of the current set-up as follows.  Currently we have the replicated triple {w,m0,m1} with w=warwick as master, and also ms which is not in the replica set but updated somehow once

[2016-05-11 19:27] AndrewVSutherland commented on #1295
Removed critical label since the immediate problem is solved.  Leaving open until we decide how to deal with this on an ongoing basis (we may decide that we don't want to have the knowls in production update in real time, but even if we do, we presumably want all the servers at  lmfdb.org responding with the same version).

[2016-05-11 19:31] arbooker commented on #1293
This issue has long been known and there is no perfect resolution. The zeros are stored in binary but displayed in decimal, so there will always be issues with the tablemaker's dilemma, unless we are willing to truncate many places occasionally, which is a needless loss of precision.

My favo(u)red solution is to display round(t*10^30)/10^30. That guarantees that the error is at most 1 in the last

[2016-05-11 19:34] davidfarmer commented on #1209
I think it is okay to have the data on the public version be one day old.
It is worth that cost to be able to develop in the usual way.

Today we had the unusual situation of needing a particular knowl to
be up-to-date.  That is unlikely to happen routinely.

On Wed, 11 May 2016, John Cremona wrote:

[2016-05-11 19:40] JohnCremona commented on #1295
See the discussion at #1209

On 11 May 2016 at 12:27, AndrewVSutherland <notifications@github.com> wrote:

[2016-05-11 19:59] AndrewVSutherland commented on #1209
I agree that (almost always) being a day behind is fine.  My concern is having lmfdb.org simultaneously serving data from databases that are out of sync. With the proposed configuration you could potentially (depending on the load) have information that, from the user's perspective, was disappearing and reappearing randomly (and non-reproducibly), which would be very confusing.  I think it would b

[2016-05-11 20:54] JohnCremona commented on #1209
@AndrewVSutherland You didn't quite understand what I said (or meant to say) -- in my suggestion the only database instances which www.lmfdb.org itself reads from are the statics ones which only change once a day.  Anyone going to beta.lmfdb.org and seeing something different should be surprised.  Does that make sense?

[2016-05-11 21:30] davidfarmer opened #1300 "Add knowls to Search headings that give search instructions/tips"
All of the "Search" headings above search forms should be knowls which describe how to
enter search parameters (ranges, etc), that all fields are optional, etc.

[2016-05-11 22:01] AndrewVSutherland commented on #1209
@JohnCremona I understand that www.lmfdb.org will be serving from static data on ms, while beta.lmfdb.org will be serving dynamic data from the replication set {w,m0,m1}, and these may differ, and this is fine, no one should expect www.lmfdb.org and beta.lmfdb.org to look the same.  But if I understood what you wrote correctly, you want the load balancer to be spreading work over all 3 of m0,m1,ms

[2016-05-11 22:11] JohnCremona commented on #1209
Perhaps I am not using the correct terminology when I said "load balancing".  I mean that www.lmfdb.org should 100% of its data from one (or more) statics db servers.
That may mean that there is no point in having two replicas in  the cloud (m0 and m1) since their only function would be to incrementally update themselves with whatever changes are being made on the master.  Instead you may have mor

[2016-05-11 22:14] jvoight opened #1304 "Missing equality sign, elliptic curves"
In the "infinite order Mordell Weil generator and height" of an elliptic curve, equality signs are used everywhere to separate columns but not in this section.  I vote for an equal sign (or approx sign).

[2016-05-11 22:31] JohnCremona commented on #1304
Fair enough.  There's no equality sign (even approx) since it's a table, not a list of equations (see a renka >1 example).  But I could put in a second column with "=" in the first row and the "approx" symbol in the second.  OK?

[2016-05-11 22:37] JohnCremona commented on #1304
See #1305

[2016-05-11 22:37] jvoight commented on #1248
Sorry to drop this without reading the whole long thread, but hopefully someone who's been following the line-by-line can decide if this has already been fixed.  Drew and I were playing around for actual math reasons and found
  http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/17/2/2/
with a "Problem with Hecke orbits in the database!" error.

[2016-05-11 23:09] davidfarmer commented on #1280
I m going to take the logic for making the table entries out of the javascript and instead
assemble the table with python.  This seems to be necessary because the Lfunctions table
gives the zero and Lhash (and other stuff), and then you have to look in the instances
table to associate the Lhash to a URL.

[2016-05-11 23:17] davidfarmer opened #1307 "Can't add new accounts"
We can't assign new accounts (for editing knowls) because that has to be done on beta, not www.

I think this just involves changing line 28 of lmfdb/users/main.py
from
base_url = "http://www.l-functions.org"
to
base_url = "http://beta.lmfdb.org"

But I didn't want to do that in case it has a bad side-effect.

[2016-05-11 23:50] arbooker commented on #1293
Another option is to display round(t*10^31)/10^31. Then the approximation is off by no more than 3 in the last place, and it has the added feature that you could recover the exact internal representation from the decimal approximation. I think Odlyzko does something similar in his zeta zero tables.

[2016-05-12 00:52] jwj61 commented on #1294
I don't know if we are sure that they were corrupt.  As Drew pointed out, the internal representation of the index can become inefficient over time with items added and removed.  Over the years, there have been lots of modifications, including additions, to the number field database.  Or, did you run some integrity check?

[2016-05-12 01:18] edgarcosta commented on #1294
Am I sure it is corrupt? I don't know.
reindexing fixed the issue? yes.

Before reindexing those two collections: Trying to get a small number random objects from the database crashed the MongoDB server, in the sense that server really stopped running, and exited with an error.

After reindexing: I was able to fetch 100k random objects without an issue.

Are you talking about index 'ainvs'? the is

[2016-05-12 01:35] edgarcosta commented on #1209
Please let's create a a separate issue where we discuss the workflow of the data.
and let's stay on topic.

[2016-05-12 01:44] sehlen commented on #1248
OK, so this is the usual reason.
By a previous version of the program, the characters got confused and this
one has not been replaced yet.

It is now accessible and should be correct.
All of these issues will be resolved very soon but please keep informing us
when you see something like that!
Thanks!

Stephan

On Wed, 11 May 2016 at 15:37 jvoight <notifications@github.com> wrote:

[2016-05-12 02:21] JohnCremona commented on #1248
Would it be sensible to run a script to find all the records created before a certain date, using this "previous version" and delete them and replace them?  You could do that in three passes: first, identify which objects these are; second, recompute those and put them into a new temporary collection; third, delete the bad ones and replace them (quickly) with the recomputed ones.

[2016-05-12 02:27] jwj61 commented on #1294
No, I was referring back to an early comment about why reindexing is good after many insertions/deletions, and that number fields was an extreme case where it had had millions of additions without reindexing.

I am only half-surprised that indexing an array did not help.  I know mongo essentially treats arrays differently.  On the plus side, it supports queries as to whether an item is in the arra

[2016-05-12 02:28] AndrewVSutherland commented on #1294
Just to clarify, 3 separate issues were mentioned above:

(1) As Edgar mentioned there were two indexes definitely causing problems indicative of corruption (a sufficient number of random accesses would consistently force a crash) that went away once the indexes were rebuilt (after rebuild, we tested with 100x the number of accesses previously needed to force a crash and found no problems).  The c

[2016-05-12 02:46] JohnCremona commented on #1294
If I knew it was worth it I could easily change the type of the ainvs from
a list of 5 strings to a single string.  We are surely never going to want
to search on values of any particular a_i.

More generally, someone with technical knowledge might look through how we
store all data and make suggestions on changing format.  Harald used to do
that regularly but people rarely took any notice since t

[2016-05-12 03:08] sehlen commented on #1248
We do something like that but sometimes there are little problems. But
essentially we're running exactly such scripts now and the data will
finally (we'll let you and everyone know when we think this is the case) be
always correct.

On Wed, May 11, 2016, 19:21 John Cremona <notifications@github.com> wrote:

[2016-05-12 03:28] AndrewVSutherland commented on #1294
@JohnCremona For finding the minimal twist it doesn't matter, now that the j-invariant is included in the query, but for doing direct lookups on ainvs (e.g. when someone types them into the search box), it would make this much faster.  So probably worth doing.

I'm sure your aware of this, but for the benefit of those who may not be, I'll note that in order to make a change like this safely and cl

[2016-05-12 04:03] AndrewVSutherland commented on #1294
Actually for changing ainvs you could do something simpler which is rather than introduc

[2016-05-12 05:59] JohnCremona commented on #1294
@AndrewVSutherland OK -- I do I know what to do and how!  I am currently about to insert several new data fields into every elliptic curve record to avoid computations on the fly and will follow a similar cautious strategy.

[2016-05-12 07:19] JohnCremona commented on #1307
I will make that change and push to beta -- the change cannot be tested locally since clicking on RegisterTokens fails there.

[2016-05-12 07:23] #1307 closed

[2016-05-12 07:34] JohnCremona commented on #1307
I changed the URL in PR #1309, merged and pushed to beta, and tested successfully.
(Anyway, all you had to do was edit the URL which the register tokens command gave you!)

[2016-05-12 09:10] lemurell opened #1311 "CM set to "only" when browsing Elliptic curves over Q"
When clicking any of the conductor ranges, torsion or rank numbers under Browse elliptic curves on http://lmfdb.org/EllipticCurve/Q/ the search value for CM on the resulting search page is set to "only". It seems better to have it set to "include". (At least I got confused first after clicking on torsion=16, changing that to 12 and getting zero results.)

[2016-05-12 09:16] lemurell commented on #592
This has been done (put in Selberg data) so could be closed.

[2016-05-12 09:17] lemurell commented on #416
This has been done and could be closed.

[2016-05-12 09:22] lemurell commented on #617
Has been done for Dirichlet L-functions and Maass forms, but should be done generally once "every" L-function is in the database.

[2016-05-12 10:51] AndrewVSutherland commented on #1311
I expect the same things happening here as with https://github.com/LMFDB/lmfdb/issues/1250 (for elliptic curves over number fields).  I will take a look now.

[2016-05-12 11:07] AndrewVSutherland commented on #1311
Fixed by pull request https://github.com/LMFDB/lmfdb/pull/1312.  Will close as soon as it has been merged to master/prod/beta.

[2016-05-12 12:12] jwbober commented on #1293
The zeros should be printed so that when they are corrected rounded to 104 bits of absolute precision, the internal representation is recovered, which will be accurate to +/- 2^(-102). (Perhaps there are some digits in the internal representation that are always zero. I don't know. I'm sure that Dave chose 104 because it is a multiple of 8.) Due to double rounding, this probably means that the dis

[2016-05-12 12:17] jwbober commented on #1248
How much is still wrong? And are you recomputing everything, or just what I identified? (It seems ridiculous how long Sage takes to compute embeddings precisely. But maybe I just don't understand how hard that is.)

[2016-05-12 12:24] arbooker commented on #1293
I suggest working with the rational numbers directly rather than as floating point. Then the functions
t --> round(t*10^31)/10^31
and
t --> round(t*2^101)/2^101
are inverse to each other when applied to Dave's zeros.

Also, it would make sense to keep trailing zeros, so every number has exactly 31 digits following the decimal point. This makes it clearer what we mean when we say that the error is

[2016-05-12 12:29] jwbober commented on #1293
Yes, I agree. I will get to that eventually, but maybe not today.

I was lazy when I wrote this before, and didn't want to think much about
how to print.

On Thu, May 12, 2016 at 1:24 PM, arbooker <notifications@github.com> wrote:

[2016-05-12 12:49] AndrewVSutherland commented on #1248
@fredstro,@sehlen,@jwbober, can't Magma compute some of these?  Would that not be a way to get another independent sanity check of (at least some of) the data?

I realize that the first priority is to fix the cases that are obviously broken, but would could still very easily miss problems that are less obvious.   We should be looking to do any and all validation/verification of the data that we ca

[2016-05-12 13:06] sehlen commented on #1248
Yes, we'll do it. I wanted to use Magma for a long time to generate data as
well, which we should start doing once we fixed everything.

I'm now traveling so I'll be offline for a while but I'll continue working
on it shortly. It shouldn't take too long anymore.

On Thu, May 12, 2016, 05:49 AndrewVSutherland <notifications@github.com>
wrote:

[2016-05-12 13:33] #416 closed

[2016-05-12 13:33] #592 closed

[2016-05-12 14:05] davidfarmer commented on #1293
I think some of the suggestions miss the important point that there
are two distinct uses for the zeros:

1) Visually looking at the number in a browser, and maybe cutting and
pasting a small number of then to doing something silly.

2) Doing something serious with them.

For 2), the user should download them, and it is important that we
not lose any precision.  For this use case, extra meaningles

[2016-05-12 14:37] arbooker commented on #1293
@davidfarmer I understand what you're getting at, but I think it's fair to ask for some level of intelligence on the part of the users of the site. If we say that the numbers are off by at most 3 in the last place, that should be enough of an explanation. This is the one place on the site (so far) where we can give guaranteed accuracy, and we shouldn't throw that away just to be visually appealing

[2016-05-12 14:47] fredstro commented on #1248
As Stephan said, we have definitely been thinking about using magma even to
compute the data in some cases when sage is ridiculously slow.
The big issue which needs to be solved first is how to represent the
modular forms independently of method of computing.
At the moment we use the information given by sage in a way which William
at some point determined was good  (for instance a Hecke orbit is

[2016-05-12 15:00] JohnCremona commented on #1293
I'm with David on this one but I know nothing about zeros.

On 12 May 2016 at 07:37, arbooker <notifications@github.com> wrote:

[2016-05-12 15:18] jwbober commented on #1248
My code is robust, and I believe that it is basically bug-free. I'm doing floating point computations, but I use arb, so I have rigorous error bounds on all of my coefficients. I don't use multiplicativity to compute coefficients, but I check that a(nm) intersects a(n)a(m) for coprime (n,m), which is a strong check. (I suppose I could also check the relations between a(p) and a(p^k). Also, as I me

[2016-05-12 15:51] jwj61 commented on #1293
I see David's point about there being two use cases.

For people who are browsing on the web page, I don't think we can count on them reading the fine print.  For downloading, definitely give the full precision you have.  For browsing, I don't think you need to worry about making full precision recoverable.  If truncation to number of known decimal digits means that some zeros loose some digits, i

[2016-05-12 17:19] #1311 closed

[2016-05-12 18:06] JohnCremona opened #1318 "Precompute more data for elliptic curves/Q to do less on the fly"
Similar to #1267 for elliptic curves over number fields.  I am currently computing and uploading for all elliptic curves over Q a lot of extra data currently computed on the fly.  When that is done I'll adapt the code to use that data when it exists, defaulting back to the existing method if it does not (for safety).  When that is done all elliptic curve pages should load faster.

[2016-05-12 19:16] AndrewVSutherland commented on #1304
Now fixed on prod and beta, closing.

[2016-05-12 19:16] #1304 closed

[2016-05-13 03:12] JohnCremona opened #1323 "api broken by pymongo upgrade"
If you open /api and click on any collection you get an error.  I think this is caused by a change of parameter name in pymongo's find() from version 2.8 to 3.2, and will try to fix it.

[2016-05-13 04:01] JohnCremona commented on #1323
New PR #1325

[2016-05-13 05:48] #1323 closed

[2016-05-13 10:15] AndrewVSutherland commented on #1278
@davidfarmer I'd be happy to take a stab at this if you will review to make sure I get it right.  It'd be nice to close this critical issue today.

[2016-05-13 13:28] davidfarmer commented on #1278
If you make a start, I'll take a look.  I was aware that those knowls were missing, but had missed
the fact that they were marked critical.

The "Invariants" heading can be un-knowled, because each of the invariants has a separate knowl.
(Or just leave it, because regular users can't tell that it is an empty knowl.)

[2016-05-13 13:33] JohnCremona commented on #1278
I marked it as critical before the release but there were even more
critical issues.
On 13 May 2016 06:28, "davidfarmer" <notifications@github.com> wrote:

[2016-05-13 13:46] JohnCremona opened #1331 "eta quotient formatting issue"
From the bug report spreaadsheet:

  In the description of the eta quotient,
  the first term of the product would be
  1-q^{4n} instead of 1-q^{4}n.

Looks like a simple latex formatting issue.

[2016-05-13 15:01] JohnCremona opened #1332 "Upgrading to Sage 7.3"
Sage 7.2 will be released soon and I want to start testing to see what changes might be needed.  This Issue can be used to make a list.  So far:
  - the hilbert_modular_forms module (but no other) make a lot of use pf Sage's preparse function (I don not know why that is necessary), and that now has to be imported from sage.repl and not sage.preparse

[2016-05-13 16:26] JohnCremona opened #1333 "Change ideal labels (for conductors and levels) for imaginary quadratic fields"
At present imaginary quadratic fields have a different way of labelling their ideals, which form part of the labels for elliptic curves, isogeny classes, and (in future) Bianchi modular forms.  See
http://beta.lmfdb.org/knowledge/show/ec.conductor_label

These labels have the form [N,c,d] where N, c, d are positive integers;  and the brackets and commas make for terrible URLS (try http://beta.lmfd

[2016-05-13 17:59] JohnCremona opened #1334 "Add download and code to classical modular forms pages"

[2016-05-13 19:17] JohnCremona opened #1336 "Missing bold face on R in Sato Tate home pages"
In one place R-dimension has R not in bold, should match the other one,  on the home page of aSato-Tate group.

[2016-05-13 19:20] kedlaya opened #1337 "Knowl for Satake parameters"
The phrase "Satake parameters" on a classical modular form page, e.g.,

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/8/8/1/a/

should be a knowl.

[2016-05-13 20:46] AndrewVSutherland commented on #1336
Fixed by pull request by pull request #1338 (merged to master).

[2016-05-13 20:46] #1336 closed

[2016-05-13 20:53] davidfarmer opened #1339 "Slashes instead of dots in URL"
For example
/ModularForm/GL2/ModL/11.2.9.8.1.1
should be something like
/ModularForm/GL2/ModL/11/2/9/8/1/1

[2016-05-13 21:14] AndrewVSutherland opened #1340 "Bogus error message in classical modular forms"
If you go to the classical modular forms page http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/ and type in the suggested label 1.12.1.a into the label search box, it takes you to the correct page but displays a contradictory (and unnecessary) error message saying that the label 1.12.1.a is incorrect, and then give 1.12.1.a as an example of correct input:

Error: 1.12.1.a is not a valid input fo

[2016-05-13 21:16] AndrewVSutherland commented on #1333
Definitely no objections, this is a good idea.

[2016-05-13 21:51] brianconrey opened #1342 "Learn more about lattices"
On the page http://www.lmfdb.org/Lattice/
it would be nice to include a "History of Lattices"
or some at least some explanation of the role of
lattices in the grand scheme of things. Maybe
how they relate to modular forms and to number fields
and and perhaps some simple examples that
illustrate these connections.

[2016-05-13 21:54] AndrewVSutherland commented on #1331
Any idea which page this is on?  Does the bug report spreadsheet say?

[2016-05-13 22:00] brianconrey opened #1343 "Integral lattice and Gram matrix knowls"
I feel like the knowls for "Integral lattice" and "Gram matrix" could use a little amplification.
Suppose I think of lattices as collections of classical lattice points in
R^n. It's not clear to me from the knowls what the bilinear form is.
If it is supposed to be defined in terms of the Gram matrix then
the Gram matrix should be defined without referring to the bilinear
form; otherwise the defini

[2016-05-13 22:05] AndrewVSutherland commented on #1337
@kedlaya it is a knowl, it just has no content, see:

http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/8/8/1/a/

[2016-05-13 22:24] JohnCremona commented on #1331
On 13 May 2016 at 14:54, AndrewVSutherland <notifications@github.com> wrote:

It doesn't say and I have not yet looked.

[2016-05-13 22:32] alinabucur opened #1345 "Headers in homepages are now black"
**_1 Upvote**_ The headers for the various sections of the homepages of the various objects are now black (unless they are knowls).

See for instance the word 'structure' in "Mordel Weil Structure" heading on

http://beta.lmfdb.org/EllipticCurve/Q/81150/m/1

[2016-05-13 22:51] JohnCremona commented on #1345
Alina, see the discussion at #1306.  This is not a bug, it fixed a bug!

[2016-05-13 22:52] JohnCremona commented on #1345
Sorry I did not read carefully enough.  I see what you mean.  The knowl part of the title is green and the rest is black and that looks bad.

[2016-05-13 22:54] AndrewVSutherland commented on #1345
+1 This is not very pretty.  The easiest fix would be to put the whole heading in the knowl title.

[2016-05-13 22:57] davidfarmer commented on #1342
Anna Haensch would be the right person to do this, and also issue #1343

[2016-05-13 23:02] davidfarmer commented on #1345
We can't change every header on every page into a knowl.  I will look into fixing the CSS.

[2016-05-13 23:13] AndrewVSutherland commented on #1345
@davidfarmer you are right, I was only thinking of the example in this issue (where I would argue that the knowl title really should be "Mordell-Weil structure").

[2016-05-13 23:38] kedlaya opened #1346 "Sage/Magma generation commands for modular forms"
It was observed here:

https://galoisrepresentations.wordpress.com/2016/05/12/lmfdb/#comments

that we don't currently provide Sage/Magma code to create modular forms.

[2016-05-13 23:56] JohnCremona commented on #1346
Duplicate of #1334

[2016-05-13 23:56] #1346 closed

[2016-05-14 00:54] JohnCremona commented on #1318
My branch ec-extra-data implements this.  So far I have uploaded the extra data for conductors up to 1000 (larger ones are running but will take a while).  The code works equally on curves for which the extra data has been uploaded and those for which it has not yet, so it should be tested with small conductors and larger ones.

One thing still requires the Sage elliptic curve to be created, namel

[2016-05-14 01:36] AndrewVSutherland opened #1349 "Bad bread in classical modular form newform pages"
As noted in https://github.com/LMFDB/lmfdb/issues/1223#issuecomment-217665174 and https://github.com/LMFDB/lmfdb/pull/1348#issuecomment-219189944, the bread for an individual newform page such as

lmfdb.org/ModularForm/GL2/Q/holomorphic/12/8/1/a/

should not be the same as the page

http://lmfdb.org/ModularForm/GL2/Q/holomorphic/12/8/1/

for the space in which it lies, it should have an additional

[2016-05-14 01:55] AndrewVSutherland commented on #1278
knowls for all the items originally listed in this issue now exist (but normalization still needs a knowl).  I'm going to remove the critical flag, but I'll leave the issue open until @davidfarmer reviews what I wrote (and David, if you are motivated to write the normalization knowl, go for it!).

[2016-05-14 15:58] brianconrey opened #1352 "colored dots on degree 3 maass forms"
http://www.lmfdb.org/L/degree3/MaassForm/

The description of the second plot (level 4) should tell what the colors of the dots mean.

[2016-05-14 16:33] jvoight commented on #437
The data is available at http://people.maths.ox.ac.uk/lauder/weight1/

[2016-05-14 19:11] AndrewVSutherland opened #1358 "Some ECNF pages produce 502 Server Error messages"
The page

 http://www.lmfdb.org/EllipticCurve/6.6.371293.1/79.1/c/4

(and several others) produces a 502 server error message.

[2016-05-14 19:15] edgarcosta commented on #1358
[code]

[2016-05-14 19:30] AndrewVSutherland commented on #1352
@brianconrey it would be helpful if you added a label (or labels) when you create a new issue.

[2016-05-14 19:34] AndrewVSutherland commented on #1358
Looks like a problem in Sage?  I notice that when I run it locally (on an older version of Sage) it works, its just very slow.

[2016-05-14 19:58] JohnCremona commented on #1358
Perhaps I should remove degree 6 field curves?  There are not many anyway
only one field or so.
On 14 May 2016 12:34 p.m., "AndrewVSutherland" <notifications@github.com>
wrote:

[2016-05-14 20:00] JohnCremona commented on #1358
But also this code does stuff on the fly such as factoring ideals.  Once I
give it the same treatment as I did over Q these problems will go away.
On 14 May 2016 12:58 p.m., "John Cremona" <john.cremona@gmail.com> wrote:

[2016-05-14 20:01] AndrewVSutherland commented on #1358
That's one solution, another solution (which I see you just commented on) is not to use sage on the fly at all.  It removes a significant opportunity for things to break when sage changes.

[2016-05-14 20:02] JohnCremona commented on #1358
See my second comment

On 14 May 2016 1:01 p.m., "AndrewVSutherland" <notifications@github.com>
wrote:

[2016-05-14 20:41] sehlen commented on #437
I'm working with George Schaeffer on integrating this data already + mod p
data that he computed.
We also received permission from Alan Lauder to use the data.
Coming soon to an lmfdb webpage near you.

On Sat, May 14, 2016 at 12:33 PM, jvoight <notifications@github.com> wrote:

[2016-05-14 22:20] edgarcosta commented on #1295
Using mongorestore it takes no more than 0.1 seconds to replace the knowledge db.

We should have a crontab doing this on a regular basis.

ps: In comparison, most of our pages take more than a 0.1s to load.

[2016-05-14 22:46] jvoight commented on #437
When it's ready and stable (this time next year?), we should be sure to contact Kevin Buzzard, Alan Lauder, and Frank Calegari so they can paw through it.

[2016-05-14 23:31] sehlen commented on #437
That should go much faster (I'm rather thinking about a few weeks, but
we'll see).

Several checks will be run and we'll contact anyone who's interested.

Moreover, George has independently calculated data that we first meant to
use but then Alan Lauder published his data which is a) more complete and
b) gives already the eigenforms which George was about to compute.

On Sat, May 14, 2016 at 6:46

[2016-05-14 23:32] sehlen commented on #437
Let me add (and maybe that's what you meant) that maybe mod p might take a
little longer.

On Sat, May 14, 2016 at 7:31 PM, Stephan Ehlen <stephan@die-ehlens.de>
wrote:

[2016-05-14 23:37] JohnCremona commented on #437
Just making sure that all on this ticket are aware of my recent email to the shoe group concerning branches.  Should not be too much longer now...

[2016-05-14 23:57] sehlen commented on #437
Ack.

On Sat, May 14, 2016 at 7:37 PM John Cremona <notifications@github.com>
wrote:

[2016-05-15 12:45] davidfarmer commented on #1352
Most people cannot add labels. This is a good thing because bad
labels are worse than no labels.  Adding labels is yet another duty of
the people who manage the pull requests.

On Sat, 14 May 2016, AndrewVSutherland wrote:

[2016-05-15 12:50] AndrewVSutherland commented on #1352
Got it, thanks!

On 2016-05-15 08:45, davidfarmer wrote:

[2016-05-15 13:01] AndrewVSutherland commented on #1223
I think it makes sense to merge this issue with (a renamed) #1248, since at this point they are more or less about the same thing and all the recent discussion is on #1248

[2016-05-15 13:12] AndrewVSutherland commented on #1223
Issue merged wiht #1248

[2016-05-15 13:12] #1223 closed

[2016-05-15 13:43] AndrewVSutherland commented on #1278
I added a knowl for normalization as well.  Once @davidfarmer reviews and the knowl collection in the mongo db for  www.lmfdb.org is updated from beta.lmfdb.org we can close.

[2016-05-15 13:47] AndrewVSutherland opened #1360 "LMFDB data access from external computing platforms (Sage, Magma, Pari, Mathematica, etc...)"
Excerpt of an e-mail conversation with Stephen Wolfram regarding the LMFDB:

"I couldn’t find a way to access this from Wolfram Language.  Is there one yet?  At the very least, you should make sure it's accessible from the new Wolfram Open Cloud, and from Mathematica.  (If you need it, I could connect you to someone who could help architect this, or I could even have a quick think about it myself.

[2016-05-15 14:01] JohnCremona commented on #1360
How about "not unless or until we have a fully functional interface from
Sage" ?
On 15 May 2016 14:47, "Andrew Sutherland" <notifications@github.com> wrote:

[2016-05-15 14:07] AndrewVSutherland commented on #1360
I wasn't advocating that we do this (or making it a priority), I just felt obliged to record it.

[2016-05-15 14:07] jwbober opened #1361 "Download buttons for elliptic curve search results shouldn't appear when there are too many results"
e.g., if I go to http://www.lmfdb.org/EllipticCurve/Q/?conductor=100000-379998

and then a download all search results button at the bottom, the server thinks for a long time and then returns an error.

(Actually, it would be nice to find a way to make these links actually work, but that might be asking too much right now.)

[2016-05-15 14:13] JohnCremona commented on #1361
I thought we had sorted that one but perhaps it was another similar place.
Mass download should definitely be possible.
On 15 May 2016 15:07, "Jonathan Bober" <notifications@github.com> wrote:

[2016-05-15 14:14] AndrewVSutherland commented on #1360
In fact I don't think we need to do anything that is specific to mathematica or sage, if we have an api we are willing to support (and prepared to throttle it to mange any load issues), the burden would be on whoever it is that wants to integrate with the LMFDB (e.g. you can access the OEIS from within Sage, but that is due to functionality in Sage, not the OEIS -- obviously the LMFDB is much more

[2016-05-15 14:26] JohnCremona commented on #1360
On 15 May 2016 15:14, "Andrew Sutherland" <notifications@github.com> wrote:

mathematica or sage, if we have an api we are willing to support (and
prepared to throttle it to mange any load issues), the burden would be on
whoever it is that wants to integrate with the LMFDB (e.g. you can access
the OEIS from within Sage, but that is due to functionality in Sage, not
the OEIS -- obviously the LMFDB

[2016-05-15 15:51] jvoight commented on #448
According to Choosly at https://galoisrepresentations.wordpress.com/2016/05/12/lmfdb/, we should have enough modular forms data (in particular in weight 4) that we can see some forms with larger analytic rank.

[2016-05-15 15:52] jvoight opened #1362 "Search by analytic rank"
A request from Choosly at https://galoisrepresentations.wordpress.com/2016/05/12/lmfdb/

[2016-05-15 16:16] haraldschilly commented on #1360
lol :-)

however, what many don't realize, the /api endpoint is just for the database. maybe it should have been called /db.

I think, a neat addition to everything that's done so far would be, to offer all the pages also in other formats. I.e. I propose a query parameter `_format` that can be text, html, yaml, and json. It just happens that right now it is just "html" as the default, but renderin

[2016-05-15 17:01] davidfarmer commented on #1278
I have reviewed the new L-function knowls and made some updates,
so this can be closed.

On Sun, 15 May 2016, Andrew Sutherland wrote:

[2016-05-15 17:19] AndrewVSutherland commented on #1278
Great, thanks David.  They won't be visible on www.lmfdb.org until the knowls collection gets updated, but that's a separate issue that I am pursuing with Edgar.

[2016-05-15 17:19] #1278 closed

[2016-05-15 17:33] AndrewVSutherland commented on #1360
I realize its just for the db.  The downside is that this means things are represented at a low level that may not immediately translate to what you see on the screen, but the upside is that

(1) it is (or should be) documented, so that that someone who really cares can do what they want with the data.
(2) we are moving toward a model where we store more information in the db and do less massging/

[2016-05-15 18:46] haraldschilly commented on #1360
oh yes, that all are good directions. there have been a lot of discussions, and -- at least my impression is -- that right now the first approximation to the website is, to make it suitable for education and casual users. i.e. that you have data and those knowls, in an overall working website package.

I have many ideas how to address those who want to do more technical computations, and I'm sure

[2016-05-15 20:14] AndrewVSutherland opened #1372 "Internal server error when searching for modular form of weight 1"
Go to

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/

click Gamma_1(N), type 1 in the weight box and press the make-new-table button.  This takes you to the URL http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/ranges/?level=1-24&weight=1&group=1

which displays an internal server error.

[2016-05-15 20:20] edgarcosta opened #1373 "knowledge.system.{profile, users}"
Hello,

Should/can we drop these collections?

knowledge.system.profile is empty
and
knowledge.system.users is an old artifact from mongodb 2.4, I believe:
{ "_id" : ObjectId("4e610f61b1599919e80c5b3d"), "pwd" : "...", "user" : "lmfdb", "readonly" : true }
{ "_id" : ObjectId("4e610f70b1599919e80c5b3e"), "pwd" : "...", "user" : "lmfdb_editor" }
{ "_id" : ObjectId("4e611046b1599919e80c5b3f"), "pwd"

[2016-05-15 20:34] edgarcosta commented on #1372
[code]

[2016-05-15 20:36] edgarcosta commented on #1278
done

On 15 May 2016 at 13:19, Andrew Sutherland <notifications@github.com> wrote:

[2016-05-15 20:40] AndrewVSutherland commented on #1372
Yup, I'm on it.

[2016-05-15 20:54] edgarcosta commented on #1295
I have a script doing exactly what I said above every 15min.

[2016-05-15 20:55] edgarcosta commented on #328
Is it time to touch this subject again?

[2016-05-15 20:56] AndrewVSutherland commented on #1295
Looks like its working, I'll test it a bit (is it every 15min on the quarter hour?)

[2016-05-15 20:59] edgarcosta commented on #1295
every quarter, same thing with updating the code

On 15 May 2016 at 16:56, Andrew Sutherland <notifications@github.com> wrote:

[2016-05-15 21:00] AndrewVSutherland commented on #1295
Great, it just updated again.  Closing.

[2016-05-15 21:00] #1295 closed

[2016-05-15 21:17] AndrewVSutherland commented on #1372
Fixed in pull request #1374.

[2016-05-15 21:17] sehlen opened #1376 "Update classical modular form data on www.lmfdb.org to reflect updates on beta.lmfdb.org (levels 1-24, weights 2-24, trivial character)"
I was under the impression that the database serving www.lmfdb.org should be updated every day or so.
Nevertheless, data I inserted a few days ago does still not appear on www.lmfdb.org, yet it does appear on beta.lmfdb.org

See:
http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/ranges/?level=1-24&weight=2-40&group=0

Screenshot:
<img width="937" alt="screen shot 2016-05-15 at 17 12 53" src="http

[2016-05-15 21:25] AndrewVSutherland commented on #1376
@sehlen, @edgarcosta  We are still in the process of configuring a mechanism for database updates, but, with the exception of knowls, the plan is to keep it infrequent (we need to do it in a controlled way to make sure the update does not happen while someone is in the process of inserting data, which might result in an inconsistent state).

Having said that, it might make sense to put in place a

[2016-05-15 21:33] AndrewVSutherland commented on #1372
Fix is now live on beta and works, pushing to prod.

[2016-05-15 21:49] AndrewVSutherland commented on #1376
@sehlen So the main issue is that we want to have a review process in place for the data (just as we do for the code).  As we have seen several times in the past few weeks (and not just in modular forms) updates to data can break things just as easily as updates to code.

Having said that, I realize that we need to address https://github.com/LMFDB/lmfdb/issues/1248 as quickly as we can and will co

[2016-05-15 21:50] AndrewVSutherland commented on #1376
@sehlen; BTW, I'm happy to take your screen shots above as a description of the scope of the changes (but please tell me if there is more I should know).  I'll start looking at the new spaces on beta now.

[2016-05-15 21:51] AndrewVSutherland commented on #1372
Fix is now live on prod, closing.

[2016-05-15 21:51] #1372 closed

[2016-05-15 22:32] AndrewVSutherland commented on #1376
One problem so far (still checking).  If you go to:
http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/20/2/

there is a link to:
http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/20/2/3/
which gives an error message.

Also, just FYI (I realize these are not in the range of the rectangle you indicated):

Hecke orbit data in webnewforms for space 56.10.27 is incomplete or inconsistent
    [u'b',

[2016-05-15 22:48] sehlen commented on #1376
@AndrewVSutherland: Did I miss this discussion about the review process for
the data?
It definitely makes sense to have such a review process but, as you said,
currently we're fixing things (or indeed make them less bad as you said)
and not break them.
We should make such a discussion in public. But the very least is to inform
people and the last message I got was that 1/3 of the mongodb servers h

[2016-05-15 23:10] sehlen commented on #1376
@AndrewVSutherland, @edgarcosta,
Anyway, modularforms2.webnewforms, modularforms.webmodformspace, modularforms2.dimension_table and modularforms2.webeigenvalues should be the ones that are affected by new data.

I will add documentation this week, in particular to the inventory, but we will also change a few things.

However, you don’t have to do this now - I was only asking how it works now becau

[2016-05-15 23:19] AndrewVSutherland commented on #1376
@sehlen I apologize if my remarks came across the wrong way, I definitely did not mean to bash modular forms, in fact I am devoting a lot of my own time and effort to trying to help make them better!  I have set aside time from my own research to work on this.  I am currently trying to set up some computations in Magma that we can use to sanity check some of the data (I have 112 cores with magma r

[2016-05-15 23:33] sehlen commented on #1376
@AndrewVSutherland I know that you are helping (you’re sanity checks have already proven very useful) and that’s why I apologized in advance that I’m addressing the wrong person.

Please let us come back to your offer of running computations on GCE in a few days!
I’m just making sure (together with Fredrik), that if we touch data for non-trivial characters in a big way, we’re improving more things

[2016-05-16 00:10] AndrewVSutherland commented on #1376
@sehlen So my automated test is failing because there is a form with Hecke orbit label 2.12.1.a in webnewforms, but this space has dimension 0.  Should that record be there?

[2016-05-16 00:12] sehlen commented on #1248
Most cases should have been fixed by Fredrik and also some by me last week (mostly before the release) but there are issues left for sure and for many reasons which I can in part explain somewhere else if you really want to know ;-) Trivial character data should be in very good shape.

Let me quickly outline the timeline that I currently have in mind (and maybe you want to assign me if you want):

[2016-05-16 00:26] sehlen commented on #1376
I deleted it now.
It shouldn’t be there but it also didn’t cause any harm as the record for the space 2.12.1 indicated that there were no hecke_orbits (note that a 0-dim space can have a record but it will have hecke_orbits={}).

Is this the only error you’re getting?

[2016-05-16 00:32] AndrewVSutherland commented on #1376
The only other problem was beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/38/1/a/, but I think that may just be an issue with the size of the coefficients, when I try it manually it works (but the display is slightly different, maybe you can double check it).

Otherwise it looks good!

[2016-05-16 00:35] AndrewVSutherland commented on #1376
Actually one other problem, take a look at http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/16/36/
 which links to http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/16/36/1/ which just shows a blank page.

[2016-05-16 01:13] sehlen commented on #1376
What exactly fails for 23/38/1/a?

[2016-05-16 01:18] sehlen commented on #1376
Great find!

This one has not been computed to the end (strange to see an empty page, though, I will have to take a look tomorrow) and I overlooked it in the logs.
It is now done and displays fine.

The reason was something funny that I saw happening a few times before and didn’t know where it came from (now I do):
when we compute the twists, then the candidates have been recomputed (which they sh

[2016-05-16 01:24] AndrewVSutherland commented on #1376
I think 23/38/1/a is ok, it might have been failing in my test code just because the return page is so huge and the request might just be timing out. When I test it manually, other than taking a long time to render (which is understandable given the huge coefficients!) it seems fine.

[2016-05-16 02:00] AndrewVSutherland commented on #1248
On 2016-05-15 20:12, Stephan Ehlen wrote:

Excellent!

Great, let's plan to do this.  My schedule is pretty wide open this
week, so I am at your disposal.  Send me your id_rsa.pub and I should be
able to set it up so you can log directly into the cloud servers.  I
assume we need Sage 7.1 installed on them, anything else?  (We can't run
Magma in the cloud, but I do have 100+ cores at MIT where I ca

[2016-05-16 02:15] sehlen commented on #1248
Great - will do.
We need Sage 7.1 and one mongodb instance (or a couple?) to which all instances could connect to would be great.
Also, all instances should then have the lmfdb and our modforms-db repository checked out.
I did this previously myself by using a disk from a snapshot in GCE, maybe I could even supply you with my latest working image somehow?

Using Magma would also be great as sage i

[2016-05-16 09:04] AndrewVSutherland commented on #1293
Is anyone working on this critical issue?  To who should it be assigned?

[2016-05-16 09:06] AndrewVSutherland commented on #1231
Agree to close, if anyone still has concerns/issues about this, please raise them in https://github.com/LMFDB/lmfdb/issues/1248 so that we can check them in our validation.

[2016-05-16 09:06] #1231 closed

[2016-05-16 09:09] JohnCremona commented on #328
Not right now.  Drew and I are formulating some new git guidelines for Release Managers and other developers, and have some more stuff to merge from last week.   Also I think that part of the afllout from last week will involve more work improving the user interface and that should take priority over refactoring.
One day we will though!

[2016-05-16 09:16] JohnCremona commented on #1376
@sehlen and @fredstro have been absolute heroes recently and over the last 1-2 years writing and fixing a lot of things which were not their fault at all.  All LMFDB developers really appreciate that, and are upset that the modular forms part of the website has been the one (essentially the only one) which has been criticised by  anonymous bloggers.   From now on (1) the more data we have in there

[2016-05-16 09:19] JohnCremona commented on #1248
Buzzard specifically said that he had "stopped bugging Cremona about" including weight 1 forms.  I'm sure he must have mentioned this to me at least once, I was never "bugged" and might well have said something along the lines of "it's a lot more work thatn you might think".

[2016-05-16 10:21] fredstro commented on #328
I think it us a good idea to add it as a dependency already now. As we
won't remove pymongo no one is *forced* to refactor anything.
Adding it as a dependency wil simply make it easier to refactor later as
well as adding new stuff using mongoengine ODM structure rather continue to
reinvent new database structures all the time.

On Mon, 16 May 2016 10:09 John Cremona, <notifications@github.com> wro

[2016-05-16 12:05] davidfarmer commented on #1293
I removed the "critical" designation because of the disclaimer added in pull request #1296 .

[2016-05-16 13:05] AndrewVSutherland commented on #1376
@sehlen One other small thing: in webmodformsspace the space with label 2.11.3 is listed has having trivial character (which trips up my test).  This also causes an error message on the (unreachable) page

http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/2/11/3/

I'm rerunning one final check on the pages (I will also check that the characters all match the labels). I'm not checking the coeffici

[2016-05-16 13:16] AndrewVSutherland commented on #1376
OK, everything in the box 2 <= w < = 40 and 1 <= N <= 24 with trivial character looks good.

@edgarcosta Can you move the collections modularforms2.webnewforms, modularforms2.webmodformspace, modularforms2.dimension_table and modularforms2.webeigenvalues    from Warwick to the cloud?  (temporarily rename the old ones and save them just in case).

[2016-05-16 13:39] edgarcosta commented on #1376
@sehlen
Could you please confirm that these are the collections that you want me to move the mongodb server serving lmfdb.org?

[code]

[2016-05-16 14:46] sehlen commented on #1376
Confirmed.

[2016-05-16 14:55] jwj61 opened #1378 "Wording on zerostour"
From the feedback page referring to http://www.lmfdb.org/intro/zetatour

The sentence "This has been verified for every zero ever found." makes little sense, unless you mean that you checked, once you had the zero that indeed Re(z) = 1/2. I'd phrase this as "This is true, so far, for every zero ever found.", but that (and the current version) still raises the question how hard people have been loo

[2016-05-16 15:11] AndrewVSutherland commented on #1378
Fixing this just involves making appropriate edits to the knowl at http://beta.lmfdb.org/intro/zetatour.  Updates made their will automatically appear on www.lmfdb.org on the next quarter hour (+epsilon)

[2016-05-16 15:28] JohnCremona commented on #328
@fredstro I assume that doing this (adding it to requirements.txt) will at first only affect new installations, and even then only if someone adds "import mongoengine" somewhere in committed code.

Perhaps we should add to the developers guide (under construction) instructions for updating some of these modules sometimes.  For example, many will still have pymongo 2.8 from when we forced that but

[2016-05-16 15:30] davidfarmer commented on #1378
I am editing the file and will write to that person.

On Mon, 16 May 2016, Andrew Sutherland wrote:

[2016-05-16 15:30] JohnCremona commented on #1376
@sehlen and/or @fredstro It would help others take over from you (or at least contribute) to classical mfs if you could edit https://github.com/LMFDB/lmfdb-inventory/blob/master/db-modularforms2.md appropriately, including removing sections for redundant collections (and removing the redundant collections).  I think the "new" mfs setup is stable enough for that?  It is tedious but incredibly helpf

[2016-05-16 15:34] sehlen commented on #1376
@JohnCremona I know that this has to be updated. And that's part of what I will do this week (see also my plan at https://github.com/LMFDB/lmfdb/issues/1248).

[2016-05-16 15:49] fredstro commented on #328
yes, it should only affect new installations in that they will have the
mongoengine library installed and until someone commits something
containing 'import mongoengine' then it won't be used and so not have any
consequences at all.
It is probably a good idea to record which versions of various packages we
know are supported/required  and update requirements.txt accordingly.

On Mon, May 16, 2016

[2016-05-16 15:51] davidfarmer commented on #1378
Made changes which now appear on prod, and emailed person.  Closing.

[2016-05-16 15:51] #1378 closed

[2016-05-16 23:28] AndrewVSutherland commented on #531
It looks to me like there are now section headings, closing.

[2016-05-16 23:28] #531 closed

[2016-05-16 23:40] AndrewVSutherland commented on #1352
I believe the color indicates the sign (blue=1, red=e^{2pi/3}, green=e^{4pi/3}) of the functional equation.

[2016-05-16 23:44] jwbober commented on #1293
I assigned myself to this (now that someone else removed the "critical" tag) and I'll get to it eventually. But of course @davidfarmer is welcome to fix it if he likes.

[2016-05-16 23:46] AndrewVSutherland commented on #1352
The place to fix this is in getOneGraphHtml in lines 143-159 of lmfdb/lfunctions/LfunctionPlot.py

[2016-05-16 23:47] davidfarmer commented on #1293
I would do it, but for the added overhead of having to also
install another type of database.

Cremona offered to let me do it in an account on a Warwick
machine, so maybe I should do that.

On Mon, 16 May 2016, Jonathan Bober wrote:

[2016-05-17 01:42] jwbober commented on #1248
On Mon, May 16, 2016 at 1:12 AM, Stephan Ehlen <notifications@github.com>
wrote:

I have said this a few times, but I'll repeat it again. It would be useful
to think about how to deal with cases where we know a full space of modular
forms, but only by complex embeddings of the coefficients. We can go much
further with numerical computation than with exact computation. There's
also an intermediate

[2016-05-17 01:56] #1349 closed

[2016-05-17 01:56] AndrewVSutherland commented on #1340
Fixed by pull request #1382

[2016-05-17 01:56] #1340 closed

[2016-05-17 01:57] AndrewVSutherland commented on #1349
Fixed by pull request #1382

[2016-05-17 03:17] sehlen commented on #1248
@jwbober I agree we should also have numerical data. But it is something new and we should see how useful it would be and how we could integrate it. We could put it on the list of things to do at the next workshop. Or maybe you have a good idea right now.

Your extreme case seems quite impressive and I don't think it is in reach. I'm surprised to see that the degree goes that high for level 83 and

[2016-05-17 03:22] sehlen commented on #1248
@jwbober On the other hand, degree 800 means that you get a degree 20 extension of the cyclotomic field of order 41 in this case and maybe that is doable. I'll check out this case tomorrow ;-)
But, as you said, you can probably always come up with a more complicated one but it would be nice to have non-trivial characters in a reasonable range in the lmfdb, afaic.

[2016-05-17 04:09] sehlen commented on #1248
Let me add that I know of course that we can't get very far with
non-trivial characters (although seeing this for level 83 and weight 4
already came a bit as a shock although I should've known this) but I guess
a reasonable goal would be to complete and validate the squares of
parameters currently advertised on the lmfdb and then compute data for
characters of order <=2 as far as we can.

I would

[2016-05-17 08:58] JohnCremona commented on #1293
I'll contact @davidfarmer to arracnge this

[2016-05-17 09:07] JohnCremona commented on #1248
If someone felt like getting message back to our critica who like to blog anonymously , @jwbober 's example might be worth mentioning:  "only" level 83 weight 4, but coefficent field of degree 800 and 200,000 characters needed for one of the first Fourier coefficients.  The mathamactical definitions are simple enough, but no-one has ever seen this newform with their nakes eyes before.

[2016-05-17 10:33] jwbober commented on #1248
Level 83 is an extreme case because it is the upper half of a Germain prime pair, so there are two large orbits of Dirichlet characters. As Stephan says, this could in principle be somewhat easier than it seems, because it is a "only" a degree 20 extension of a relatively simple degree 40 extension. This certainly makes things easier for me, because it means that I can do computations with just 20

[2016-05-17 10:56] AndrewVSutherland commented on #1248
@jwbober aside from the question of how to present the data, it would be already be useful just to have an independently computed decomposition of the dimensions of each of the spaces into Hecke orbits, along with the degrees of the coefficient fields and their labels in the LMFDB when the degree is small enough.  We could use this as a crude sanity check on the data (I know you have already point

[2016-05-17 11:20] JohnCremona commented on #1248
If it were practical to have partial information for these "hard" case newforms, so that on the newform page it could show most of the newforms data, including the degree of the Hecke field if not its defining equation, but not the q-expansion, that would be a lot better than saying nothing.  I can imagine page similar to
http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/12/1/b/
where at the t

[2016-05-17 11:45] AndrewVSutherland commented on #1248
@JohnCremona I agree, in fact I might argue that we should do that even in cases where we do have the q-expansion but it is too large to display in any reasonable fashion, e.g.

http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/38/1/a/

This page takes a very long time (10-20 seconds) to load, and the screen appears to be blank after it does (the coefficients are there, but you have to scroll

[2016-05-17 11:52] JohnCremona commented on #1248
@AndrewVSutherland That is a good example indeed -- on my desktop it takes an absurd length of time to render the q-expansion (stil on 35%, much slower than on yours!).
Perhaps we should make your proposal more widely?

[2016-05-17 12:14] jwbober commented on #1248
I put some data that I had up at a link I posted on somewhere on this or
another issue. I have some more now which I'll post tonight, possibly in a
more useful way.

Also I realized while walking to work that I may be doing way more work
than I need to be doing. Maybe after actually giving some thought to what
I'm doing I can identify orbit structure much more quickly.

@jwbober <https://github.co

[2016-05-17 12:17] sehlen commented on #1248
I think we agreed at Aim last week that we will truncate / hide such
q-expansions. This is coming up once I cleaned up things properly
(Because it's only really useful if the page will load faster (not only
render) which will depend on having smaller records for displaying the
pages which I'm working on)
Maybe I should have created an issue ;-)

On Tue, May 17, 2016, 07:52 John Cremona <notificati

[2016-05-17 12:22] JohnCremona commented on #1248
OK , I suppose that if alpha is a_2 (coefficient of q^2) and generates the field then we might as well show tha q-expansion as q+\alpha q^2+\dots where the coefficient field is Q(alpha) and alpha satisfies (some polynomial) as that does convey slightly more information than just saying what the coeffieicnt field is as it tells you a_2.   How often does a_2 generate the field?
I don't know why Sage

[2016-05-17 12:55] sehlen commented on #1248
BTW, I also have magma running to compute this high degree space since
yesterday evening (after our discussion) and it's still running.

On Tue, May 17, 2016, 08:14 Jonathan Bober <notifications@github.com> wrote:

[2016-05-17 12:56] AndrewVSutherland opened #1385 "Display partial information on classical modular form pages"
_Edited per the discussion below_

In cases where the coefficients of the Q-expansion are too large to reasonably display, as on

http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/38/1/ http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/23/38/1/a

for example, don't display the q-expansion but just give information about the coefficient field (a link to the field if it is in the LMFDB, and i

[2016-05-17 12:59] AndrewVSutherland commented on #1248
OK, I opened a separate issue for this, because I think it is something we can work on in parallel and possibly address more quickly.  Feel free to comment at https://github.com/LMFDB/lmfdb/issues/1385.

In order to keep the discussions productive and avoid duplication, lets focus in this thread on the problem of computing and verifying the data, and use #1385 to discuss what information should be

[2016-05-17 13:04] sehlen commented on #1385
It does not make sense to restrict to a_2 as this might vanish. Moreover,
it might not be of the form alpha where Q(alpha) is the coefficient field
in the data that we computed. We have to distinguish several cases and I
would rather vote for hiding the q-expansion by default in those cases.

On Tue, May 17, 2016, 08:56 Andrew Sutherland <notifications@github.com>
wrote:

[2016-05-17 13:04] AndrewVSutherland commented on #1248
@jwbober regarding https://github.com/LMFDB/lmfdb/issues/1248#issuecomment-219699826: great, as soon as you post this data I can put a script together to compare it against the data currently in mongo db, and we can also take about partially filling in missing entries (as suggested in #1385).

[2016-05-17 13:05] sehlen commented on #1385
But there is another issue with this, namely that pages take long to load
(before they get the chance to render) because the record is large. Please
assign me and I can offer a fix for both issues today or tomorrow for
people to test.

On Tue, May 17, 2016, 09:03 Stephan Ehlen <stephan@die-ehlens.de> wrote:

[2016-05-17 13:06] sehlen commented on #1248
@AndrewVSutherland, @jwbober, I think Bober has such a script. Maybe you
could add it to the repository?

On Tue, May 17, 2016, 09:04 Andrew Sutherland <notifications@github.com>
wrote:

[2016-05-17 13:25] AndrewVSutherland commented on #1385
@sehlen (https://github.com/LMFDB/lmfdb/issues/1385#issuecomment-219710846) Good point, and I think you are right that we don't want to complicate things.  So for the moment we could just have two cases

- Display everything as we do now (coefficients and information about the coefficient field)
- Display no coefficients (with a download button if they are available) and give information about the

[2016-05-17 13:26] AndrewVSutherland commented on #1248
On 2016-05-17 09:07, Stephan Ehlen wrote:

Will do.

[2016-05-17 14:15] AndrewVSutherland commented on #1237
See related issue #1385

[2016-05-17 14:17] sehlen commented on #1385
@AndrewVSutherland  Absolutely, that's exactly what I wanted to (will) do.

[2016-05-17 14:17] AndrewVSutherland commented on #1237
Perhaps this should be merged with #654?

[2016-05-17 14:18] AndrewVSutherland commented on #654
Perhaps this issue should be merged with #1237

[2016-05-17 14:20] AndrewVSutherland commented on #1228
This appears to be fixed.  I will be opening a new issue related to displaying fields on modular forms pages, but this specific code issue can be closed.

[2016-05-17 14:20] #1228 closed

[2016-05-17 14:26] sehlen commented on #654
I think these are two separate issues.
This one here is not so much about the display itself but about the data being converted, i.e. find a nicer basis for the number field so that the coefficients become simpler (as expressed in terms of that basis). The other issue #1237 is imho more about how to display the data that has been computed in cases where it just is to complicated to be human-readab

[2016-05-17 14:26] sehlen commented on #1228
Oh, indeed, I fixed it last week but forgot about the issue. Sorry.

[2016-05-17 14:27] sehlen commented on #1228
Oh and let me mention that it always worked. I think that's because the file we imported imported the correct one ;-)

[2016-05-17 14:34] AndrewVSutherland commented on #654
OK, lets keep them separate (and FWIW I don't think Magma is much better at this, if anything is likely to help it is probably Pari).  I am in the process of writing up a separate issue, which is how we identify the coefficient field, where we can easily do something much better than what we are are doing now (but this is a separate issue from choosing a basis that gives nice q-expansion coefficie

[2016-05-17 14:37] sehlen commented on #1334
As for the download part: there is a download option for the q-expansion and embeddings.

[2016-05-17 14:39] sehlen commented on #654
What do you mean with "identify the coefficient field"? Do you mean finding the lmfdb-label?
Because we do use a custom method using pari that's in the modforms-db repository at computation time and not the one that can be found in the lmfdb code. It builds on Nicolas Mascots pari code that can also be used to make pretty coefficients (if it terminates).

[2016-05-17 14:50] AndrewVSutherland opened #1386 "Identifying coefficient fields on classical modular form pages"
In cases where the coefficient field of a classical modular form is in the LMFDB we should identify it (this should be done in the database, not on the fly).  In cases where it is not we should list the polredabs() of its defining polynomial so that it can be more easily identified (and if it later appears in the LMFDB, it will be easy for us to detect this).  For example, the space

http://beta.l

[2016-05-17 14:51] AndrewVSutherland commented on #654
@sehlen, see #1386

[2016-05-17 14:54] sehlen commented on #1386
We don’t use the poly_to_field_label anymore but we do compute the lmfdb label at computing time and store it in the database.
It is never done on the fly (unless there is a bug) and I think we can remove it from emf_utils (I might have done it in my cleanup, I will check and otherwise do so).

Since this can sometimes take quite a while, we restricted ourselves to degree <=4, I think.
This can ea

[2016-05-17 14:59] AndrewVSutherland commented on #1386
@sehlen Great, we should definitely do this.  If this is time consuming I can easily run it for you and just hand you a list of pairs (hecke_orbit_label, number_field_label).  Would that be helpful?

[2016-05-17 15:18] davidfarmer opened #1387 "Proposal for partially known labels"
We have the possibility of classical modular forms computed numerically, outside the range where
we can obtain algebraic expressions for the coefficients.

If I understand correctly, we may not know the Galois orbits, so we would only know
part of the label of the form.

This is comparable to high-rank elliptic curves, or the curves in the Stein-Watkins database:
we have not put them in the LMFDB

[2016-05-17 15:27] AndrewVSutherland opened #1388 "Slow elliptic curve search pages due to missing indexes or queries that do not take full advantage of them"
There are a number of searches on the top level elliptic curves pages that are much slower than the should be, for example if you go to http://www.lmfdb.org/EllipticCurve/Q/ and just click "search" it takes 5-10 seconds; the reason is that there is not an index setup for the sort order used on the display page (FWIW, this exact use case shows up frequently in the google analytics).

Many other bas

[2016-05-17 15:41] AndrewVSutherland commented on #1376
I have implemented and tested an update script that will copy the 11 collections listed in https://github.com/LMFDB/lmfdb/issues/1376#issuecomment-219427012 from warick (beta) to the cloud (prod).  This process takes an hour or two, but the code is implemented so that the changes will appear "instantaneously" at the end of the process via collection renaming, and it should be safe to run on the li

[2016-05-17 17:54] AndrewVSutherland commented on #1388
Most of the queries on http://www.lmfdb.org/EllipticCurve/Q/ are sped up substantially by adding an index that caters for the sort used to produced the results page (('conductor', ASCENDING), ('iso_nlabel', ASCENDING), ('lmfdb_number', ASCENDING)).  This speeds up an empty search by a factor of about 30 (and any search with a large list of results is similarly sped up), compare

12.3s http://beta.

[2016-05-17 19:44] JohnCremona commented on #1388
Merged to master and about to merge into beta and prod.
Must look at analagous issues for ecnf and genus2 (both making sure that torsion_order is there when torsion_structure is, and that these indices are in).

[2016-05-17 19:54] AndrewVSutherland commented on #1388
I checked and there isn't much of a performance issue in either case, but no reason not to make the same change, which I will do.

The moral here is to never use an array for a field you want to search on.  Which is silly, because it would be really easy for mongo db to support an efficient index on arrays that just treats them as strings (might not do what you want as far as ordering, but would s

[2016-05-17 20:18] JohnCremona commented on #1388
The torsion_structure field is itself stored as a list of strings so that should be changed to a single string.  I can add that to the script I am developing which is already changing ainvs from a list of strings to a single string (with code adjusted so it works ok with both versions).

[2016-05-17 20:28] AndrewVSutherland commented on #1388
@JohnCremona Good.  I will do the same for genus2 curves.  The irony here is that I original *did* store them as a single string and changed this when David Farmer asked me to do the same for the list of Euler factors (but of course this issue is only relevant when you want to index the entire array as a unit; if we every do want to search on Euler factors at small primes we will want make them se

[2016-05-17 21:53] AndrewVSutherland commented on #1388
The mongo commands

db.curves.createIndex({'conductor':1,'iso_nlabel':1,'lmfdb_number':1})
db.nfcurves.createIndex({'field_label':1,'conductor_norm':1,'conductor_label':1,'iso_nlabel':1,'number':1})

were just executed on atkin.warwick.ac.uk.  The time to display the first 100 of a large set of search results dropped from 5-10s to under 250ms.  Edgar will apply the same updates to www.lmfdb.org la

[2016-05-17 22:26] sehlen opened #1393 "deprecated import in Hilbert modular forms breaks in sage 7.2"
the file lmfdb/lmfdb/hilbert_modular_forms/hilbert_modular_form.py has this import:
[code]
This has been deprecated for a while and now in sage 7.2 this file has finally been removed (I am getting annoyed by this, they are so aggressive, but this shows that we should really react fast if we see a deprecation warning).

I didn't change it because I don't know which sage versions people are using an

[2016-05-17 22:31] AndrewVSutherland commented on #1376
@sehlen

It appears there are still some problems with the data, see:

http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/10/38/1/
http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/14/36/1/
http://beta.lmfdb.org/ModularForm/GL2/Q/holomorphic/17/22/1/

The first two pages are blank and the second gives an error message.  For the rest I can at least confirm that the dimension decomposition in agr

[2016-05-17 22:36] AndrewVSutherland commented on #1393
Already noted in #1332, closing as duplicate (not your fault @sehlen, there are so many open issues it's easy to duplicate).

[2016-05-17 22:36] #1393 closed

[2016-05-17 22:37] sehlen commented on #1393
ooops, sorry, didn't search for the right thing ;-)

[2016-05-18 00:49] jwbober commented on #1248
I just updated the data at http://www.maths.bris.ac.uk/~jb12407/newform-fields/. (See the README file, or http://www.maths.bris.ac.uk/~jb12407/newform-fields/newformfields.83.4 for my earlier fun example.) It is still incomplete, and not very convenient, but that's all I'm going to do for tonight.

I think it may always be incomplete, even in the fairly small range covered (already, identifying so

[2016-05-18 00:49] jvoight commented on #1332
Sorry all--my guess is that it can be removed, but back in the day I was told to use it, so I did!

To make this quicker, note that only lmfdb/hilbert_modular_forms/hilbert_modular_form.py is actually part of the LMFDB code base (the rest are import scripts), and preparse isn't used in the file so we could just remove one line.

[2016-05-18 01:06] AndrewVSutherland commented on #1248
@jwbober This is wonderful!  In terms of comparing these with existing LMFDB entries, I guess I need to know (1) are you labeling characters in the same way (Conrey labels), and (2) do you know how to match up your Hecke orbits with those in the LMFDB (which according to the knowl are lexicographically ordered by coefficient trace sequences)?

[2016-05-18 01:12] AndrewVSutherland commented on #1247
I ran through the google analytic logs pulling out the slowest pages that were being accessed regularly by our users:  here are some of the worst offenders, 2 of which should be addressed by the indexes Edgar is adding tonight.  I plan to take a look at the rest tomorrow to see if there are any easy fixes (e.g. adding an index):

http://www.lmfdb.org/NumberField/?ram_primes=11 (+ many similar quer

[2016-05-18 01:18] jwj61 commented on #1386
I have not read this whole thread, but thought I might be able to add something anyway.

The key to lookup in the number field database is polredabs.  In modest degrees, it works great.  In middle ranges, I often do something like the current polredbest first.  Getting the coefficients down somewhat first definitely helps.

If you have polredabs, I would store the coefficients.  Webnumberfield has

[2016-05-18 01:30] jwj61 commented on #1247
For the Artin L-function, it looks like the corresponding Artin representation page loads quickly.  The Artin L-function code will be revised when the L-function data goes in the database.

[2016-05-18 01:31] jwbober commented on #1248
I am labelling characters the same way. There is some extra character
information included in my labels, though, because the embeddings include a
specific [embedding of a] character from the Galois orbit of each
character. In principle, the character orbits could probably be deduced
from those files (because any Galois orbit over Q has to include at least
one embedding of each character), but you

[2016-05-18 01:33] edgarcosta commented on #1247
lmfdb.org is now running with the new indexes.

[2016-05-18 01:36] jwj61 commented on #1247
On the number field search, I created an index on warwick for just ramified primes.  I guess you can test timings on beta vs the main site.

[2016-05-18 01:49] AndrewVSutherland commented on #1386
@jwj61 Right, I actually have a sage script running now that is attempting to polredabs the coefficient fields of all the coefficient fields that arise for levels N <=24 and weights 2 <= w <= 40 with trivial character.  The degrees range up to 37, so not all of these will be in the LMFDB right now, but storing the coefficients is a great idea.

As we go further it will surely become infeasible to

[2016-05-18 01:53] edgarcosta commented on #1247
@jwj61 Do you have any idea why is http://www.lmfdb.org/NumberField/?degree=2  so slow?

The indexes are all there, but the following command still takes forever:
`2016-05-18T01:52:17.209+0000 I COMMAND  [conn345] command numberfields.fields command: count { count: "fields", query: { degree: 2 } } planSummary: COUNT_SCAN { degree: 1, ramps: 1 } keyUpdates:0 writeConflicts:0 numYields:28285 reslen:

[2016-05-18 01:59] edgarcosta commented on #1247
@AndrewVSutherland
These two
http://www.lmfdb.org/EllipticCurve/browse/
http://www.lmfdb.org/EllipticCurve/browse/6/
didn't get faster.

Both of them do a lot of calls to the db, none of the calls takes forever, however a bunch of them still take enough time to show up in the logs:
[2 requests for EllipticCurve/browse/](https://gist.github.com/edgarcosta/428ab05b2b8e17cee4db19c089b6c73c )
[2 reque

[2016-05-18 02:00] AndrewVSutherland commented on #1248
@jwbober If it's not much additional work (I'm guessing you might already have to do this much work to get the coefficient field anyway), do you think it would be feasible to include the traces of the first n Fourier coefficients (for some reasonably small n that is big enough for us to expect these will distinguish the Hecke orbits, maybe 20 or 100?).  These would also provide a nice way to compa

[2016-05-18 02:22] AndrewVSutherland commented on #1247
@jwj61 I don't know why http://www.lmfdb.org/NumberField/?degree=2 is slow.  Edgar and I looked at this earlier today, and I can tell you that a large amount of the time is in the call fields.find({'degree':int(2)), and as you said there is an index on degree.  This should be faster.

The index you added on the field 'ramps' definitely helped, compare:
http://beta.lmfdb.org/NumberField/?ram_primes

[2016-05-18 02:50] sehlen commented on #1386
@AndrewVSutherland Are you sure your example is correct? How did you identify it?
I changed our computing routine to not have an upper bound on the degree for now but a timeout of currently 3 minutes as we don't want to get stuck in computing the label. I can adjust that.
I'm getting a negative result as according to my computation the discriminant of the number field is
[code]

What we do (follow

[2016-05-18 03:04] edgarcosta commented on #1247
Now also on lmfdb.org

@AndrewVSutherland I agree that the solution is precomputation

[2016-05-18 03:11] sehlen commented on #1386
@jwj61 Thanks for weighing in on this.
We had a longer discussion about this in December and Nicolas Mascot had some great ideas and illustrated how his function could be used to find an isomorphic number field that is in the db which we could then also use to simplify the coefficients of the Fourier expansion.
We haven't applied the second part of his method yet as it requires more testing and I'

[2016-05-18 03:29] jwj61 commented on #1386
poly_to_field_label in the number field code simply calls from_polynomial in WebNumberField, which in turn calls polredabs.  If you want to determine if a field is in the number field database at that instant, your approach sounds reasonable.

The approach I was suggesting has the advantage that you do the computation once, and then the only thing done on the fly is the database lookup.  Moreover,

[2016-05-18 03:35] jwj61 commented on #1247
For the ramification situation, I am aware of the indexing situation, but this is a case where we often make use of its flexibility, since we allow searches where certain primes are in the set of ramifying primes (but not all of it), or not in it (the unramified search field).

On degree 2, the issue may be that 600,000 search results is the problem?  It is worth checking that the sort matches an

[2016-05-18 04:26] edgarcosta commented on #1247
I think I understand it a bit better, each query can only use one index, and in this case it is using the index { degree: 1, ramps: 1 }, and perhaps ramps being a multikey index is slowing it down.

[2016-05-18 04:43] jwj61 commented on #1247
The search with ?ram_primes=11 was not specifying the degree, so the index you mentioned was not used.  So, earlier today I made an index for just ramps, which sped it up considerably.

If it is considered a priority, we could speed up searches which specify _all_ ramified primes but adding another entry to the database, but there is not much we can do about searches which involve some ramified pr

[2016-05-18 07:48] JohnCremona commented on #1388
Excellent.  When I added the iso_nlabel fields to enable sorting (since the letter-based codes give the wrong ordering when sorted lexicographically) I did not make a new index to match.  That was my fault and would have resulted in this slow-down.  Using git blame I see that I did this on Oct 23, 2015.

[2016-05-18 07:49] JohnCremona commented on #1376
For me now they all look good.  (08:48 BST Wednesday 18 May)

[2016-05-18 07:50] JohnCremona commented on #1393
I'm making a comment on #1332

[2016-05-18 07:54] JohnCremona commented on #1332
OK let's do that.  Preparsing is designed only for the Sage command line so that users can type a^2 instead of a**2 and should not be used in library code (in my opinion).   One might think that (for example) it's a useful way to convert a polynomial as a strong from Magma output into Sage, but Sage itself provides conversion from Magma oblects to Sage objects, and can contruct polynomials from st

[2016-05-18 07:56] sehlen commented on #1376
Yep, I fixed them.
I also ran a couple of automated checks on the whole range and they should all be fine now.

[2016-05-18 07:56] sehlen commented on #1376
If this takes a while to update, it might be worth waiting a bit because there will be more updates including a larger code update from me.

[2016-05-18 11:24] AndrewVSutherland commented on #1386
@sehlen (regarding https://github.com/LMFDB/lmfdb/issues/1386#issuecomment-219911718) Apologies! That was due to a cut and paste error and you are absolutely right, that field is most definitely not in the LMFDB (nor likely to be any time soon!).  I have updated my initial comment to give another (much less extreme) example which illustrates the same point.

Actually, in most of the cases I have l

[2016-05-18 11:58] edgarcosta commented on #1247
@jwj61 I was talking about:  http://www.lmfdb.org/NumberField/?degree=2, this one is using the index { degree: 1, ramps: 1 }, and I don't really understand why.

[2016-05-18 13:30] JohnCremona commented on #1332
PR #1396 (now fully merged) fixed the redundant import in hilbert_modular_forms.py.

I will record any deprecation warnings shown in the test scripts and also grep for "sage.rings.arith".  Outcome: just 4 places, LCM in HeckeCharacter.py, primes in number_field.py, binomial in symL.py, lcm and gcd in hypergm/plot.pt.  In all cases I could just switch the import to be from sage.all.  I think there

[2016-05-18 13:38] JohnCremona commented on #1376
I am not sure if this Issue is the right place to report this, but having run Drew's new emf_test_pages several times today I can report that there is a failure:

...
Checking ModularForm/GL2/Q/holomorphic/2/10/1/a/
Label 2.11.3 does not match level=2, weight=11, character=1
Checking ModularForm/GL2/Q/holomorphic/2/11/3/ (0 Hecke orbits, total dimension 0)
Failed on ModularForm/GL2/Q/holomorphic/2

[2016-05-18 13:38] sehlen commented on #1386
Well, @AndrewVSutherland, we could polredabs the polynomials but note that we currently do not just give any generator of the number field but of course the one appearing in the q-expansion. So just applying polredabs is not enough. The code that I shared does more, it changes the coefficients and that has to be done in one way or the other. But it is not clear at all that if we take a generator w

[2016-05-18 13:45] sehlen commented on #1386
Let me add that I have seen both cases when testing our routine.
Most of the time the coefficients seem to get better, at other times worse.

But I have an idea that might work in almost all of the cases, I just have to see why or get enough counterexamples:
We're in fact storing the output of the compact_system_of_eigenvalues method of the modular symbols space in sage. It consists of a matrix E

[2016-05-18 13:50] sehlen commented on #1376
Sorry, is the first one for 2/10/1/a an error? I cannot see what;'s wrong with that.
And 2/11/3 is not a valid input anyway. I guess there's a record that I should delete but it's certainly not reachable from the website.

[2016-05-18 13:51] AndrewVSutherland commented on #1376
@JohnCremona Yes this is the right place to report this and the case you found was already noted in https://github.com/LMFDB/lmfdb/issues/1376#issuecomment-219420011.  It's harmless in the sense that there is no way for the user to see the problem (if they go to http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/2/10/1/a/ they will see the right thing, and 2.11.3 is not even a valid label), but th

[2016-05-18 14:03] JohnCremona commented on #1386
@sehlen William and I came up with this method of storing E and v where the matrix E was potentially huge but the entries of v were much much smaller, instead of storing the product.  That was in the early 2000s when he was still working in Magma or even possibly C++.  As well as taking up far less storage space it enabled one to "see" the newforms much more compactly once the nasty change-of-basi

[2016-05-18 14:51] jwj61 commented on #1247
The way I understand indeces is as follows: internally, they are essentially a sorted list of pointers to database records.  (The sort may be stored as something like a binary tree for faster traversing, but it is still a sort.)

If you make a compound index, say first degree and then signature, then it sorts by degree, and breaks ties by signature.  The database should then not need an index for

[2016-05-18 15:04] AndrewVSutherland commented on #1247
@jwj61, @edgarcosta Checkout http://www-central3.lmfdb.xyz/NumberField/?degree=2

I just deleted the index degree_1_ramps_1 and recreated it.  And shazam, it's under 0.5s.

Yet another reason to consider rebuilding all the indexes (issue #1294)

And @jwj61 I agree with your analysis, mongodb is doing something here that doesn't really make sense, and it really should favor the index degree_1.  I a

[2016-05-18 15:08] AndrewVSutherland commented on #1247
Dropping the index sped things up substantially, try http://beta.lmfdb.org/NumberField/?degree=2.

@jwj61 shall I add the index back in (this may make the numberfields.fields collection unavailable for a few minutes on atkin)

[2016-05-18 15:12] JohnCremona commented on #1332
See PR #1399

[2016-05-18 15:13] jwj61 commented on #1247
Sure.

[2016-05-18 15:18] jvoight commented on #437
Comment from Alan Lauder about his data:

=====
Just to clarify a little the point I made to you on the representation of weight one newforms:

Each form is given as a pair [f,eps_data] where f is the q-expansion of the form over some field K to an "optimally chosen" precision q^m, and eps_data describes the character eps of the form via its image on generators for (Z/N)^* (N the level).

My point

[2016-05-18 15:21] AndrewVSutherland commented on #1247
In progress now, best not to access number field pages on beta.lmfdb.org for a few minutes (it may force the lmfdb client to disconnect because of a timeout)

[2016-05-18 15:24] AndrewVSutherland commented on #1247
Done and still fast even with the index back.

So the issue here may have more to do with the state of the indexes than anything else.  @edgarcosta we should come up with a plan for https://github.com/LMFDB/lmfdb/issues/1294 and try it out on atkin first to get a sense of how long it will take.

One could argue that it would be worth waiting until we have a documented manifest of all the indexes t

[2016-05-18 15:30] AndrewVSutherland commented on #618
@JohnCremona Can we close this?

[2016-05-18 15:30] sehlen commented on #437
Thanks for the info @jvoight

[2016-05-18 15:35] JohnCremona commented on #618
Perhaps @davidfarmer should decide.  I don't know where the branch referred to is.

[2016-05-18 15:47] AndrewVSutherland opened #1403 "Documenting and maintaining index information"
As we have seen (see issues #1247 and #1388, for example), the presence or absence of indexes can have a huge impact on the performance of the lmfdb, and we have recently added several new indexes that have substantially improved page response times.  It has also become clear that there are indexes currently in place that are out of date and no longer needed, or indexes that we will want to change

[2016-05-18 15:53] JohnCremona commented on #1403
People may need to be told how to find out what indices tere are (and how to interpret the output).  It's not enough to look for indexing function in the visible scripts since many will have been done in interactice sessions.
A script I was running to go through ell elliptic curve (/Q) entries and add some fields was so slow earlier today that the db kept on timing out (something about replication

[2016-05-18 16:04] AndrewVSutherland commented on #1403
@JohnCremona Good point.  In pymongo one can use the .index_information() method to get a list of all the indexes currently defined on the collection.  For example if conn is the connection returned by MongoClient you could type

conn.sato_tate_groups.st_groups.index_information()

to see the list of indexes that are now documented in https://github.com/LMFDB/lmfdb-inventory/blob/master/db-sato_ta

[2016-05-18 16:24] AndrewVSutherland commented on #1386
So there are two separate issues here, both of which are worthy of discussion, but only one of which is directly relevant to the topic of this thread (issue #1386), which is about identifying the coefficient field of a classical modular form; this is an arithmetic invariant that anyone interested in the modular form might like to know, independent of how we choose to represent the coefficients (an

[2016-05-18 16:33] AndrewVSutherland commented on #1386
@sehlen I'm working now on computing the polredabs() polynomial for all the coefficient fields that arise in the 1<= N <= 24, 2<=w<=40 box with trivial character, but I want to incorporate some of @jwj61's suggestions to speed it up.  I'll let you know how it goes.

[2016-05-18 16:36] sehlen commented on #1386
@AndrewVSutherland
Very good, we can add this as an additional field to the db, then we have it and maybe it makes indeed sense to query the field at runtime instead of storing it but I always prefer stored solutions if it is very easy to update (and if we do have the polredabs, it is). But we could test, how fast the lookup really is and if it is virtually no delay, we could indeed look it up on

[2016-05-18 16:52] edgarcosta commented on #1289
Sarunas, in reply to:

said:
In my opinion, this could be one of the high-priority tasks in client
development, i.e. not quitting, just because DB is not reachable.

[2016-05-18 16:53] davidfarmer commented on #618
In my original issue I said "It would be good to discuss how such search results should be ordered."

I still think it should be discussed.

My point was that (to a naive user) it seems odd to search on a range in a field
(In this case the conductor norm) and then not have the results sorted according to the
value of that field.

I added "feature request" as a label, meaning I am okay with leaving

[2016-05-18 17:04] sehlen commented on #1248
@jwbober Actually, Magma is better than I thought. Using not too much Ram (top shows 5.6g) it has been able to compute this space and seems to have taken around maybe 1.5 days (I didn't time it and there are so many commands I don't know in Magma ;-). Anyway, I'm saving it to a file now and come back to you once I know the minimal polynomial of a(2). I already printed it but on the stupid machine

[2016-05-18 17:05] AndrewVSutherland commented on #618
@davidfarmer Sorry I interpreted John's earlier response as addressing the issue.

As a contribution to the discussion I might add that I think it seems even more odd (even to users that are not so naive) that results for elliptic curves over Q are not included.

[2016-05-18 17:11] sehlen opened #1404 "Make very large data files available for download"
We have the possibility to download Fourier expansions etc for modular forms but when the download gets too large, I've seen the server time out, probably getting the file from the gridfs file system.
I haven't debugged this carefully and don't have an example at hand right now as I'm working on a lot of stuff at the same time but I wanted to start a discussion how to deal with such data in genera

[2016-05-18 17:34] AndrewVSutherland commented on #1404
Provided the cost is reasonable, I like this idea.  It could also greatly reduce the amount of storage needed for the mongo db.  Another plus is that if someone wants to do computations with the data in GCE, access to GCS is very fast (much better than pulling it down to your own machine and then pushing it back up to the Google cloud).

[2016-05-18 17:46] davidfarmer commented on #618
It could be useful to explain the current ordering on the page where the results are returned,
but the more I think about it the more it makes sense to me to first order by conductor norm,
and then by the field.  Take an extreme case: show me all the elliptic curves in the database.
You will only ever see the curves over the first field listed.

I realize that when people search for curves they do

[2016-05-18 17:51] AndrewVSutherland commented on #1289
@edgarcosta what exactly needs to be done here?  Would it be enough to just tweak the auto reconnect settings in https://github.com/LMFDB/lmfdb/blob/master/lmfdb/base.py? (see lines 72-103).  It currently it retries 10 times with delay of 1s, which seems way too few (and I don't see why we couldn't just have it retry forever, kill it if you want it dead).

Keep in mind that when you and Sarunas us

[2016-05-18 17:55] AndrewVSutherland commented on #1386
I think I would still store the LMFDB label when it is known.  Since so
many of them will not be in the LMFDB it might make sense to always
display the polredabs poly for consistency (with a link to the number
field page when it is there).

On 2016-05-18 12:36, Stephan Ehlen wrote:

[2016-05-18 17:59] sehlen commented on #1386
Well, I think it definitely makes sense to show the polynomial that is the minimal polynomial of the Fourier coefficients if they are shown.
That would mean, if we show them, you want to show two polynomials.
This could be ok.

I am close to finishing what I promised which will address many of the issues with classical modular forms but I have not found invested much time in improving the display

[2016-05-18 18:13] AndrewVSutherland commented on #1386
On 2016-05-18 13:59, Stephan Ehlen wrote:

Yes, in cases where we display the q-expansions we will want both.  In
cases where we do not we would only display the defining polynomial for
the number field.

One suggestion would be to remove the q-expansions from the page for the
space and only put it on the form page.  I realize that for the low
level/weight examples its nice to see the q-expansion

[2016-05-18 18:16] edgarcosta commented on #1404
What sizes are we talking about? Total and each file size.

The riemann zeta zeros and the class groups of quadratic imaginary fields
are already on standard buckets, 3.3 TB.

I'm unhappy with this solution, specially with respect with class groups of
quadratic imaginary field.
For example, according to google analytics, since the link exists, March
2015, 82 people visited:
http://lmfdb.org/Number

[2016-05-18 18:17] sehlen commented on #1386
All fixed in my new branch, as I said, pull request is coming up but I need to improve it a bit further and test it more.
Nothing will be slow to load anymore although I’m very flexible in discussing how this should be displayed exactly.
Right now I sticked to the current layout and I’m just hiding the q-expansions individually that have too “complicated” coefficients using a stupid heuristic.

Go

[2016-05-18 18:20] AndrewVSutherland commented on #1386
@sehlen No worries, I won't touch the code until you are finished and
your pull request is merged.

On 2016-05-18 14:17, Stephan Ehlen wrote:

[2016-05-18 18:30] edgarcosta commented on #1247
@AndrewVSutherland tell me what to do on the DB and I will take care of it.

[2016-05-18 18:34] AndrewVSutherland commented on #1247
@jwj61 (regarding https://github.com/LMFDB/lmfdb/issues/1247#issuecomment-219923826) Looking through the google analytics pages for the last week, among the queries with ram_primes non-empty, it looks like ram_quantifier=all was set on about twice as many page views as ram_quantifier=some.

There were only a few hundred in total, so I'm not sure how good this sample is, but it's clear that ram_qua

[2016-05-18 18:34] AurelPage commented on #618
If the ordering is by conductor norm and you ask for all elliptic curves, don't you still obtain the extreme case where you only ever see curves with everywhere good reduction? (but maybe this extreme case will not be very visible in a finite database)

[2016-05-18 18:38] AndrewVSutherland commented on #1247
@edgarcosta In the immediate term, rebuild the index degree_1_ramps_1 on numberfields.fields.  In the slightly longer term, we should test (e.g. on ms1) how long it will take to rebuild the indexes on every collection in every database (and verify everything works correctly when we are done).  If we conclude that is a reasonable thing to do, then we could do the same thing on ms (swapping out with

[2016-05-18 18:38] edgarcosta commented on #1247
@jwj61 What you said is very much in line with https://docs.mongodb.com/manual/tutorial/sort-results-with-indexes/#sort-and-index-prefix

I think what happened here is that it had (A, B) and (A, C) indexes, and it prefered (A,B) vs (A,C) for some reason that I don't understand. Perhaps by the order it showed up?

[2016-05-18 18:39] sehlen commented on #1404
@edgarcosta I don't know yet. It depends on how far we want to and can push our computations.
But here is an example:
We always compute the modular forms up to the precision that is needed for the L-functions (someone thought about this at some point, not me). Anyway, for the form 92.10.91.c that I just computed, we need 500 coefficients and the total record including all algebraic Fourier coeffic

[2016-05-18 18:48] edgarcosta commented on #1247
@AndrewVSutherland
To be clear. You want me to (1) or (2):

1.  db.fields.reIndex()
2. db.fields.dropIndex({ 'degree': 1, 'ramps': 1 }; db.fields.createIndex({ 'degree': 1, 'ramps': 1 });

I think they aren't equivalent.

[2016-05-18 18:51] AndrewVSutherland commented on #1247
I was assuming (1), but in fact I did (2) (which would be a pain to do everywhere).  How are they inequivalent?

On May 18, 2016 2:49:01 PM EDT, edgarcosta <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-05-18 18:55] JohnCremona commented on #1248
Stephan, feel free to use atkin or lehner which have magma and 64g each.

On 18 May 2016 at 18:04, Stephan Ehlen <notifications@github.com> wrote:

[2016-05-18 18:59] edgarcosta commented on #1294
An possible easy solution for this, is to do it whenever you decide to change from MMAPv1 to wiredtiger.
There are two options, using the replica set, or doing it with dumps and restores.
The first doesn't require any human effort, and I think I'm happy paying the 1TB of traffic for not dealing with the dump and restore.
I have already done it in the cloud. Feel free to read more about it here:
ht

[2016-05-18 19:02] edgarcosta commented on #1247
(2) puts the index { 'degree': 1, 'ramps': 1 } at the end of all possible indexes. I'm afraid that it makes a difference.

I will try to prove my point by doing (1) and then doing (2) on ms.lmfdb.xyz.

[2016-05-18 19:04] JohnCremona commented on #618
@AurelPage that's already 497 curves (so far) hence the first 10 pages.  I think that if a used does a search which results in hundreds of matches we can hardly guess which 20 they want to see at the top of the list.  That's why we have a "further refine search" option.

@davidfarmer sorting the results according to which fields were in the query is going to be very complicated indeed.  This one c

[2016-05-18 19:07] sehlen commented on #1248
Thanks, John!

Memory does not seem to be an issue right now.
I’m still writing the file, I guess it’s going to be several Gigabytes and I hope that it does write the file.
I’m on a machine where I have 94GB RAM and 16 Intel(R) Xeon(R) CPU X5570@ 2.93GHz (those might be 8 in fact but it doesn’t matter),
which should not be much worse than what we have on lehner (more cores on lehner but they don’t

[2016-05-18 19:10] edgarcosta commented on #1404
Yes, GCS is far less. 0.04  vs {0.026, 0.02, 0.01}

On 18 May 2016 at 14:39, Stephan Ehlen <notifications@github.com> wrote:

[2016-05-18 19:25] AndrewVSutherland commented on #618
Related to @AurelPage's point, it would be nice if there existed some ordering of all elliptic curves over number fields for which the displayed search results were a reasonable approximation to a finite prefix.  Ordering by conductor norm would suggest we have no business showing any curves with conductor norm greater than 1 until we have all the conductor norm 1 curves in the database :).

This

[2016-05-18 19:32] AndrewVSutherland commented on #1248
On 2016-05-18 15:07, Stephan Ehlen wrote:

Regarding the MIT machines, I have a 48 core machine with 256GB RAM and
a 64 core machine with 1.1TB RAM; I'm running some of the polredabs
computations on the now, but just let me know when you are ready to use
them and they will be at your disposal (they have Sage 7.1 and Magma
version V2.21-11 on them).

[2016-05-18 19:48] sehlen commented on #1386
I'm getting closer to issuing a pull request but I'm asking for some feedback and maybe some help because I don't have the time to worry so much about html/css issues right now and maybe someone else is faster at this. The following screenshot is a nice example of what can happen and how the pages will look after my updates (many things happened in the background but this is one of the visible thi

[2016-05-18 19:51] edgarcosta commented on #1247
After (1) it went from ~4.5s to ~3s

then I did (2) and it is now at 0.5s

[2016-05-18 19:53] fredstro commented on #1386
That looks good :)
How would you like the whitespace avoided?
Having line-breaks for the polynomials or having them appear behind the box?
I guess they could be made to move up and down when the box is opened and closed….

[2016-05-18 19:57] AndrewVSutherland commented on #1247
@edgarcosta OK, this is unpleasant.  Can you tell me (I'm away from my terminal at the moment), is the single key index on degree now the first among all indexes that start with degree?  If not, I'd be curious to see what happens if you destroy and recreate the ones ahead of it.

[2016-05-18 20:03] sehlen opened #1405 "Fix name of space for classical modular forms"
Go to http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/7/9/3/
and observe that the character is not mentioned in the name S^new_9(7) ;-)
This is due to some errors in the template and I'm fixing it right now.

[2016-05-18 20:08] edgarcosta commented on #1247
Now { 'degree': 1, 'ramps': 1 } is at the end of IndexKeys array, see:
https://gist.github.com/edgarcosta/2c4a5cd65ed8f71f7f701ad6017da962

[2016-05-18 20:15] AndrewVSutherland commented on #1247
Right, and it is now very snappy (400ms on my machine at MIT).  I notice
that {'degree':1, 'discriminant':1} is ahead of {'degree':1}; can you
tell which index it is using?

On 2016-05-18 16:08, edgarcosta wrote:

[2016-05-18 20:15] sehlen commented on #1385
See my proposal at https://github.com/LMFDB/lmfdb/issues/1386#issuecomment-220137693 and my branch https://github.com/sehlen/lmfdb/tree/cleanup_bugfix_efficiency for testing this.

[2016-05-18 20:18] sehlen commented on #1386
I thought it would make sense to either truncate them dynamically or to put them in a div that’s scrollable.
I did this with the minimal polynomial here:

http://130.211.5.157/ModularForm/GL2/Q/holomorphic/92/10/91/c/ <http://130.211.5.157/ModularForm/GL2/Q/holomorphic/92/10/91/c/>

(only online now might be offline later)

[2016-05-18 20:23] davidfarmer commented on #1386
There are a few pages where things go below the properties box.

Not sure if the horixontal scroll would work as well in this
case, because it is a table, not just one big formula.

I suggest leaving it as-is, and submitting an issue.

On Wed, 18 May 2016, Stephan Ehlen wrote:

[2016-05-18 20:25] AndrewVSutherland commented on #1386
Not directly related to what you are working on, but I would put more in
the properties box (label, level, weight, character, dimension, ...),
see  http://www.lmfdb.org/EllipticCurve/Q/11/a/1 or
http://www.lmfdb.org/Genus2Curve/Q/169/a/169/1, for example (obviously
you don't have a picture to display (yet!)).

But feel free to hold off on this, I can fiddle with it after you submit
your pull reque

[2016-05-18 20:27] edgarcosta commented on #1247
It is using: {'degree':1, 'discriminant':1}
see: https://gist.github.com/edgarcosta/68405f6015e131f8f221122685eca1ae

[2016-05-18 20:33] AndrewVSutherland commented on #1247
As you would have predicted.  Can you try dropping and adding
{'degree':1, 'discriminant':1}

On 2016-05-18 16:27, edgarcosta wrote:

[2016-05-18 21:16] edgarcosta commented on #1247
I can do that at night.
Alternatively, you can try it out ms1.

On 18 May 2016 at 16:33, Andrew Sutherland <notifications@github.com> wrote:

[2016-05-18 22:08] AndrewVSutherland commented on #1247
So on ms1 degree_1 comes before degree_1_discriminant_1 and

http://www-central3.lmfdb.xyz/NumberField/?degree=2

takes about 0.42s (average over 10 samples)

But on ms degree_1 comes after degree_1_discriminant_1 and

http://www.lmfdb.org/NumberField/?degree=2

takes about 1.15s (average over 10 samples)

So I say its worth dropping and recreating degree_1_discriminant_1 on m1.

And this gives us

[2016-05-18 22:12] AndrewVSutherland commented on #1247
@edgarcosta (of course I really meant ms not m1, and after separating them, but you know what I mean)

[2016-05-18 22:19] AndrewVSutherland commented on #1294
@edgarcosta I like the no human effort approach.  How long does it take?  Could we do it this weekend?

[2016-05-18 23:48] AndrewVSutherland commented on #1206
This was fixed by #1244 which is now on www.lmfdb.org.  The page http://www.lmfdb.org/EllipticCurve/3.3.1016.1/9.2/b/3 (and others) now shows a plot without any errors.

Closing

[2016-05-18 23:48] #1206 closed

[2016-05-18 23:55] AndrewVSutherland commented on #1300
I don't think this is a backend issue, it's just a matter of changing the html pages for all the browse/search pages to put in a knowl link (and then creating the knowl).  Maybe we need a label for user interface or application issues that are not specific to a particular area and may require changes everywhere?

[2016-05-19 01:04] AndrewVSutherland commented on #1386
@jwj61 So I have been using polredbest(), but polredabs() is still struggling with many of the polynomials, is there any chance you could make your prepolred() function available?

[2016-05-19 01:17] sehlen opened #1407 "Plots of fundamental domains of Gamma_0(N) (and Gamma_1(N))?"
We used to have these nice plots of the fundamental domains (at least of Gamma_0(N)).
We can easily generate them again and I think they should be back in the LMFDB.
When and why was it decided to remove them?

[2016-05-19 01:20] sehlen opened #1408 "Plots of modular forms"
Once we cleared up the remaining data issues, every modular form should get a Lady Gaga picture.
You can assign me but if anyone has a lot of experience in plotting complex_valued functions and knows tricks, I would be happy to have help.

We also have to decide then if we want to only show such a plot on the (to be created, see https://github.com/LMFDB/lmfdb/issues/659) page for a modular form wi

[2016-05-19 01:24] sehlen commented on #659
@jwbober I just thought this might be the natural place where your "numerical modular forms" could live. As long as you know the exact label then appending a number for the embedding would lead to a form with coefficients in "C" and this could either come from embedding the coefficients if known or from numerical computations. If we don't know the exact label, we could have a scheme as proposed in

[2016-05-19 01:33] jwj61 commented on #1404
In regard to class group data, it is good to have a backup somewhere, but why not have the download links point to warwick?  I know it is a change in the code for the cloud version, but overall sounds like it would be preferable.

[2016-05-19 01:34] sehlen commented on #1404
Speed, for instance. If you’re away from the UK, this can also be slow.
And it won’t be unavailable (although I agree it is not a critical service).

[2016-05-19 01:43] jwj61 commented on #1247
Sorry, but I am on vacation with my family, and there are a bunch of posts between this and the comment I am replying to.

In short, I will carry out the thing I suggested and @AndrewVSutherland described to optimize number field searches where the user specifies ramification exactly.

[2016-05-19 01:47] jwj61 commented on #1386
prepolred(pol)=
{
  local(pr, ml2, ans,tmp,orig);
  pr = polred(pol,1);
  ans=[];
  orig=norml2(polroots(pol));
  for(j=1,#pr, if(poldegree(pr[j]) == poldegree(pol), ans=concat(ans,[pr[j]])));
  if(#ans==0, print("prepolred found none");return(pol));
  pr=ans;
  ml2= norml2(polroots(pr[1])); ans = pr[1];
  for(j=2,#pr,
    tmp=norml2(polroots(pr[j]));
    if(tmp<ml2, ml2=tmp; ans=pr[j]));
  if(ml2

[2016-05-19 02:27] edgarcosta commented on #1247
@AndrewVSutherland to add your list
(3) single key indexes should come first

[2016-05-19 04:43] sehlen commented on #1385
Updated, see my pull request https://github.com/LMFDB/lmfdb/pull/1409

[2016-05-19 08:03] JohnCremona commented on #1404
Someone with more expertise than me might know how to code a link which results in going to whichever of two urls is fastest.

[2016-05-19 08:07] haraldschilly commented on #1404
@JohnCremona I just saw this message. what do you consider as "fastest"? For downloading data? In a website, you operate on the layer 7 of the OSI model. You have to be on layer 3/4 to make that decision. So what you have to code is a global load balancer with geographic affinity.

A comment is talking about GCS. That's a global CDN which has this and hence it does it for you. You just have to poi

[2016-05-19 08:09] JohnCremona commented on #1404
I think Harald has just proved himself to be "someone with more expertise than me" (not that proof was needed) since I understood only about 10% of his commet!

[2016-05-19 09:18] AndrewVSutherland commented on #1386
@jwj61 Thanks!

[2016-05-19 09:23] AndrewVSutherland commented on #1247
@edgarcosta I'm not sure I understand your concern.  Yes we want to have indexes to support both searches (.find and .find_one) and sorting (.sort).  As far as ordering the indexes goes, the only time mongo db has a free choice is when the index it ideally should use (e.g. "degree") is a prefix of several. Apparently, when there are several indexes mongo db could use, it just takes the first one -

[2016-05-19 09:46] JohnCremona opened #1410 "add to HMF search include/exclude base-change and CM options"
From sage-support (David Loeffler):
- Could an option be added to the search form at http://beta.lmfdb.org/ModularForm/GL2/TotallyReal/ allowing one to search for examples which are, or are not, base change or CM?

Since both base-change and CM are attributes stored in the
database it will be easy to addthese as options on the search page as
we do for elliptic curves over number fields (with 3 opt

[2016-05-19 09:47] JohnCremona opened #1411 "HMF pages should show narrow class number not just class number"
From sage-support (David Loeffler):

-  the page for each Hilbert modular form specifies the class number of the field; but for HMF's it is the size of the *narrow* class group that is important (e.g. the narrow class number tells you how many components the Hilbert modular variety has), while the usual class number is less relevant. Can we have narrow class numbers on HMF pages somewhere?

@jwj61

[2016-05-19 09:48] JohnCremona opened #1412 "HMF bug in Sage download code"
From sage-support (David Loeffler):
-  if you try to download HMF data to Sage, you get an error, because the Sage script that's created contains the lines

hecke_pol = x^2 - x - 1
K.<e> = NumberField(heckePol)

and there is no such variable as "heckePol". Evidently it should be "hecke_pol" in the second line.

[2016-05-19 10:00] haraldschilly commented on #1404
@JohnCremona yes, I figured after pressing comment, this doesn't help you. what I mean is, that just via writing "high level" code in html, you have no proper control. you have to go deeper to do this how it should be done. these are levels 7 (the website application and html/js) vs. levels 3 and 4 (TCP/IP, the backbone of the internet itself)

[2016-05-19 13:01] jvoight commented on #1411
Right now, number fields do not have narrow class numbers.  I added them just for the fields in hmf_fields, so as a temporary measure we could display those!  But they won't appear in the knowls, or when you go to browse the corresponding number field page.  See #994.

[2016-05-19 13:33] JohnCremona commented on #1411
Actually that need not be a temporary measure, since I had (temporarily) forgotten that HMFs had their own number fields collection and these are all they need.  I'll implement what was requested using the values you added which I are 1, 2, 3, 4, 5, 6 for 171, 183, 1, 40, 1, 4 fields respectively:

sage: [(n,fields.find({'narrow_class_no' : n}).count()) for n in range(1,10)]
[(1, 171), (2, 183), (

[2016-05-19 13:46] JohnCremona commented on #1411
I have done this (it was easy) but before I push, do we want to show only the narrow class number on each HMF's page or both?
We'll need to add knowls for "narrow class group" and "narrow class number".  That will be easiest when this is on beta.

[2016-05-19 14:44] jwj61 commented on #1404
Back to the comment on class group data, I would hardwire the links to warwick.  These are giant files, and will be downloaded relatively infrequently.  So, I wouldn't worry about the download speed across the Atlantic.

[2016-05-19 14:45] jwj61 commented on #1387
This sounds reasonable to me.  It looks like the final details just need to be hammered out.

[2016-05-19 14:47] jwj61 commented on #1247
I started a script, running on lehner, to add the additional field to number field records.  I expect it to take a week at least to get through our 5 million number fields.

[2016-05-19 15:08] JohnCremona commented on #1412
Fixed in PR #1416

[2016-05-19 15:09] JohnCremona commented on #1411
David L says "I'm not sure whether the usual (wide) class number is useful, but it can't hurt to provide both, I guess." so I will add it.

[2016-05-19 15:27] JohnCremona commented on #1411
Pull request #1417 is now up for review.  I added the knowls required.

[2016-05-19 15:50] AndrewVSutherland commented on #1247
@jwj61 I can't believe it should take this long; are you updating in place (with indexes present)?  If so, a better strategy would be to write the new records to a brand new collection (with no indexes), and then add the indexes at the end.  I can't imagine this should take more than a few hours, but maybe I am missing something here?

[2016-05-19 16:16] edgarcosta commented on #1294
I would expect it to take around 8h + how much time it takes to transfer 1.3TB from the google cloud servers to warwick.
During this time no one will be able to connect to warwick, and I have the feeling that many people are still adding and editing data.

[2016-05-19 16:26] edgarcosta commented on #1404
@jwj61 regarding the class group data. We can either do that, or just move them to cheaper storage.
As I agree with you, having backups is a good thing.
The user cost of the cheap storage,is that the user might need to wait 3 seconds before starting to download the file, which I think it is totally okay.

[2016-05-19 16:32] edgarcosta commented on #1247
@AndrewVSutherland From the documentation, https://docs.mongodb.com/v3.0/tutorial/create-indexes-to-support-queries/#create-compound-indexes-to-support-several-different-queries, I read that we should prioritize compound indexes, and there is no point to have the indexes (A) and (A,B) if we have the index (A,B,C)

Do you read the same thing?

[2016-05-19 16:46] AndrewVSutherland commented on #1294
They are indeed, this may need to wait until next weekend.

On 2016-05-19 12:16, edgarcosta wrote:

[2016-05-19 16:53] AndrewVSutherland commented on #1247
This is what the documentation claims, and in a context where updates
are happening this make sense (having the extra indexes increases the
cost of updates), but it is clear to me that a query of the form
{'A':val} is faster when processed using (A) then when using (A,B) or
(A,B,C), by about a factor of 3 in some of the examples we have seen.
Aside from the cost of maintaining them, I don't see a

[2016-05-19 17:20] edgarcosta commented on #1247
Hmm, perhaps then we should just index everything, and try to use hint as often as possible.

I dropped and recreated  degree_1_discriminant_1 on ms.

[2016-05-19 17:33] AndrewVSutherland commented on #1247
Yes, and I can see you nearly tripled the performance of

http://www.lmfdb.org/NumberField/?degree=2

which was taking around 1.5s yesterday and is now under .5s.

I agree with using hint in cases where you know exactly what your
querying on, but in must cases the query options are quite general and
the developer would potentially have to check for a combinatorial
explosion of possibilities.  The

[2016-05-19 17:37] edgarcosta commented on #1247
Sounds good to me!

[2016-05-19 18:19] JohnCremona commented on #1294
Also please can you give warning before adding terabytes to lmfdb.warwick?
The /data partition is 91% full though it shows 2.5T free.  We have more
physical disks (3 more @ 3.6T each)  we can bring on line but that requires
doing some btrfs balancing which takes a while (and last time we did that
problems were revealed which brought lmfdb.warwick down for 2 weeks).

On 19 May 2016 at 17:47, Andrew

[2016-05-19 18:50] JohnCremona commented on #1412
Closing since #1416 is merged.

[2016-05-19 18:50] #1412 closed

[2016-05-19 18:51] JohnCremona commented on #1411
Closing since #1417 is merged

[2016-05-19 18:51] #1411 closed

[2016-05-19 20:02] edgarcosta commented on #1294
@JohnCremona I won't do anything before running it by everyone. I was just in the middle of the email that would address this.

[2016-05-19 20:45] AndrewVSutherland commented on #1358
@edgarcosta, @JohnCremona If I execute the Sage command that appears to cause the crash interactively in Sage 7.1 on Atkin, it works fine:

 K.<a> = NumberField(x^6 - x^5 - 5*x^4 + 4*x^3 + 6*x^2 - 3*x - 1)
E = EllipticCurve([a^5 - 4*a^3 + 3*a + 1, a^5 + a^4 - 4*a^3 - 3*a^2 + a - 1, a^3 + a^2 - 3*a - 1, -12*a^5 + 3*a^4 + 61*a^3 - 66*a - 15, 37*a^5 - 7*a^4 - 188*a^3 + a^2 + 217*a + 50])
E.conductor(

[2016-05-19 21:49] jvoight commented on #1411
Thanks JC!  You rock.

[2016-05-19 21:50] jvoight commented on #1412
Sorry, you're right, I only tested this for dimension 1.  Thanks for fixing this JC!

[2016-05-19 22:05] AndrewVSutherland commented on #17
The data quality source knowl is now present

http://www.lmfdb.org/knowledge/show/dq.zeros.zeta.howcomputed

I updated it to cite the MR# and DOI of Platt's paper, which has now been published.

[2016-05-19 22:05] #17 closed

[2016-05-20 00:56] AndrewVSutherland commented on #112
Confirmed fix now on http://www.lmfdb.org/L/degree1/ works on chrome/safari/firefox,

[2016-05-20 00:56] #112 closed

[2016-05-20 01:20] AndrewVSutherland commented on #144
This appears to be fixed, see http://www.lmfdb.org/zeros/zeta/?limit=100&N=4250.

Closing.

[2016-05-20 01:20] #144 closed

[2016-05-20 01:22] AndrewVSutherland commented on #1388
Fixed by PR #1389, closing.

[2016-05-20 01:22] #1388 closed

[2016-05-20 01:24] AndrewVSutherland commented on #410
This appears to have been fixed by pull request #487.

[2016-05-20 01:24] #410 closed

[2016-05-20 01:35] AndrewVSutherland commented on #493
With the exception of L-functions, none of the headings on the sidebar have a "history of" link.  Maybe they should, but this seems like a broader topic that is not specific to this specific issue (I'll leave it to those motivated to work on it to open a new issue if they wish).

[2016-05-20 01:35] #493 closed

[2016-05-20 01:42] AndrewVSutherland commented on #873
The critical label has been added back because the data extent knowl (displayed on the top of http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/) does not agree with the data.

Once it does we can close this issue but until it does I think it is crtical.

I don't think we need to keep issues #448, #450, and #451 open; if someone wants to create a new issue labeled as a feature request with a desi

[2016-05-20 01:42] AndrewVSutherland commented on #448
Closing per remark https://github.com/LMFDB/lmfdb/issues/873#issuecomment-220497022

[2016-05-20 01:42] #448 closed

[2016-05-20 01:42] AndrewVSutherland commented on #450
Closing per remark https://github.com/LMFDB/lmfdb/issues/873#issuecomment-220497022

[2016-05-20 01:42] #450 closed

[2016-05-20 01:43] AndrewVSutherland commented on #451
Closing per remark https://github.com/LMFDB/lmfdb/issues/873#issuecomment-220497022

[2016-05-20 01:43] #451 closed

[2016-05-20 02:49] edgarcosta commented on #1358
I think it just takes too long...

[code]

[2016-05-20 05:24] jwj61 commented on #1404
Is the storage cheaper than warwick?  I believe it is backed up in Bristol as well.

[2016-05-20 05:28] jwj61 commented on #1247
On updating numberfields, yes I am updating in place.  That may well be a time factor, but I think the replication is also slowing it down.

I will try downloading what is there and reloading it in a new collection.  Since I am travelling tomorrow, it will most likely take place during the weekend.

[2016-05-20 08:23] JohnCremona commented on #1358
You don't want excuses but I will anyway.  When I wrote the ecnf code in 2014 we only had data for 6 quadratic fields all of class number 1 and one cubic field.  Now we have vastly more in degrees 2, 3, 4 and some in degrees 5 and 6 but the latter case ground to a halt because (1) finding the curves was taking ages and (2) even thr precomutations we were doing (such as finding complete isogeny cla

[2016-05-20 08:31] JohnCremona commented on #1404
I also have a separate copy of both class_numbers and zeros on a different machine at Warwick, so if we do ever need to use a backup that one would be closest.

lmfdb@hecke:~/data$ du -sh *
2.1T	class_numbers
1.9T	db
32G	lfunction_plots
4.0K	LICENSE.md
5.8G	riemann
827M	Siegel-Modular-Forms
33G	weight_three_halves
1.3T	zeros
4.0K	zeros2

[2016-05-20 08:37] JohnCremona commented on #1247
Perhaps what I am doing is similar -- it is certainly slow.  I am going through every single elliptic curve /Q, about 2.3 million, doing som equite simple computation and adding data fields to the database -- one at a time.  This is taking many days (it has reached conductor 77000 out of 380000 so only about 20%).  The code is at the end of https://github.com/JohnCremona/lmfdb/blob/ec-extra-data/l

[2016-05-20 09:02] JohnCremona commented on #1332
There are two tests in lmfdb/test_lfunction.py which fail with sage 7.2 (and pass with 7.1) when I run them on lmfdb.warwick.ac.uk using the current master:
test_Lsym2EC and test_Lsym3EC
though they run fine on lehner using 7.2.  I am investigating how two identical Sage builds can act differently on the same code.

[2016-05-20 09:27] AndrewVSutherland commented on #1358
@JohnCremona no need for excuses!  It's amazing we have these curves in the LMFDB at all, and this is why I would like to be able to show them!  And with @nmascot's new plotting code, their pictures look beautiful.

@edgarcosta @JohnCremona I ran a bunch of tests on Atkin and here is what I found (you can repeat these by running lmfdb/ecnf/ecnf_test_pages.py), The first attempt to compute a conduc

[2016-05-20 09:29] AndrewVSutherland commented on #1247
I did not mean to suggest there was a huge rush to get this done, please
enjoy your vacation!  My comment was only meant to suggest that there
might be a better/faster way.

On 2016-05-20 01:28, John Jones wrote:

[2016-05-20 09:49] AndrewVSutherland commented on #1247
@JohnCremona I think the general rule should be this: unless you are changing just a handful of specific records in a collection, it rarely makes sense to update a record in mongo db.  Any change that involves updating every document in a collection is likely to be achieved more quickly by rewriting the entire collection.  Updating in place is almost always more expensive, and given that we do not

[2016-05-20 10:02] AndrewVSutherland commented on #1247
@JohnCremona @jwj61 If John Jones is correct that replication is also slowing things down, this is probably another reason to rewrite collections.  I would expect replicating an insert to be faster than replicating an update.

The one issue that rewriting collections does raise is the need to know exactly which indexes to recreate (and the order in which to create them, which should be lexicograph

[2016-05-20 10:35] JohnCremona commented on #1358
It's not hard to construct the conductor ideal from what is stored, and I don't think that factorization itself would take long, nor getting the local info at the bad primes.
What is also done on the fly (from line 192 in ecnf/WebEllipticCurve.py) is to check if the stored model is a global minimal model and if not, at which prime(s) it is non-minimal.  The models I store are always minimal either

[2016-05-20 10:38] JohnCremona commented on #1247
So the recommended procedure would be something like: create a new collection, say curves2;  go through each record in curves, compute the extra data, merge with the recovered old record from curves and store in curves2; repeat for all curves.  When done (and tested) drop curves and rename curves2 as curves.  For testing, replace "curves" by "curves2" in appropriate places (temporarily).

Is that

[2016-05-20 10:45] JohnCremona commented on #1358
By the way, for elliptic curvesover Q there have been many occasions since the collection was first formed when we have added to the stored data in there -- that collection has been in there for many years.  It sounds as if performance would improve if all we did were to copy it!

[2016-05-20 10:47] JohnCremona commented on #1247
I left one thing out of the above: the new collection would have no indices at all, so careful thought would be needed about which should be created (as we are planning to do systematically everywhere).  Is it better to create the indices needed **after** adding all the records, or at the **beginning** so that each new record added updates the index?  I suspect the first but do not know.

[2016-05-20 10:58] AndrewVSutherland commented on #1247
@JohnCremona Definitely **after**!

[2016-05-20 10:59] JohnCremona commented on #1247
OK so I will stop updating the curves collection and start again the new way.  With no indices yet, making a new collection called curves2.

[2016-05-20 11:01] davidfarmer commented on #873
I am okay with closing #448, #450, and #451.

The data extent knowl explains what we have, and later someone may wish
to specifically propose another rectangle (such as a rectangle for
real characters).

On Thu, 19 May 2016, Andrew Sutherland wrote:

[2016-05-20 11:01] AndrewVSutherland commented on #1247
Regarding (https://github.com/LMFDB/lmfdb/issues/1247#issuecomment-220573575), yes, with one modification for safety.  Don't drop curves, instead rename curves -> old_curves, then curves2 -> curves, then check that you are 100% happy with the new curves, then drop old_curves (no rush).

Another advantage of this approach is that it will have much less impact on people using curves while you are do

[2016-05-20 11:03] AndrewVSutherland commented on #1247
I don't know how clever mongo db is internally, but in general if you do an update that potentially is going to change index information, the database first needs to acquire a lock on the record and all the index pages it may need to modify (a primitive/easy way to do this is to just lock the entire collection, which may be what mongo db is doing).  It then needs to create an entry in a transactio

[2016-05-20 11:15] JohnCremona commented on #1247
OK, understood.  And I was definitely going to not actually drop the old collection right away!
I don't know mongo is so slow.  As a test, on 28 curves of conductor 11-20, the time to find the old curve data and compute the extra data to insert *without doing any insertions* takes 90ms.  But doing the insertions takes 13.4s, about half a second for each one.  I am trying a different way, collectin

[2016-05-20 11:31] AndrewVSutherland commented on #1247
@JohnCremona, fair enough, mongo db may not be the bottleneck in your situation.  My only point is that the entire elliptic curve database is only 8GB and has fewer than 10 million records.  Rewriting the whole thing and reindexing every collection is something that should take hours, not days.  Similar comments apply to numberfields.

Restoring modularforms2 from backup (650GB) takes only a few h

[2016-05-20 11:43] JohnCremona commented on #1247
Any form up update was slow, but inserting new things is fast: 70s for the curves up to 1000 (5113 curves) at which rate it will only take 9 hours.   I am collecting 100 at a time and doing an insert_many().

[2016-05-20 11:53] AndrewVSutherland commented on #1247
+1 for doing insert_many, I should have mentioned that.  When I load records I usually do them in batches of 1000 (but 100 will likely be just as good, the key thing is not batches of 1).

[2016-05-20 11:58] JohnCremona commented on #1247
OK, weill with batches of 100 I got up to conductor 10000 in 15 min and I will now increase the batch size.
Another big plus of using a new collections is that by making just one change in the code locally (actuall 3 but it should be and will be just one) of curves -> curves2, everything works just as it shoud even to extent that the stats show "The database currently contains the Cremona database

[2016-05-20 15:00] AndrewVSutherland commented on #1247
@JohnCremona, @jwj61, @edgarcosta

I created a utility function in lmfdb/data_mgt/utilities/rewrite.py that can be used to efficiently update every record in a collection.  The syntax is:

rewrite_collection(db,incoll,outcoll,myfunc)

where db is a database on which you have authenticated as editor, incoll is the name of an existing collection, outcoll is the name of a new collection to create, an

[2016-05-20 15:04] AndrewVSutherland commented on #1247
To sum up, when I said "hours not days" in (https://github.com/LMFDB/lmfdb/issues/1247#issuecomment-220582466),  I should have said "minutes not days" :)

[2016-05-20 15:43] JohnCremona commented on #1247
Will this be as efficient when the transform adds several new fields?
I will try it out on my curves update which currently keeps failing for reasons I don't understand fully.

[2016-05-20 16:25] AndrewVSutherland commented on #1247
Yes, modulo time spent computing the new attributes.

On May 20, 2016 11:43:08 AM EDT, John Cremona <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-05-20 16:42] edgarcosta commented on #1247
Without a doubt you should use batches.
Otherwise every update is like a random access to the disk and doesn't take any advantage of possible caching.
Further, replication can slow things down in two ways:
1- the uplink from warwick
2- cloud servers replying back saying we got your data (even without replication this is an issue)
At the moment, if replication is slowing you down, then it would be

[2016-05-20 22:58] AndrewVSutherland commented on #1386
After pouring a fair bit of computational resource at this problem, I've come to the conclusion that in general it is not going to be feasible to compute polredabs() polynomials for all the fields we would like to; the problem is that even if we ignore the higher degree cases (say degree >= 32, or even >=16), the problem is that so many of the fields have very large discriminants, and this makes p

[2016-05-20 22:58] #1386 closed

[2016-05-20 23:44] sehlen commented on #1386
That’s what I remembered from trying quite a while ago and that’s more or less why we ended up doing what we do now.
But it is very good that you tried!

We used the cutoff degree <= 4 for a while because experience showed that it would usually work for those and also return a negative result if no match was found. I changed this into a timeout instead but I guess you’re right that we can still cu

[2016-05-21 00:01] AndrewVSutherland commented on #1386
On 2016-05-20 19:44, Stephan Ehlen wrote:

I like the idea of using a timeout plus an absolute cutoff.  Just be
sure to call polredbest() first before calling polredabs(), otherwise it
is very easy to hit the timeout.  If f in R.<x>=QQ[] is a Sage
polynomial, we want

R(pari(f).polredbest().polredabs())

Currently WebNumberField does not do this, it just calls polredabs().

[2016-05-21 04:37] #720 closed

[2016-05-21 04:37] #1385 closed

[2016-05-21 05:01] AndrewVSutherland commented on #1405
Fixed by pull request #1409 which is now live on www.lmfdb.org

[2016-05-21 05:01] #1405 closed

[2016-05-21 10:22] AndrewVSutherland commented on #1376
The new data (and the improved software form PR #1409) is now available on www.lmfdb.org:

![screenshot 2016-05-21 06 17 53](https://cloud.githubusercontent.com/assets/11425002/15447800/fe7cdb68-1f1b-11e6-817f-1248290e9c07.png)

It also includes the range 1 <= N <= 100 and 2 <= w <= 12:

![screenshot 2016-05-21 06 20 50](https://cloud.githubusercontent.com/assets/11425002/15447810/3ab42550-1f1c-11

[2016-05-21 10:22] #1376 closed

[2016-05-21 10:31] AndrewVSutherland commented on #873
We have made some good forward progress.  With #1376 closed, we now have complete data for all the spaces with trivial character in the ranges (k,N) in [2,40] x [1,24] and (k,N) in [2,12] x [1,100] (in fact we also have (k,N) in [2,40] x {25}, which is beyond the extent listed in the knowl -- I will update it).  It remains to address the spaces with non-trivial character.  I note that for N=41 bot

[2016-05-21 10:36] AndrewVSutherland commented on #1209
@edgarcosta what exactly needs to be done here?  Would it be enough to just tweak the auto reconnect settings in https://github.com/LMFDB/lmfdb/blob/master/lmfdb/base.py? (see lines 72-103).  It currently it retries 10 times with delay of 1s, which seems way too few (and I don't see why we couldn't just have it retry forever, kill it if you want it dead).

Keep in mind that when you and Sarunas us

[2016-05-21 10:49] AndrewVSutherland opened #1431 "Remove obsolete/empty databases from mongo db"
The following databases are either empty or have only empty collections in them:

mwf_dbname
modularforms_2010
quadratic_twists
modforms
WebNewForms

Several others are never referenced by any of the code in LMFDB/lmfdb and have no inventory information in LMFDB/inventory (I will post a list later).

These should definitely be removed from the cloud server (so that they do not appear on http://www

[2016-05-21 10:58] AndrewVSutherland commented on #481
Varieties now does have a link that gives a brief description, see www.lmfdb.org.  Like all headings (except L-functions) there is no "history of" link.   I will create a new issue for this (with a 2.0 milestone) but I am going to close this one.

[2016-05-21 10:58] #481 closed

[2016-05-21 11:02] AndrewVSutherland opened #1432 "History knowls for sidebar headings"
At present the L-functions heading in the left sidebar is the only one for which there is a "learn more about" box with a link to a "history of" knowl.  This feature should be added to all of the other headings, including:

ModularForms
Varieties
Fields
Representations
Motives (currently in beta)
Groups

[2016-05-21 12:37] sehlen commented on #873
Actually, it is [2, 40] x [2, 25]. It's very easy to extend that but next
week we'll concentrate on fixing non-trivial character data.

On Sat, May 21, 2016, 06:31 Andrew Sutherland <notifications@github.com>
wrote:

[2016-05-21 12:42] sehlen commented on #873
I meant  [2, 40] x [1, 25]. Will extend this soon.

On Sat, May 21, 2016, 08:37 Stephan Ehlen <stephan@die-ehlens.de> wrote:

[2016-05-21 13:00] AndrewVSutherland commented on #873
@sehlen, right I actually updated the knowl earlier to reflect the expanded range.  But I agree that we should focus on completing/fixing the non-trivial character data before extending it further.

[2016-05-21 14:01] sehlen opened #1434 "Random modular form"
Other pages have a link that leads to a random object, modular forms don't but this is a nice feature and they should have it.

(The pull request that will fix this issue is coming very soon ;-)

[2016-05-21 14:14] JohnCremona commented on #1431
I can think of no reason for one of us not to remove these 5 right now.  If they are removed from Warwick what happens with replication?  I don't know how to connect or the cloud replicas.

[2016-05-21 14:31] AndrewVSutherland commented on #1431
I can take care of the cloud.  If you delete it on Warwick I believe
this should get propagated automatically to the replicas (but
@edgarcosta can confirm).

On 2016-05-21 10:14, John Cremona wrote:

[2016-05-21 14:35] AndrewVSutherland commented on #1431
@JohnCremona, @edgarcosta The five empty databases listed above have been removed from the cloud mongo db (running on ms.lmfdb.xyz) and no longer appear on www.lmfdb.org/api/

[2016-05-21 14:37] JohnCremona commented on #1431
You beat me to it, I have removed the first one....

[2016-05-21 14:44] AndrewVSutherland commented on #1431
@JohnCremona, @davidfarmer  Do we need the databases knowledge_5, knowledge_6, knowledge_7, knowledge_8, knowledge_9, and knowledge_tmp?  It looks to me like the knowledge database contains everything that is in these.

[2016-05-21 14:46] JohnCremona commented on #1318
Update: I have copied the curves collection to a new collection called curves2 which has the extra data in each record.  I am now checking that every record has all the original data as well as the new data.  I will index the new collection and document which indices I add.  My working version of the branch has switched the collection name in the code from curves to curves2, for testing.

[2016-05-21 14:53] AndrewVSutherland commented on #1431
@sehlen Do we still need the databases modularforms and modularforms_raw?  It looks like the only place where modularforms is referenced is in test_root.py (which should presumably be changed to modularforms2).

[2016-05-21 14:54] AndrewVSutherland commented on #1318
@JohnCremona Did you use the new rewrite_collection function to do this?  If so I'd be curious to know how long it took on Atkin.

[2016-05-21 14:59] edgarcosta commented on #1431
@AndrewVSutherland The knowledge_* stuff is my fault. Cleaning it now.

[2016-05-21 15:11] JohnCremona commented on #1318
No, since I had started already.  I had to restart several times since I got occasional database errors (hence my careful checking now).  Ignoring that it would have been about 10 hours.  I may try again using your script.
I am now listing the indices needed.  Most are obvious.  The queries from the search page can include many different fields to serach on and obviously we should not have every s

[2016-05-21 15:16] AndrewVSutherland commented on #1318
@JohnCremona I would just make a single key index for each fields, then test performance and see if there are any particular combinations that (a) seem slow and (b) seem likely use cases.  Putting an index on the union is probably not useful (bear in mind that the order matters, so there are n! choices of index here, and they will only get used when a set of fields is chosen that forms a prefix of

[2016-05-21 15:24] JohnCremona commented on #1318
OK, I will just index each one for which there is a search field, individually.

[2016-05-21 15:45] AndrewVSutherland commented on #1431
@JohnCremona I presume it makes sense to remove the "limbo" database from the cloud server (and possibly Warwick as well?)

[2016-05-21 15:50] jwj61 commented on #1431
Yes.  It was the original Artin representation database, but has been superseded by artin.  So yes, it can be deleted.

[2016-05-21 15:52] JohnCremona commented on #1431
OK then I'll do the honours at the Warwick end,

[2016-05-21 15:58] edgarcosta commented on #1431
What about "MaassWaveForm" (without the "s")?

There are 2 files that mention it:
* never ends up using it : https://github.com/LMFDB/lmfdb/blob/master/lmfdb/modular_forms/maass_forms/maass_waveforms/backend/mwf_utils.py
* Wants to check for "MaassWaveForms" instead?: https://github.com/LMFDB/lmfdb/blob/master/lmfdb/test_root.py

[2016-05-21 16:01] edgarcosta commented on #1431
limbo also dropped at ms.lmfdb.xyz

[2016-05-21 16:09] JohnCremona commented on #1431
mongo makes it much too easy to create a new database by mistake after a typo.  At least, that was true before we added authentication.

[2016-05-21 16:10] fredstro commented on #1431
The collection
‘MaassWaveForm’
can be dropped, similarly the collections
‘modularforms_raw’    (this is not really used and was something I was experimenting with)
and
‘modularforms’   (this was the predecessor to ‘modularforms2’ and hasn’t been used since 2012)
can both be dropped.

Fredrik

[2016-05-21 16:21] edgarcosta commented on #1431
Catching!

Done at warwick
[code]

and ms:
[code]

[2016-05-21 16:22] edgarcosta commented on #1431
I also took a snapshot before going on this dropDatabase spree...

[2016-05-21 16:26] JohnCremona commented on #1431
@edgarcosta Good idea.  I was thinking that we also have the weekly dumps, but they are not kept for that long (40 days according to the backup script).  Though I do have some other copies.

[2016-05-21 16:28] edgarcosta commented on #1431
The db just got much slimmer:
* 1TB using MMAPv1 (e.g. warwick and ms)
* 620GB using using wiredTiger+zlib

[2016-05-21 16:29] edgarcosta commented on #1431
@JohnCremona we should discuss for how long, and how frequent should we keep backups in the cloud

[2016-05-21 16:52] JohnCremona commented on #1318
1. My ec-extra-data branch is now ready for testing.  I do not want to make this via a pull request since it expects the elliptic curves collection to be called curves2 (defined in just one place) and the should be edited back to curves once we have renamed curves -> oldcurves and curves2 -> curves.  But since curves2 exists and is complete and indexed the new branch runs fine (using the Warwick d

[2016-05-21 16:53] JohnCremona commented on #1431
@edgarcosta Your previous comment reminded me of a question you asked me (no idea which thread or issue or what) which I did not understand.  If it's about filesystems used on the Warwick server please include Bober and Schilly (perhaps you did).

[2016-05-21 16:58] JohnCremona commented on #1318
With default batch size of 10000 I got "BulkWriteError: batch op errors occurred" and am retrying with 5000.  I was using 1000 when I did it manually.

[2016-05-21 17:34] JohnCremona commented on #1318
It failed sooner with 5000, trying again with 1000.  All records a re very small except possibly some large generators of rank 1 curves.  I don't know if the order in which it reads the records is the same each time; if it is then the observed behaviour is unexpected.

[2016-05-21 17:48] AndrewVSutherland commented on #1318
Hmm, it worked fine on ms1, but I think that might be running on TigerWire.  But 1000 or even 100 should be fine.

On May 21, 2016 12:58:19 PM EDT, John Cremona <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-05-21 17:51] AndrewVSutherland commented on #1318
Something is very strange here. It should not take anything like that long.  I am away from my computer at the moment but I will do some experiments of my own when i get back.  We should figure out what is going in here.

On May 21, 2016 12:52:22 PM EDT, John Cremona <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-05-21 17:51] jwj61 commented on #1318
I am also trying to rewrite a collection.  Perhaps this is part of the problem.

Last night I cloned number fields in about 4800 seconds.  Then I was adding some new data when I got the BulkWriteError.  So, I started over.  Right now I am 78 percent done with cloning number fields (2791 seconds) on lehner.

[2016-05-21 18:33] JohnCremona commented on #1318
I have no idea why this is taking orders of magnitude longer than your simple copy.  The time taken to compute the extra data for each curve is not great (but I will time that separately).
With batch size 1000 it failed after 5% so I am giving up, since I already have the updated collection complete.

[2016-05-21 18:35] AndrewVSutherland commented on #1431
Does anyone know anything about ap_statistics?  It is not referenced by any code in LMFDB/lmfdb.

[2016-05-21 18:36] AndrewVSutherland commented on #1318
I'd like to try running some experiments on ms, ms1, and atkin.  Are you
and @jwj61 done with the updates your are making for the moment?

On 2016-05-21 14:33, John Cremona wrote:

[2016-05-21 18:41] JohnCremona commented on #1318
Yes, doing nothing until further notice.

[2016-05-21 18:49] AndrewVSutherland commented on #1318
Any chance I can get you to install nmon on atkin?

sudo apt-get install nmon

On 2016-05-21 14:41, John Cremona wrote:

[2016-05-21 18:57] jwj61 commented on #1318
I am currently adding data to a copy of the number field database, since I have 1.5 million fields prepped and ready to go.

[2016-05-21 18:58] JohnCremona commented on #1318
On 21 May 2016 at 19:49, Andrew Sutherland <notifications@github.com> wrote:

Done.

[2016-05-21 18:59] fredstro commented on #1431
It contains data about a(p)’s for newforms of  weight 2, trivial character and where the degree of the coefficient field is 2.
It is data which I and David F. was/are planning to use to analyse a variant of Maeda’s conjecture…
(The collection ‘madea’ in ‘modularforms2’ contains a subset of collection ap_data on the database ‘ap_statistics)

I just mongodumped the database so you can safely delete

[2016-05-21 19:00] AndrewVSutherland commented on #1318
OK, I'll hold off testing on Atkin then, can you let me know when you
are done?

On 2016-05-21 14:57, John Jones wrote:

[2016-05-21 19:02] AndrewVSutherland commented on #1318
@jwj61 Are you running this on Atkin?  The disks all look very quiet in nmon.

[2016-05-21 19:09] AndrewVSutherland commented on #1431
@fredstro, @sehlen, So when I updated the modularforms2 data on www.lmfdb.org I copied over the following 11 collections:

dimension_table
dimension_table.chunks
dimension_table.files

webmodformspace
webmodformspace.chunks
webmodformspace.files

webnewforms
webnewforms.chunks
webnewforms.files

webeigenvalues.chunks
webeigenvalues.files

I see  the code also references "webmodformspace_dimension"

[2016-05-21 19:11] AndrewVSutherland commented on #1431
@fredstro OK, it sounds like I can definitely remove ap_statistics from the cloud, I'll let @JohnCremona decide what to do on the Warwick machines.

[2016-05-21 19:15] jwj61 commented on #1318
On lehner.  I can pause it while you run tests if you want.

[2016-05-21 19:21] AndrewVSutherland commented on #1318
The mongo dbs on atkin and lehner are completely independent, right?
(@JohnCremona)

On 2016-05-21 15:15, John Jones wrote:

[2016-05-21 19:24] jwj61 commented on #1318
I think they are effectively the same.  They ssh to a single machine which actually has the database.

In any case, I just paused.

[2016-05-21 19:25] AndrewVSutherland commented on #1431
@davidfarmer is it safe to remove the database Lfunction from the cloud (and possibly Warwick also)?  It looks like the code uses the Lfunctions database (both for new and old formats)

[2016-05-21 19:28] JohnCremona commented on #1318
On 21 May 2016 at 20:21, Andrew Sutherland <notifications@github.com> wrote:

There are no mongo databases on atkin or lehner, so I don't understand the
question.

Those of us using atkin and lehner for development use the main database on
lmfdb.warwick.ac.uk by changing on line in the mongoclient.config file
since those machine have access to lmfdb's port 37010 being on the right
side of the fire

[2016-05-21 19:30] JohnCremona commented on #1318
@jwj61 See my previous reply!  No "effectively the same" and no ssh.

[2016-05-21 19:31] jwj61 commented on #1318
OK, so it is exactly the same.

[2016-05-21 19:33] AndrewVSutherland commented on #1318
@JohnCremona, that explains my confusion!  I was taking my timings running on the same machine with mongo db installed (which might also make sense for people doing bulk updates).  Is there any chance you can put my ssh key on lmfdb.warwick.ac.uk (and install nmon there) so I can run a test there to see how this impacts things?  I'm just trying to understand the performance differences between the

[2016-05-21 21:31] edgarcosta commented on #1318
Someone that can help is perhaps Bober, he managed to add a ton of Lfunctions in a couple of hours.

[2016-05-21 21:34] edgarcosta commented on #1318
@JohnCremona @AndrewVSutherland Regarding the indexes, we for sure need:
{'conductor': 1, 'iso_nlabel': 1, 'lmfdb_number': 1} for the sort.

[2016-05-21 22:10] AndrewVSutherland commented on #1318
@edgarcosta Of course, I wasn't suggesting getting rid of it (or any that are currently used).

[2016-05-21 22:22] AndrewVSutherland commented on #1318
@JohnCremona, @jwj61, @edgarcosta So I ran 2 tests on 2 different configurations using data_mgt/utilities/rewrite_collection.py (which I updated in master to fix a problem when running it in sage (ints need to be coerced)).  My guess is that the extreme slowness that John Cremona was experiencing was due either to computation time or contention with the updates John Jones was making.  On an idle s

[2016-05-21 22:36] AndrewVSutherland commented on #1318
@jwj61 Please feel free to continue the updates you were making.

[2016-05-22 01:02] edgarcosta commented on #1318
I think we need look at the logs, here are two random samples:

at lmfdb.warwick.ac.uk
[code]

From ms1.lmfdb.xyz
[code]

However, I'm not sure what to make of it.

Here is how to read the log: https://docs.mongodb.com/manual/reference/method/db.currentOp/#currentOp.lockStats.acquireCount

[2016-05-22 02:10] AndrewVSutherland commented on #1318
@edgarcosta It's interesting that some of the lock counts are different (although the fact that one is being replicated and the other is not might account for that).  Is it possible to get a list of configuration parameters for the two systems (does mongo db have a config file somewhere or a command that will list any configurable parameters?)

[2016-05-22 02:58] edgarcosta commented on #1318
You are better off running
[code]
I got at lmfdb.warwick.ac.uk:
[code]

and at ms1:
[code]

alternatively, at ms1 the config file is at: /etc/mongod.conf
and at warwick the config file is at /home/lmfdb/mongod.conf

[2016-05-22 09:15] AndrewVSutherland commented on #1318
@edgarcosta Hmm, none of these look like performance/tuning parameters.  Another question -- is it easy (and quick) to turn replication off and on?  I'd be curious to retry the tests I ran on atkin/lmfdb again today at some point without replication.

[2016-05-22 10:51] edgarcosta commented on #1318
@AndrewVSutherland that amounts restarting it with these two lines commented out:
[code]
I would wait until everyone is done with their updates.

[2016-05-22 10:54] AndrewVSutherland commented on #1247
@haraldschilly, @edgarcosta, @JohnCremona  According to Google PageSpeed Insights ([https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Flmfdb.org%2F&tab=desktop](url) there are 4 things we should do to speed up the load time of our landing page:

1. - enable compression
2. - minify javascript
3. - eliminate render blocking
4. - optimize images

The first 3 apply to **every pag

[2016-05-22 12:33] jwj61 commented on #1318
I will probably have more updates later today, but am not currently updating.

[2016-05-22 12:52] AndrewVSutherland commented on #1248
The page http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/83/12/1/?group=0 claims there are no newforms in this space, but according to http://www.lmfdb.org/ModularForm/GL2/Q/holomorphic/ranges/?level=80-100&weight=2-12&group=0 and Magma:

`Dimension(NewSubspace(CuspidalSubspace(ModularForms(83,12))));`

it has dimension 74.

[2016-05-22 12:54] AndrewVSutherland commented on #873
I extended the range of pages tested by emf_test_pages.py to include (k,N) = [2,12] x [1,100] and found a problem with k=12 and N=83, see https://github.com/LMFDB/lmfdb/issues/1248#issuecomment-220830840.

[2016-05-22 12:55] edgarcosta commented on #1318
@AndrewVSutherland what about you trying it out on a empty mongodb (at warwick)?

[2016-05-22 12:57] edgarcosta commented on #1318
I'm afraid that you restart it without the replication then some writes to Warwick might get lost.

[2016-05-22 13:22] AndrewVSutherland commented on #1318
@edgarcosta Good idea, I will try that instead --  I definitely do not want to disrupt any of the work currently going on at Warwick (which may include work on the modular form data).

[2016-05-22 13:25] JohnCremona commented on #1318
Right now I cannot authenticate on the Warwick database, from atkin and using the same script as I have used for a long time.  It waits and then I get
ServerSelectionTimeoutError: localhost:37010: [Errno 111 ] Connection refused
even though I am not using localhost:37010 but
MongoClient conection is reading from: ('lmfdb-ib', 37010)

Has someone changed something?

[2016-05-22 13:27] AndrewVSutherland commented on #1318
I can connect using the same configuration you are (which I had to change when you killed the ssh tunnel)

[2016-05-22 13:29] JohnCremona commented on #1318
That is strange, I am sure that this worked for me yesterday.  And the main website software starts up OK so it's the script I am running which is at fault.

[2016-05-22 13:33] AndrewVSutherland commented on #1318
beta.lmfdb.org is definitely up and seems to be working fine.  I did have an intermittent problem connecting earlier today -- are you still unable to connect?

[2016-05-22 13:34] JohnCremona commented on #1318
So it seems as if my general utiltity script for connecting to the database only worked until yesterday because the tunnel was still in place, and I never noticed until I stopped the tunnel (causing @AndrewVSutherland difficulties).  I will have to change the script.  This does have implications for the timings I was seeing when I recreated the curves collection with extra data, since the communic

[2016-05-22 13:37] AndrewVSutherland commented on #1318
So just to be clear on what I changed (and what is now working for me), on Atkin in my lmfdb directory (home/drew/github/lmfdb) I copied default_mongoclient.config to mongoclient.config and changed the host name to lmfdb-ib (as you instructed).  Here is my mongoclient.config file (minus comment lines):

[db]
port = 37010
host = lmfdb-ib
replicaset =
read_preference = NEAREST

[2016-05-22 13:40] JohnCremona commented on #1318
Yes that is fine.  My script was out of date.

[2016-05-22 13:47] AndrewVSutherland commented on #1318
@JohnCremona Good! (you had me worried I had done something wrong on lmfdb, but so far I'll have been doing is monitoring disk activity).

So based on Edgar's suggestion, I was thinking about trying a test where I create a new empty mongo db (say in /home/lmfdb/test on lmfdb.warwick.ac.uk) and would run something like

mongod --dbpath /home/lmfdb/test/db --port=37099  --bind_ip=127.0.0.1

(I'm ass

[2016-05-22 13:50] JohnCremona commented on #1318
Yes but read email first

[2016-05-22 14:19] edgarcosta commented on #1318
@AndrewVSutherland I have just created a config for you:
you should run
[code]
The db will be store in /data/testdb, which is the same filesystem of the real DB.

[2016-05-22 14:20] edgarcosta commented on #1318
For posteriority

[code]

[2016-05-22 14:24] JohnCremona commented on #1431
As luck would have it one of the tests in test_root checks for MaassWaveForm, so now fails.  Rather than fix this one, we should adapt the test_db function there to check for a complete list of the databases which we actually need.

[2016-05-22 14:26] edgarcosta commented on #1431
I saw that, and I was going to edit that, but then I noticed that in the master branch it is an empty file:
https://github.com/LMFDB/lmfdb/blob/master/test_root.py

[2016-05-22 14:28] JohnCremona commented on #1431
Wrong file:  lmfdb/test_root.py is the one.  That empty file can probably be deleted!

[2016-05-22 14:30] AndrewVSutherland commented on #1318
@edgarcosta I'm going to do this in a different account on lmfdb.warwick.ac.uk (I can copy over the config file you crated), does that change anything?

And why is keyFile set if it is only needed for replication?

[2016-05-22 14:32] JohnCremona commented on #1431
@jwj61 the test of the link to http://hobbes.la.asu.edu/lmfdb-14/  now fails.  Is that just temporary?  There's a test for it in test_acknowledgements.py

[2016-05-22 14:48] jwj61 commented on #1431
Temporary.  Due to work in the building housing hobbes, all computers have been shut down for a week (and maybe more, but hopefully just a week).

[2016-05-22 14:50] edgarcosta commented on #1318
Yes you can copy. The key file is only needed for replication. Feel free to
comment it out.
On May 22, 2016 10:30 AM, "Andrew Sutherland" <notifications@github.com>
wrote:

[2016-05-22 15:28] edgarcosta commented on #1431
new issue?
Perhaps we should first take care of:
https://github.com/LMFDB/lmfdb-inventory
maybe assign the issues to the owners?

[2016-05-22 15:41] AndrewVSutherland commented on #1431
@edgarcosta fixing test_root.py is something we should probably take care of.  Getting lmfdb-inventory up to date for each database is something we can assign to the owners, but first we need to decide which databases should really be there and actually give them owners.  Currently lmfdb-inventory has a .md file for every database that was in the Warwick mongo db at the time it was created (severa

[2016-05-22 15:43] edgarcosta commented on #1431
@AndrewVSutherland I totally agree with you.
However, I don't know a nice and simple way to figure out which DBs we really want to have there.

[2016-05-22 16:13] edgarcosta commented on #1247
First of all, we should include Sarunas into this. At the moment he is looking into optimizing some of the gunicorn configs.

Second, we have bigger design issues, as the the browser only knows what javascripts and images to load after gunicorn computed the whole page, and that takes 2/3 of the time for an elliptic curve, see:

<img width="1167" alt="screen shot 2016-05-22 at 12 00 50" src="https:

[2016-05-22 16:15] AndrewVSutherland commented on #1431
@edgarcosta That is one of the goals of this issue; as noted above one way to check is to search the code for references to the database names.   Here is a list of databases that I know should be on the production cloud mongo db servring data to www.lmfdb.org (ms.lmfdb.xyz)

sato_tate_groups
localfields
elliptic_curves
numberfields
knowledge
siegel_modular_forms
Lattices
hmfs
Lfunctions
modularfor

[2016-05-22 16:20] AndrewVSutherland commented on #1247
On 2016-05-22 12:14, edgarcosta wrote:

So 2 and 3 would just be changes to files in lmfdb/static and
https://github.com/LMFDB/lmfdb/blob/master/lmfdb/templates/base.html, if
I understand correctly.  Seems worth doing if it is almost no effort.

I don't think 4 is a huge deal, it is only really relevant to the home
page which is pretty quick.

Regarding your point about the bigger design issues, w

[2016-05-22 16:26] AndrewVSutherland commented on #1247
Just to reiterate the point of this issue, in my view our goal is not perfection (far from it), rather it is (1) fix pages that are obviously too slow (e.g. several seconds to load), and (2) look for easy changes that would  noticeably improve performance and/or the user experience.  We don't want to get bogged down in trying to optimize everything.

[2016-05-22 16:56] edgarcosta commented on #1247
The ```<div id="content">``` should be loaded from from a different page (see image).
This would also allow us to display something even if the connection to the DB is not working.

For example, Lfunctions already do these with their plots, the page loads, before they display the plot.

<img width="1085" alt="idea" src="https://cloud.githubusercontent.com/assets/322822/15455230/805fb94c-201c-11e6-

[2016-05-22 17:07] edgarcosta commented on #1247
https://github.com/LMFDB/lmfdb/blob/master/lmfdb/templates/base.html, if
I understand correctly.  Seems worth doing if it is almost no effort.

I agree.

On if we pursue loading the ```<div id="content">``` from some other page, then we should also move most of the javascripts to the base.html.

[2016-05-22 17:38] AndrewVSutherland commented on #1318
So I reran the exact same test I did before on atkin, but this time connected to the new mongo db I created on lmfdb.warwick.ac.uk, using an elliptic_curves db I dumped and restored from the main database.  With this setup the performance is essentially as good as in the cloud, it takes only 10 minutes to copy the curves collection, and less than 15 minutes to rewrite it with twice as many fields.

[2016-05-22 17:39] AndrewVSutherland commented on #1318
I also meant to add, that while doing some testing on the main mongo db I saw some of the same BulkWriteErrors that John Cremona did, and this concerns me, I'd like to understand why these are happening.

[2016-05-22 18:01] edgarcosta commented on #1318
It isn't trivial, but the key is to use m0 and m1, otherwise the servers won't communicate with each other very well.

0- pick a port, let's say 37099
1- take care of firewall and set up ssh tunnel at warwick.lmfdb.xyz (I can do this after you tell me the port)
2- start all the 3 mongodb servers at that port, with the same replicaset name, and point the db and logfile to somewhere on your home dir

[2016-05-22 18:16] AndrewVSutherland commented on #1318
@edgarcost -- OK I might not bother with this right now, but what you
said already let me guess what the cause of the BulkWriteError's is: if
the default write_concern has wtimeout set to 5000 milliseconds, I could
easily imagine that occasionally a large insert_many would hit the
timeout.

Also, is there are reason to set w to majority?  I would think 1 would
be enough, or do you want to force an

[2016-05-22 18:57] edgarcosta commented on #1318
I don't think that is the issue,  your insert_many were taking less than a second each.
We can easily increase from 5s to 60s.

That majority is there to assure that m0 or m1 don't become stale.
With w = 1, you are just wait for the acknowledgment that warwick wrote it down, and this is very bad, as warwick can write it down much faster than it can upload it.
With w = majority you are waiting that

[2016-05-22 19:11] JohnCremona commented on #1267
Now that #1318 is done (under review at least) I'll start on this one.  After #1318 I will do things a little differently which will simplify the coding and the transition.
 - 0. Work out exactly which additional data fields to precompute and store.
 - 1. Add to the current upload script (which already does some of the precomputations) to do everything and store it.
 - 2. Run this on all my input

[2016-05-22 19:35] AndrewVSutherland commented on #1318
On 2016-05-22 14:57, edgarcosta wrote:

Not all of them, and it only takes one exceeding 5 seconds and then the
whole operation fails.  I'm pretty sure this is what was happening to
John Cremona, who was seeing these intermittently (and
non-deterministically) when attempting to do a lot of inserts at the
same time John Jones was loading number fields (or consider the scenario
you paint below, with

[2016-05-22 19:47] AndrewVSutherland commented on #1267
@JohnCremona I think we can handle this, but why not let the code use nfcurves2 for a while; there is no reason we can't just copy nfcurves2 to the cloud and push the code to prod.  Once we are happy (and have backed up everything) we can simply replace nfcurves with a copy (not a rename) of nfcurves2, then change the code to use nfcurves, push it, and then delete nfcurves2.

We could do the same

[2016-05-22 19:58] JohnCremona commented on #1267
A very good suggestion!  Now for the real work (not for a few days though).

[2016-05-22 20:06] AndrewVSutherland commented on #1267
@JohnCremona No rush.  And I will review your current PR once I get the PR I am working on now submitted.  BTW, I don't know if you saw the discussion about wtimeout that I had with Edgar in another thread, but I just made a change to rewrite.py to increase wtimeout to 60 seconds, which I believe should prevent the BulkWriteErrors you were occasionally seeing.  But please let me know if you run in

[2016-05-22 20:07] edgarcosta commented on #1318
correct?)

No. If you write too much, and don't them catch up, they might never be able to catch up, without forcing a full resync.

from: https://docs.mongodb.com/manual/tutorial/resync-replica-set-member/

However, I agree that the default 5s timeout was a bit aggressive, and perhaps we should increase it, but in either case, with high latency the solution is doing it in bulk.

[2016-05-22 20:38] AndrewVSutherland commented on #1318
On 2016-05-22 16:07, edgarcosta wrote:

Yikes.

Agreed.  I just changed rewrite.py to explicitly set wtimeout=60000, but
I think it makes sense to make this the default -- what is the advantage
of timing out earlier?  None of our code handles these kinds of errors.

[2016-05-22 21:02] edgarcosta commented on #1209
The code never runs that retry code.

It tries only once, and it it fails, raises an exception, for example a pymongo.errors.ServerSelectionTimeoutError.
This exception should be handled by the ```@app.errorhandler(500)```, however that also depends on the db connection...

Further, the current default timeout time is 30s, and by that time the worker already got killed by gunicorn (we should perha

[2016-05-22 22:00] edgarcosta commented on #1318
I just followed the recommended numbers.
60s sounds fine to me for most of the things, except for the knowls, it would be nice to timeout the mongodb write before the worker gets killed.
However, I don't ever see why that would ever take more than 0.1s.

[2016-05-22 22:07] AndrewVSutherland commented on #1318
@edgarcosta I don't think we should be killing workers every 30s, how about bumping that to 300s (as previously discussed)?  There isn't much that can wrong in 5 minutes (and if it can, I'd like to know about it rather than hiding it).  I also think we should bump the number of requests a worker handles before getting reset up to 1000.

We can certainly set the write_concern for the knowledge db t

[2016-05-22 22:19] AndrewVSutherland commented on #1318
@edgarcosta I'm confused as to why you say it should never take more than 0.1s.  That's less than the ping time from lmfdb.warwick.ac.uk to m0.lmfdb.xyz and m1.lmfdb.xyz.  And if m0 and m1 are having trouble staying caught up because a lot of data is being added at Warwick, I can imagine it taking much longer than 0.1s to confirm that they have completed a large bulk write.  But I must be misunder

[2016-05-22 22:23] edgarcosta commented on #1318
@AndrewVSutherland
1-
I don't see the advantage of 300s, are you willing to wait 300s for a page to load?
I don't know what is their definition of silent http://docs.gunicorn.org/en/stable/settings.html#timeout, but this is what prevents and tells us about issues similar to #1358 . Even if you are willing to wait 300s, the load balancer will just tell you that it timed out.

2- Ups, 0.1s was a bit

[2016-05-22 22:26] edgarcosta commented on #1318
@AndrewVSutherland the timeout is now 15s

[2016-05-22 22:29] AndrewVSutherland commented on #1318
On 2016-05-22 18:23, edgarcosta wrote:

Definitely not but that is not what I was referring to (sorry if I
didn't make this clear, I realize now you were talking about a
*different* 30 seconds).

As I understand it currently workers are currently killed after being
idle for 30s or processing 100 requests, which ever comes first.  I
think we discussed (and Harald Schilly suggested) increasing both

[2016-05-23 00:57] jvoight opened #1442 ""No newforms" on Galois conjugate pages"
Y'all'll probably fix this in v.1.1, but right now on lmfdb.org, if you go to
   http://lmfdb.org/ModularForm/GL2/Q/holomorphic/32/2/29/
you'll see a page that says it has no newforms in it, but it is conjugate to a space that does have newforms.  This is confusing.

[2016-05-23 01:02] jvoight opened #1443 "Product L-functions for modular forms"
It would be very helpful to list not just the individual L-functions L(f,s) but the product over all Galois conjugates.  In weight 2, these are the L-functions attached to abelian varieties, for example if f has coefficients in a quadratic field, then L(f,s)*L(f^sigma,s) is a degree 4 L-function with L-polynomials having rational coefficients associated to an abelian surface of GL_2-type.

http://

[2016-05-23 01:05] jvoight commented on #437
See also #59.  There wasn't much of a discussion there, but it should be taken into consideration when this is done.

[2016-05-23 02:47] jwbober commented on #1248
I've now computed the Galois orbit structure and coefficient fields for all levels < 100 and weight < 13, and all characters. (And I also have scattered data for 100 <= level < 371).

This took longer than it should have because I've been doing things in a rather ad hoc manner. (These computations are still in an "experimental" phase, and I actually never even planned on fully identifying so many

[2016-05-23 08:28] JohnCremona commented on #1443
I agree 100%.   We do attach d distinct degree 2 L-functions to a Galois orbit of size d by making d different choices of embedding, but we should also attach their product, a degree 2*d L-function independent of any choices.  As @jvoight says these are the ones which arise a lot in arithmetic geometry.

[2016-05-23 08:32] JohnCremona commented on #1248
There is a comment I wanted to make on this or one of the similar threads (where people were trying to polredabs the polynomials defining the Hecke fields):

We are computing more of these Hecke fields than anyone ever has before (surely?) so we could try to see the prevalence of huge discriminants as a feature rather than a bug, i.e. it is an interesting mathematical observation worthy of being c

[2016-05-23 08:48] AndrewVSutherland commented on #1248
@JohnCremona I agree 100% (also see https://github.com/LMFDB/lmfdb/issues/1386), and I think it could be very useful (once we have dealt with more urgent issues) to try to add any invariants of the coefficient fields that can be feasibly computed (e.g. ramification data at small primes, low degree subfields), as this information could be of interest completely independent of the q-expansions, and

[2016-05-23 08:59] AndrewVSutherland commented on #1248
@jwbober Thank you for the data!  As soon as I wrap up the PR I am currently working on I will take a look.  I have data computed in magma (for a much smaller range, obviously) that I plan to compare to the data in modularforms2.  One other question: would it be possible (at least within the ranges (k,N) in [2,12] x [1,50] and [2,20] x [1,16] current listed in http://beta.lmfdb.org/knowledge/show/

[2016-05-23 09:14] AndrewVSutherland commented on #1442
@jvoight Thanks for letting us know!.  I'm sure you are just trying to be diplomatic, but this isn't "confusing", it is a mathematical error in the data related to the open critical issue https://github.com/LMFDB/lmfdb/issues/1248 (and this form is within the extent we claim to have, see https://github.com/LMFDB/lmfdb/issues/873).  We are working on getting this (and all other errors in the data)

[2016-05-23 09:14] #1442 closed

[2016-05-23 09:18] AndrewVSutherland commented on #1248
As reported by @jvoight (see https://github.com/LMFDB/lmfdb/issues/1442#issue-156183423), the page http://lmfdb.org/ModularForm/GL2/Q/holomorphic/32/2/29/ claims that this space is empty but also conjugate to the evidently non-empty space http://lmfdb.org/ModularForm/GL2/Q/holomorphic/32/2/5/.  I will add a test to check for these kinds of errors to the test script https://github.com/LMFDB/lmfdb/b

[2016-05-23 14:17] annahaensch commented on #1342
I just saw this issue, and I am working on that today. I'll comment again when it's done.

[2016-05-23 14:18] annahaensch commented on #1343
I just saw this, and I'm working on it today.

[2016-05-23 16:23] annahaensch commented on #1343
I edited the knowls for integral lattice and Gram matrix in the beta version.  Please tell me if this sufficiently addresses your concerns.

[2016-05-23 20:52] JohnCremona opened #1444 "Add a collection of genus 3 hyperelliptic curves to the database"
Dokchitser and Dokchitser have a collection of hyperelliptic genus 3 curves over Q, and these should be added using code and web pages similar to those for genus 2 curves.

[2016-05-23 21:09] annahaensch commented on #1342
I've built up a knowl called lattice.history giving a brief history and highlighting some of the specific connections between lattices and LMFDB objects as well as some relevant lattice topics of interest.  I'll continue to work on it.  But there is something there now. @sanni85 will add a link to the knowl on the lattice homepage.